.wc-shortcodes-clearfix:before,
.wc-shortcodes-clearfix:after {
    content: "";
    display: table;
}

.wc-shortcodes-clearfix:after {
    clear: both;
}

.wc-shortcodes-clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/**
 * [wc_accordion]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-accordion { 
	margin-bottom: 20px; 
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-trigger {
	display: block;
	position: relative;
	padding: 0;
	border: 1px solid #cccccc;
	outline: 0;
	margin: 3px 0 0 0; 
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-trigger a {
	display: block;
	padding: 10px 20px;
	cursor: pointer;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-accordion .wc-shortcodes-accordion-trigger a {
	padding: 10px 20px 10px 40px;
	position: relative;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-accordion .wc-shortcodes-accordion-trigger a:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-size: inherit;
	text-decoration: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* *margin-right: @spacing; */
	speak: none;
	content: "\f105";
	margin-right: 0px;
	display: inline-block;
	line-height: inherit;

	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 10px 0;
	width: 40px;
	text-align: center;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-accordion .wc-shortcodes-accordion-trigger a:hover:before {
	text-decoration: none;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-accordion .wc-shortcodes-accordion-trigger.wc-shortcodes-accordion-header-active a:before {
		content: "\f107";
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-trigger:first-child {
	margin-top: 0; 
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-content-wrapper {
	overflow: hidden;
	height: 0;
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-content {
	padding: 20px;
	border: 1px solid #cccccc;
	border-top: 0px; 
}
.wc-shortcodes-accordion.wc-shortcodes-accordion-layout-none .wc-shortcodes-accordion-content {
	padding: 20px 0;
	border-width: 0;
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-content *:last-child {
	margin-bottom: 0 
}


/**
 * [wc_toggle]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-toggle {
	margin-bottom: 20px; 
}
.wc-shortcodes-toggle .wc-shortcodes-toggle-trigger {
	display: block;
	position: relative;
	padding: 0;
	border: 1px solid #cccccc;
	outline: 0;
	margin: 3px 0 0 0; 
}
.wc-shortcodes-toggle .wc-shortcodes-toggle-trigger a {
	display: block;
	padding: 10px 20px;
	cursor: pointer;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-toggle .wc-shortcodes-toggle-trigger a {
	padding: 10px 20px 10px 40px;
	position: relative;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-toggle .wc-shortcodes-toggle-trigger a:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-size: inherit;
	text-decoration: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* *margin-right: @spacing; */
	speak: none;
	content: "\f105";
	margin-right: 0px;
	display: inline-block;
	line-height: inherit;

	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 10px 0;
	width: 40px;
	text-align: center;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-toggle .wc-shortcodes-toggle-trigger a:hover:before {
	text-decoration: none;
}
.wc-shortcodes-font-awesome-enabled .wc-shortcodes-toggle .wc-shortcodes-toggle-trigger.active a:before {
	content: "\f107";
}

.wc-shortcodes-toggle .wc-shortcodes-toggle-trigger.active a {
}
.wc-shortcodes-toggle .wc-shortcodes-toggle-trigger:first-child {
	margin-top: 0; 
}
.wc-shortcodes-toggle .wc-shortcodes-toggle-container {
	overflow: hidden;
	padding: 20px;
	border: 1px solid #cccccc;
	border-top: 0px; 
}
.wc-shortcodes-toggle.wc-shortcodes-toggle-layout-none .wc-shortcodes-toggle-container {
	border-width: 0;
	padding: 20px 0;
}
.wc-shortcodes-toggle .wc-shortcodes-toggle-container *:last-child {
	margin-bottom: 0 
}
.wc-shortcodes-toggle .wc-shortcodes-toggle-content-wrapper {
	overflow: hidden;
	height: 0;
}


/**
 * [wc_tabs]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-tabs {
	margin-bottom: 20px; 
}
.wc-shortcodes-tabs ul.wcs-tabs-nav {
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #cccccc; 
}
.wc-shortcodes-tabs ul.wcs-tabs-nav li {
	display: block;
	width: auto;
	padding: 0;
	float: left;
	margin: 0 0 -1px 0;
	outline: none; 
}
.wc-shortcodes-tabs ul.wcs-tabs-nav li a {
	display: block;
	width: auto;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	border-width: 1px 1px 0 1px;
	margin-right: 3px;
	outline: none; 
}
.wc-shortcodes-tabs ul.wcs-tabs-nav .wcs-state-active a {
	background-color: #ffffff;
	border-bottom-width: 0;
	border-bottom-color: transparent; 
}
.wc-shortcodes-tabs .tab-content {
	background: #ffffff;
	padding: 20px;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc; 
}
.wc-shortcodes-tabs .tab-content-wrapper {
	overflow: hidden;
}
.wc-shortcodes-tabs .tab-content-wrapper.tab-content-hide {
	height: 0;
}
.wc-shortcodes-tabs.wc-shortcodes-tabs-layout-none .tab-content {
	padding: 20px 0;
	border-width: 0;
}
.wc-shortcodes-tabs .tab-content *:last-child {
	margin-bottom: 0 
}


/**
 * [wc_row]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-row {
	display: block;
	width: 100%;
}


/**
 * [wc_column]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-one-half { width: 48% }
.wc-shortcodes-one-third { width: 30.66% }
.wc-shortcodes-two-third { width: 65.33% }
.wc-shortcodes-one-fourth { width: 22% }
.wc-shortcodes-three-fourth { width: 74% }
.wc-shortcodes-one-fifth { width: 16.8% }
.wc-shortcodes-two-fifth { width: 37.6% }
.wc-shortcodes-three-fifth { width: 58.4% }
.wc-shortcodes-four-fifth { width: 67.2% }
.wc-shortcodes-one-sixth { width: 13.33% }
.wc-shortcodes-five-sixth { width: 82.67% }

.wc-shortcodes-one-half,
.wc-shortcodes-one-third,
.wc-shortcodes-two-third,
.wc-shortcodes-three-fourth,
.wc-shortcodes-one-fourth,
.wc-shortcodes-one-fifth,
.wc-shortcodes-two-fifth,
.wc-shortcodes-three-fifth,
.wc-shortcodes-four-fifth,
.wc-shortcodes-one-sixth,
.wc-shortcodes-five-sixth {
	position: relative;
	margin-left: 4%;
	margin-bottom: 0;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wc-shortcodes-column-first {
	margin-left: 0!important;
	clear: left;
}

@media (max-width: 480px) {
	body .wc-shortcodes-one-half,
	body .wc-shortcodes-one-third,
	body .wc-shortcodes-two-third,
	body .wc-shortcodes-three-fourth,
	body .wc-shortcodes-one-fourth,
	body .wc-shortcodes-one-fifth,
	body .wc-shortcodes-two-fifth,
	body .wc-shortcodes-three-fifth,
	body .wc-shortcodes-four-fifth,
	body .wc-shortcodes-one-sixth,
	body .wc-shortcodes-five-sixth {
		width: 100%;
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
	}
}


/**
 * [wc_testimonials]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-testimonial { 
	margin-bottom: 20px;
}
.wc-shortcodes-testimonial-content { 
	position: relative;
	float: left;
	background: #eeeeee;
	padding: 20px;
	width: 100%;
}
.wc-shortcodes-testimonial-content:after {
	content: "";
	position: absolute;
	left: 12px;
	bottom: -15px;
	width: 0px;
	height: 0px;
	border-bottom: 15px solid rgba(255,255,255,0);
	border-top: 15px solid rgba(255,255,255,0);
	border-right: 15px solid #eeeeee;
	font-size: 0px;
	line-height: 0px;
}
.wc-shortcodes-testimonial-content *:last-child {
	margin-bottom: 0;
	clear: both;
}
.wc-shortcodes-testimonial-author {
	float: left;
	margin-top: 20px;
	margin-left: 15px;
}
.wc-shortcodes-testimonial-right .wc-shortcodes-testimonial-content:after {
	right: 12px;
	left: auto;
	bottom: -15px;
	border-left: 15px solid #eeeeee;
	border-right-width: 0;
}
.wc-shortcodes-testimonial-right .wc-shortcodes-testimonial-author {
	float: right;
	margin-right: 15px;
	margin-left: 0;
	text-align: right;
}


/**
 * Border
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-divider {
	display: block;
	width: 100%;
	background: none; 
}

/* Image Line */
.wc-shortcodes-divider.wc-shortcodes-divider-style-image {
	border: 0;
	height: 10px;
	background: url("../img/circle-border.png") repeat-x center left scroll;
}

/* Image Line 2 */
.wc-shortcodes-divider.wc-shortcodes-divider-style-image2 {
	border: 0;
	height: 10px;
	background: url("../img/dash-border.png") repeat-x center left scroll;
}

/* Image Line 3 */
.wc-shortcodes-divider.wc-shortcodes-divider-style-image3 {
	border: 0;
	height: 10px;
	background: url("../img/rustic-border.png") repeat-x center left scroll;
}

/* Single Solid Line */
.wc-shortcodes-divider.wc-shortcodes-divider-style-solid {
	border: 0;
	height: auto;
	background: none;
	border-bottom: 1px solid #cccccc;
}

/* Single Dotted Line */
.wc-shortcodes-divider.wc-shortcodes-divider-style-dotted {
	border: 0;
	height: auto;
	background: none;
	border-bottom: 1px dotted #cccccc;
}

/* Single Dashed Line */
.wc-shortcodes-divider.wc-shortcodes-divider-style-dashed {
	border: 0;
	height: auto;
	background: none;
	border-bottom: 1px dashed #cccccc;
}

/* Double Solid Line */
.wc-shortcodes-divider.wc-shortcodes-divider-line-double.wc-shortcodes-divider-style-solid {
	border: 0;
	background: none;
	height: 5px;
	border-bottom: 1px solid #cccccc;
}
.wc-shortcodes-divider.wc-shortcodes-divider-line-double.wc-shortcodes-divider-style-solid:before {
	content: '';
	display: block;
	width: 100%;
	border: 0;
	height: auto;
	background: none;
	border-bottom: 1px solid #cccccc;
}

/* Double Dotted Line */
.wc-shortcodes-divider.wc-shortcodes-divider-line-double.wc-shortcodes-divider-style-dotted {
	border: 0;
	background: none;
	height: 5px;
	border-bottom: 1px dotted #cccccc;
}
.wc-shortcodes-divider.wc-shortcodes-divider-line-double.wc-shortcodes-divider-style-dotted:before {
	content: '';
	display: block;
	width: 100%;
	border: 0;
	height: auto;
	background: none;
	border-bottom: 1px dotted #cccccc;
}

/* Double Dashed Line */
.wc-shortcodes-divider.wc-shortcodes-divider-line-double.wc-shortcodes-divider-style-dashed {
	border: 0;
	background: none;
	height: 5px;
	border-bottom: 1px dashed #cccccc;
}
.wc-shortcodes-divider.wc-shortcodes-divider-line-double.wc-shortcodes-divider-style-dashed:before {
	content: '';
	display: block;
	width: 100%;
	border: 0;
	height: auto;
	background: none;
	border-bottom: 1px dashed #cccccc;
}


/**
 * [wc_spacing]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-spacing {
	display: block !important;
	height: auto;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	outline: none !important;
	background: none !important;
}


/**
 * [wc_button]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-button {
	line-height: 1.3;
	margin-right: 10px;
	margin-bottom: 20px;
}
.wc-shortcodes-button:visited,
.wc-shortcodes-button {
	border: none;
	text-decoration: none;
	color: #ffffff;
	background-color: #428bca;
	border: 1px solid #357ebd;
	display: inline-block;
	padding: 6px 20px;
}

.wc-shortcodes-button:hover {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
	text-decoration: none;
	outline: none;
}

.wc-shortcodes-button:active {}

.wc-shortcodes-button-left {
	text-align: left;
	margin-right: 0px;
	margin-left: 0px;
}
.wc-shortcodes-button-center {
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
}
.wc-shortcodes-button-center .wc-shortcodes-button {
	margin-right: 0px;
	margin-left: 0px;
}

.wc-shortcodes-button-right {
	text-align: right;
}
.wc-shortcodes-button-right .wc-shortcodes-button {
	margin-right: 0px;
	margin-left: 10px;
}

.wc-shortcodes-button-icon-left {
	margin-right: 0.5em;
}
.wc-shortcodes-button-icon-right {
	margin-left: 0.5em;
}

/* Secondary */
.wc-shortcodes-button.wc-shortcodes-button-secondary:visited,
.wc-shortcodes-button.wc-shortcodes-button-secondary {
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.wc-shortcodes-button.wc-shortcodes-button-secondary:hover {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

/* Inverse */
.wc-shortcodes-button.wc-shortcodes-button-inverse:visited,
.wc-shortcodes-button.wc-shortcodes-button-inverse {
	color: #357ebd;
	background-color: #e4ecf3;
	border: 1px solid #428bca;
}

.wc-shortcodes-button.wc-shortcodes-button-inverse:hover {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}

/* Success */
.wc-shortcodes-button.wc-shortcodes-button-success:visited,
.wc-shortcodes-button.wc-shortcodes-button-success {
	color: #ffffff;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
}

.wc-shortcodes-button.wc-shortcodes-button-success:hover {
	color: #ffffff;
	background-color: #47a447;
	border-color: #398439;
}

/* Warning */
.wc-shortcodes-button.wc-shortcodes-button-warning:visited,
.wc-shortcodes-button.wc-shortcodes-button-warning {
	color: #ffffff;
	background-color: #f0ad4e;
	border: 1px solid #eea236;
}

.wc-shortcodes-button.wc-shortcodes-button-warning:hover {
	color: #ffffff;
	background-color: #ed9c28;
	border-color: #d58512;
}

/* Danger */
.wc-shortcodes-button.wc-shortcodes-button-danger:visited,
.wc-shortcodes-button.wc-shortcodes-button-danger {
	color: #ffffff;
	background-color: #d9534f;
	border: 1px solid #d43f3a;
}

.wc-shortcodes-button.wc-shortcodes-button-danger:hover {
	color: #ffffff;
	background-color: #d2322d;
	border-color: #ac2925;
}

/* Info */
.wc-shortcodes-button.wc-shortcodes-button-info:visited,
.wc-shortcodes-button.wc-shortcodes-button-info {
	color: #ffffff;
	background-color: #5bc0de;
	border: 1px solid #46b8da;
}

.wc-shortcodes-button.wc-shortcodes-button-info:hover {
	color: #ffffff;
	background-color: #39b3d7;
	border-color: #269abc;
}


/**
 * [wc_box]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-box {
	display: block;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.wc-shortcodes-box *:last-child {
	margin-bottom: 0;
}
.wc-shortcodes-box *:first-child {
	margin-top: 0;
}

/* Primary Box */
.wc-shortcodes-box.wc-shortcodes-box-primary {
	background-color: #428bca;
	border: 1px solid #358ebd;
}
.wc-shortcodes-box.wc-shortcodes-box-primary * {
	color: #ffffff;
}

/* Secondary Box */
.wc-shortcodes-box.wc-shortcodes-box-secondary {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.wc-shortcodes-box.wc-shortcodes-box-secondary * {
	color: #333333;
}

/* Inverse Box */
.wc-shortcodes-box.wc-shortcodes-box-inverse {
	background-color: #e4ecf3;
	border: 1px solid #428bca;
}
.wc-shortcodes-box.wc-shortcodes-box-inverse * {
	color: #357ebd;
}

/* Success Box */
.wc-shortcodes-box.wc-shortcodes-box-success {
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
}
.wc-shortcodes-box.wc-shortcodes-box-success * {
	color: #ffffff;
}

/* Warning Box */
.wc-shortcodes-box.wc-shortcodes-box-warning {
	background-color: #f0ad4e;
	border: 1px solid #eea236;
}
.wc-shortcodes-box.wc-shortcodes-box-warning * {
	color: #ffffff;
}

/* Danger Box */
.wc-shortcodes-box.wc-shortcodes-box-danger {
	background-color: #d9534f;
	border: 1px solid #d43f3a;
}
.wc-shortcodes-box.wc-shortcodes-box-danger * {
	color: #ffffff;
}

/* Info */
.wc-shortcodes-box.wc-shortcodes-box-info {
	background-color: #5bc0de;
	border: 1px solid #46b8da;
}
.wc-shortcodes-box.wc-shortcodes-box-info * {
	color: #ffffff;
}


/**
 * [wc_googlemap]
 * ----------------------------------------------------------------------------
 */
.googlemap {
	position: relative;
	max-width: inherit;
	margin-bottom: 20px;
}
.googlemap .map_canvas {
	width: 100%; height: 100%;
}
.googlemap .map_canvas h3 {
	margin: 0 0 10px; font-size: 14px;
}
#page .map_canvas img {
	max-width: none;
}


/**
 * [wc_social_icons]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-social-icons-wrapper {
	width: 100%;
	margin-bottom: 14px;
	line-height: 1;
}
.wc-shortcodes-social-icons {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 1;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-align-center {
	text-align: center;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-align-center li {
	margin-right: 3px;
	margin-left: 3px;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-align-right {
	text-align: right;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-align-right li {
	margin-right: 0;
	margin-left: 6px;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-size-medium img {
	max-height: 24px;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-size-medium i {
	font-size: 14px;
	width: 24px;
	height: 24px;
	line-height: 24px;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-size-small img {
	max-height: 16px;
}
.wc-shortcodes-social-icons.wc-shortcodes-social-icons-size-small i {
	font-size: 10px;
	width: 16px;
	height: 16px;
	line-height: 16px;
}
.wc-shortcodes-social-icons li {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 6px;
}
.wc-shortcodes-social-icons li a {
	display: block;
	line-height: 1;
}
.wc-shortcodes-social-icons li img {
	max-height: 48px;
}
.wc-shortcodes-social-icons li i {
	font-size: 24px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	background-color: #999999;
	color: #ffffff;
	box-sizing: content-box;
	padding: 1px;
}
.wc-shortcodes-social-icons li i.fa-facebook { background-color: #305999; }
.wc-shortcodes-social-icons li i.fa-google-plus { background-color: #ee7321; }
.wc-shortcodes-social-icons li i.fa-twitter { background-color: #00a7f1; }
.wc-shortcodes-social-icons li i.fa-pinterest { background-color: #d64800; }
.wc-shortcodes-social-icons li i.fa-instagram { background-color: #b2b2b4; }
.wc-shortcodes-social-icons li i.fa-plus-square { background-color: #00b5fc; }
.wc-shortcodes-social-icons li i.fa-flickr { background-color: #ff6182; }
.wc-shortcodes-social-icons li i.fa-rss { background-color: #facf4c; }
.wc-shortcodes-social-icons li i.fa-envelope { background-color: #ebe180; }
.wc-shortcodes-social-icons li i.fa-dollar { background-color: #d46000; }
.wc-shortcodes-social-icons li i.fa-camera { background-color: #333333; }
.wc-shortcodes-social-icons li i.fa-shopping-cart { background-color: #a5d488; }
.wc-shortcodes-social-icons li i.fa-youtube { background-color: #c74a00; }
.wc-shortcodes-social-icons li i.fa-tumblr { background-color: #426b8a; }

.wc-shortcodes-social-icons.wc-shortcodes-maxheight- img { max-height: none; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-10 img { max-height: 10px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-12 img { max-height: 12px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-14 img { max-height: 14px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-16 img { max-height: 16px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-18 img { max-height: 18px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-20 img { max-height: 20px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-22 img { max-height: 22px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-24 img { max-height: 24px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-26 img { max-height: 26px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-28 img { max-height: 28px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-30 img { max-height: 30px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-32 img { max-height: 32px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-34 img { max-height: 34px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-36 img { max-height: 36px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-38 img { max-height: 38px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-40 img { max-height: 40px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-42 img { max-height: 42px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-44 img { max-height: 44px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-46 img { max-height: 46px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-48 img { max-height: 48px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-50 img { max-height: 50px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-52 img { max-height: 52px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-54 img { max-height: 54px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-56 img { max-height: 56px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-58 img { max-height: 58px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-60 img { max-height: 60px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-62 img { max-height: 62px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-64 img { max-height: 64px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-66 img { max-height: 66px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-68 img { max-height: 68px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-70 img { max-height: 70px; }

.wc-shortcodes-social-icons.wc-shortcodes-maxheight-10 i { font-size: 5px; line-height: 10px; height: 10px; width: 10px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-12 i { font-size: 6px; line-height: 12px; height: 12px; width: 12px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-14 i { font-size: 7px; line-height: 14px; height: 14px; width: 14px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-16 i { font-size: 8px; line-height: 16px; height: 16px; width: 16px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-18 i { font-size: 9px; line-height: 18px; height: 18px; width: 18px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-20 i { font-size: 10px; line-height: 20px; height: 20px; width: 20px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-22 i { font-size: 11px; line-height: 22px; height: 22px; width: 22px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-24 i { font-size: 12px; line-height: 24px; height: 24px; width: 24px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-26 i { font-size: 13px; line-height: 26px; height: 26px; width: 26px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-28 i { font-size: 14px; line-height: 28px; height: 28px; width: 28px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-30 i { font-size: 15px; line-height: 30px; height: 30px; width: 30px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-32 i { font-size: 16px; line-height: 32px; height: 32px; width: 32px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-34 i { font-size: 17px; line-height: 34px; height: 34px; width: 34px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-36 i { font-size: 18px; line-height: 36px; height: 36px; width: 36px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-38 i { font-size: 19px; line-height: 38px; height: 38px; width: 38px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-40 i { font-size: 20px; line-height: 40px; height: 40px; width: 40px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-42 i { font-size: 11px; line-height: 42px; height: 42px; width: 42px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-44 i { font-size: 22px; line-height: 44px; height: 44px; width: 44px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-46 i { font-size: 23px; line-height: 46px; height: 46px; width: 46px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-48 i { font-size: 24px; line-height: 48px; height: 48px; width: 48px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-50 i { font-size: 25px; line-height: 50px; height: 50px; width: 50px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-52 i { font-size: 26px; line-height: 52px; height: 52px; width: 52px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-54 i { font-size: 27px; line-height: 54px; height: 54px; width: 54px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-56 i { font-size: 28px; line-height: 56px; height: 56px; width: 56px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-58 i { font-size: 29px; line-height: 58px; height: 58px; width: 58px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-60 i { font-size: 30px; line-height: 60px; height: 60px; width: 60px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-62 i { font-size: 31px; line-height: 62px; height: 62px; width: 62px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-64 i { font-size: 32px; line-height: 64px; height: 64px; width: 64px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-66 i { font-size: 33px; line-height: 66px; height: 66px; width: 66px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-68 i { font-size: 34px; line-height: 68px; height: 68px; width: 68px; }
.wc-shortcodes-social-icons.wc-shortcodes-maxheight-70 i { font-size: 35px; line-height: 70px; height: 70px; width: 70px; }

.wc-shortcodes-social-icons li:first-child {
	margin-left: 0;
}
.wc-shortcodes-social-icons li:last-child {
	margin-right: 0;
}


/**
 * [wc_share]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-share-buttons {
	line-height: 1;
}
.wc-shortcodes-share-buttons ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}
.wc-shortcodes-share-buttons li {
	display: inline-block;
	margin-right: 0.625em;
}
.wc-shortcodes-share-buttons li a {
	display: block;
	line-height: 1;
	text-decoration: none;
	box-shadow: none;
}
.wc-shortcodes-share-buttons li a img {
	vertical-align: top;
	max-height: 36px;
}
.wc-shortcodes-share-buttons ul li:last-child {
	margin-right: 0;
}
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	background-color: #999999;
	color: #ffffff;
}
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon-text li i {
	text-align: center;
}
.wc-shortcodes-share-buttons-format-icon-text li span {
	margin-left: 0.3125em;
}
.wc-shortcodes-share-buttons-format-text li a i {
	display: none;
}
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-facebook { background-color: #305999; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-google-plus { background-color: #ee7321; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-twitter { background-color: #00a7f1; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-pinterest { background-color: #d64800; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-instagram { background-color: #b2b2b4; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-plus-square { background-color: #00b5fc; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-flickr { background-color: #ff6182; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-rss { background-color: #facf4c; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-envelope { background-color: #ebe180; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-dollar { background-color: #d46000; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-camera { background-color: #333333; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-shopping-cart { background-color: #a5d488; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-youtube { background-color: #c74a00; }
.wc-shortcodes-share-buttons.wc-shortcodes-share-buttons-format-icon li i.fa-tumblr { background-color: #426b8a; }

/* filtered share button */
.wc-share-buttons-container {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	clear: both;
}
.wc-share-buttons-container .share-text {
	margin-bottom: 0.3em;
	display: none;
}
.wc-share-buttons-container .wc-shortcodes-share-buttons-format-icon-text li {
	margin-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

/**
 * [wc_skillbar]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-skillbar {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background: #eee;
	height: 35px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}
.wc-shortcodes-skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	background: #6adcfa;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.wc-shortcodes-skillbar-title span {
	display: block;
	background: rgba(0,0,0,0.1);
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.wc-shortcodes-skillbar-bar {
	height: 35px;
	width: 0px;
	background: #6adcfa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.wc-shortcodes-skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: #444;
	color: rgba(0,0,0,0.4);
}


/**
 * [wc_pricing]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-pricing {
	margin-bottom: 20px;
}
.wc-shortcodes-pricing div {
	list-style: none;
}
.wc-shortcodes-pricing > div {
	list-style: none;
	text-shadow: none;
	margin-bottom: 0;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-header {
	background: #428bca;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
	border: 1px solid #357ebd;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-header h5 {
	color: #ffffff;
	font-size: 130%;
	margin: 0;
	padding: 0 20px 20px;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-cost {
	font-size: 170%;
	padding-top: 20px;
	border-top: 1px solid #357ebd;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-per {
	font-size: 80%;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-content {
	background: #ffffff;
	text-align: center;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-content ul li {
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid #eeeeee;
	list-style: none;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-content ul li:nth-child(2n+2) {
	background: #f7f7f7;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-button {
	text-align: center;
	padding: 20px;
	border: 1px solid #eeeeee;
	border-top-width: 0;
}
.wc-shortcodes-pricing .wc-shortcodes-pricing-button .wc-shortcodes-button {
	float: none;
	margin: 0;
}

/* Secondary */
.wc-shortcodes-pricing.wc-shortcodes-pricing-type-secondary .wc-shortcodes-pricing-header {
	background: #333333;
	color: #ffffff;
	border: 1px solid #cccccc;
}
.wc-shortcodes-pricing.wc-shortcodes-pricing-type-secondary .wc-shortcodes-pricing-header h5 {
	color: #ffffff;
}
.wc-shortcodes-pricing.wc-shortcodes-pricing-type-secondary .wc-shortcodes-pricing-cost {
	border-top: 1px solid #000000;
}

/* Inverse */
.wc-shortcodes-pricing.wc-shortcodes-pricing-type-inverse .wc-shortcodes-pricing-header {
	background: #e4ecf3;
	color: #357ebd;
	border: 1px solid #cccccc;
}
.wc-shortcodes-pricing.wc-shortcodes-pricing-type-inverse .wc-shortcodes-pricing-header h5 {
	color: #357ebd;
}
.wc-shortcodes-pricing.wc-shortcodes-pricing-type-inverse .wc-shortcodes-pricing-cost {
	border-top: 1px solid #cccccc;
}


/**
 * [wc_highlight]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-highlight-yellow, .wc-shortcodes-highlight-yellow a {
	background-color: #fff7a8;
	color: #695d43;
}
.wc-shortcodes-highlight-blue, .wc-shortcodes-highlight-blue a {
	color: #5091b2;
	background: #e9f7fe;
}
.wc-shortcodes-highlight-green, .wc-shortcodes-highlight-green a {
	color: #5f9025;
	background: #d3e8da;
}
.wc-shortcodes-highlight-red, .wc-shortcodes-highlight-red a {
	color: #de5959;
	background: #ffe9e9;
}
.wc-shortcodes-highlight-gray, .wc-shortcodes-highlight-gray a {
	color: #555555;
	background: #f7f7f7;
}


/**
 * [wc_html]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-html-wrapper {
	margin-bottom: 20px;
}


/**
 * [wc_pre]
 * ----------------------------------------------------------------------------
 */
/* desert scheme ported from vim to google prettify */
pre.prettyprint { 
	display: block;
	background-color: #333;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	word-wrap: normal;
}
pre .nocode { background-color: transparent; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
/* li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none } */
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
	pre.prettyprint { background-color: transparent; }
	pre .str, code .str { color: #060 }
	pre .kwd, code .kwd { color: #006; font-weight: bold }
	pre .com, code .com { color: #600; font-style: italic }
	pre .typ, code .typ { color: #404; font-weight: bold }
	pre .lit, code .lit { color: #044 }
	pre .pun, code .pun { color: #440 }
	pre .pln, code .pln { color: #000 }
	pre .tag, code .tag { color: #006; font-weight: bold }
	pre .atn, code .atn { color: #404 }
	pre .atv, code .atv { color: #060 }
}

pre.pre-scrollable {
	max-height: 600px;
}
pre.pre-wrap {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/**
 * [wc_center]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-center {
	margin: 0 auto;
	width: 100%;
}
.wc-shortcodes-center.wc-shortcodes-center-inner-align-center {
	text-align: center;
}
.wc-shortcodes-center.wc-shortcodes-center-inner-align-left {
	text-align: left;
}
.wc-shortcodes-center.wc-shortcodes-center-inner-align-right {
	text-align: right;
}


/**
 * [wc_heading]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-heading .wc-shortcodes-heading-style1 {
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}
.wc-shortcodes-heading.text-align-center {
	text-align: center;
}
.wc-shortcodes-heading.text-align-left {
	text-align: left;
}
.wc-shortcodes-heading.text-align-right {
	text-align: right;
}


/**
 * Social Media Widget
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons {
	text-align: center;
}
.wc-shortcodes-social-icons.wc-shortcodes-columns-float-left {
	text-align: left;
}
.wc-shortcodes-social-icons.wc-shortcodes-columns-float-right {
	text-align: right;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons li {
	display: inline-block;
	padding: 3px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-float-left li {
	padding-right: 6px;
	padding-left: 0;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-float-right li {
	padding-right: 0;
	padding-left: 6px;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-8 li {
	width: 12.5%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-7 li {
	width: 14.28571428%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-6 li {
	width: 16.66666666%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-5 li {
	width: 20%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-4 li {
	width: 25%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-3 li {
	width: 33.33333333%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-2 li {
	width: 50%;
}
.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-1 li {
	width: 100%;
}

/**
 * jQuery Countdown styles 1.6.3.
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-countdown-bg4 {
	margin-bottom: 20px;
}
.wc-shortcodes-countdown {
	border: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.wc-shortcodes-countdown.countdown_rtl {
	direction: rtl;
}
.wc-shortcodes-countdown.countdown_holding div {
	color: #888;
}
.wc-shortcodes-countdown .countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.wc-shortcodes-countdown .countdown_show1 .countdown_section {
	width: 98%;
}
.wc-shortcodes-countdown .countdown_show2 .countdown_section {
	width: 48%;
}
.wc-shortcodes-countdown .countdown_show3 .countdown_section {
	width: 32.5%;
}
.wc-shortcodes-countdown .countdown_show4 .countdown_section {
	width: 24.5%;
}
.wc-shortcodes-countdown .countdown_show5 .countdown_section {
	width: 19.5%;
}
.wc-shortcodes-countdown .countdown_show6 .countdown_section {
	width: 16.25%;
}
.wc-shortcodes-countdown .countdown_show7 .countdown_section {
	width: 14%;
}
.wc-shortcodes-countdown .countdown_section {
	display: inline-block;
	font-size: 80%;
	text-align: center;
	border-right: 1px solid #cccccc;
}
.wc-shortcodes-countdown .countdown_row *:last-child,
.wc-shortcodes-countdown .countdown_row:last-child {
	border-width: 0;
}
.wc-shortcodes-countdown .countdown_amount {
	font-size: 200%;
}
.wc-shortcodes-countdown .countdown_descr {
	display: block;
	width: 100%;
}
.wc-shortcodes-countdown .countdown_expired_message {
	font-size: 200%;
}


/**
 * [wc_rsvp]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-rsvp input[type="text"], 
.wc-shortcodes-rsvp textarea, 
.wc-shortcodes-rsvp select {
	width: 100%;
}
.wc-shortcodes-rsvp-align-center {
	text-align: center;
}
.wc-shortcodes-rsvp-align-right {
	text-align: right;
}
.rsvp-button-align-center .rsvp-button-wrapper {
	text-align: center;
}
.rsvp-button-align-center .wc-shortcodes-box {
	text-align: center;
}
.rsvp-button-align-right .rsvp-button-wrapper {
	text-align: right;
}
.rsvp-button-align-right .wc-shortcodes-box {
	text-align: right;
}
.rsvp-button-align-left .rsvp-button-wrapper {
	text-align: left;
}
.rsvp-button-align-left .wc-shortcodes-box {
	text-align: left;
}
.wc-shortcodes-rsvp .wc-shortcodes-box {
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
}
.wc-shortcodes-rsvp .rsvp-button {
	display: inline-block;
}


/**
 * [wc_post]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-posts-wrapper {
	overflow-x: hidden;
}
.wc-shortcodes-post-content {
	padding: 0 20px;
}
.wc-shortcodes-post-content > *:last-child {
	margin-bottom: 20px;
}
.wc-shortcodes-post-border {
	border: 1px solid #dddddd;
}
.wc-shortcodes-entry-thumbnail {
	margin: 0;
	text-align: center;
}
.wc-shortcodes-entry-title {
	margin-top: 20px;
	margin-bottom: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.wc-shortcodes-entry-meta {
	margin-top: 20px;
	margin-bottom: 0;
}
.wc-shortcodes-entry-meta-inner {
	/* margin-bottom: 20px; */
}
.wc-shortcodes-entry-summary {
	margin-top: 20px;
	margin-bottom: 0;
}
.wc-shortcodes-read-more {
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
}
.wc-shortcodes-entry-quote blockquote {
	margin-top: 0;
	padding: 10px 20px;
}
.wc-shortcodes-footer-entry-meta {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 80%;
}
.wc-shortcodes-posts {
	position: relative;
	overflow: hidden;
}
.wc-shortcodes-post-box {
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 0;
}
.wc-shortcodes-post-box .wc-shortcodes-entry-video > p,
.wc-shortcodes-post-box .twitter-tweet,
.wc-shortcodes-post-box .mejs-container {
	margin-top: 0 !important;
}
.wc-shortcodes-posts-layout-masonry {
	height: 0;
}
.wc-shortcodes-posts-layout-masonry .wc-shortcodes-post-box {
}
.wc-shortcodes-sep {
	padding-left: 5px;
	padding-right: 5px;
}
.wc-shortcodes-sep,
.wc-shortcodes-author,
.wc-shortcodes-date {
	float: left;
}
/* No Masonry */
.wc-shortcodes-posts.wc-shortcodes-posts-no-masonry {
	visibility: visible;
}
/* Comment Box */
.wc-shortcodes-comments-link {
	float: right;
}
.wc-shortcodes-comments-link a {
	position: relative;
	margin-left: 3px;
	padding: 2px 7px;
	background-color: #eeeeee;
	color: #999999;
	line-height: 1;
}

.wc-shortcodes-comments-link a:after {
	content: "";
	position: absolute;
	left: 40%;
	bottom: -8px;
	width: 0px;
	height: 0px;
	border-bottom: 8px solid rgba(255,255,255,0);
	border-left: 8px solid #eeeeee;
	font-size: 0px;
	line-height: 0px;
}
.wc-shortcodes-comments-link a,
.wc-shortcodes-comments-link a:hover,
.wc-shortcodes-comments-link a:visited,
.wc-shortcodes-comments-link a:active,
.wc-shortcodes-comments-link a:focus {
	color: #999999;
	text-decoration: none;
}

/* masonry filtering */
.wc-shortcodes-filtering {
	margin-bottom: 20px;
}
.wc-shortcodes-filtering .tag-divider {
	display: inline-block;
	padding: 0 7px;
}

/* Post Gallery Slider */
.wc-shortcodes-post-box.format-gallery .rslides-wrapper {
	position: relative;
	background-color: #000000;
}
.wc-shortcodes-post-box.format-gallery .rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.wc-shortcodes-post-box.format-gallery .rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

.wc-shortcodes-post-box.format-gallery .rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.wc-shortcodes-post-box.format-gallery .rslides img {
	display: inline-block;
	height: auto;
	/* float: left; */
	/* width: 100%; */
	border: 0;
}
.wc-shortcodes-post-box.format-gallery .rslides_nav {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	width: 36px;
	height:36px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0,0,0,.2);
	z-index: 2;
}
.wc-shortcodes-post-box.format-gallery .rslides_nav.prev {
	left: 0;
	background-image: url("../img/slide-arrow-left.png");
}
.wc-shortcodes-post-box.format-gallery .rslides_nav.next {
	right: 0;
	background-image: url("../img/slide-arrow-right.png");
}
/* Masonry 2 */
.wc-shortcodes-posts-template-borderless .wc-shortcodes-post-border {
	border: none;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 20px;
}
.wc-shortcodes-posts-template-borderless .wc-shortcodes-post-border > *:first-child {
	margin-top: 0;
}
.wc-shortcodes-posts-template-borderless .wc-shortcodes-post-border > *:last-child {
	margin-bottom: 0;
}
.wc-shortcodes-posts-gutter-space-0 .wc-shortcodes-post-box { margin-bottom: 0px; }
.wc-shortcodes-posts-gutter-space-1 .wc-shortcodes-post-box { margin-bottom: 1px; }
.wc-shortcodes-posts-gutter-space-2 .wc-shortcodes-post-box { margin-bottom: 2px; }
.wc-shortcodes-posts-gutter-space-3 .wc-shortcodes-post-box { margin-bottom: 3px; }
.wc-shortcodes-posts-gutter-space-4 .wc-shortcodes-post-box { margin-bottom: 4px; }
.wc-shortcodes-posts-gutter-space-5 .wc-shortcodes-post-box { margin-bottom: 5px; }
.wc-shortcodes-posts-gutter-space-6 .wc-shortcodes-post-box { margin-bottom: 6px; }
.wc-shortcodes-posts-gutter-space-7 .wc-shortcodes-post-box { margin-bottom: 7px; }
.wc-shortcodes-posts-gutter-space-8 .wc-shortcodes-post-box { margin-bottom: 8px; }
.wc-shortcodes-posts-gutter-space-9 .wc-shortcodes-post-box { margin-bottom: 9px; }
.wc-shortcodes-posts-gutter-space-10 .wc-shortcodes-post-box { margin-bottom: 10px; }
.wc-shortcodes-posts-gutter-space-11 .wc-shortcodes-post-box { margin-bottom: 11px; }
.wc-shortcodes-posts-gutter-space-12 .wc-shortcodes-post-box { margin-bottom: 12px; }
.wc-shortcodes-posts-gutter-space-13 .wc-shortcodes-post-box { margin-bottom: 13px; }
.wc-shortcodes-posts-gutter-space-14 .wc-shortcodes-post-box { margin-bottom: 14px; }
.wc-shortcodes-posts-gutter-space-15 .wc-shortcodes-post-box { margin-bottom: 15px; }
.wc-shortcodes-posts-gutter-space-16 .wc-shortcodes-post-box { margin-bottom: 16px; }
.wc-shortcodes-posts-gutter-space-17 .wc-shortcodes-post-box { margin-bottom: 17px; }
.wc-shortcodes-posts-gutter-space-18 .wc-shortcodes-post-box { margin-bottom: 18px; }
.wc-shortcodes-posts-gutter-space-19 .wc-shortcodes-post-box { margin-bottom: 19px; }
.wc-shortcodes-posts-gutter-space-20 .wc-shortcodes-post-box { margin-bottom: 20px; }
.wc-shortcodes-posts-gutter-space-21 .wc-shortcodes-post-box { margin-bottom: 21px; }
.wc-shortcodes-posts-gutter-space-22 .wc-shortcodes-post-box { margin-bottom: 22px; }
.wc-shortcodes-posts-gutter-space-23 .wc-shortcodes-post-box { margin-bottom: 23px; }
.wc-shortcodes-posts-gutter-space-24 .wc-shortcodes-post-box { margin-bottom: 24px; }
.wc-shortcodes-posts-gutter-space-25 .wc-shortcodes-post-box { margin-bottom: 25px; }
.wc-shortcodes-posts-gutter-space-26 .wc-shortcodes-post-box { margin-bottom: 26px; }
.wc-shortcodes-posts-gutter-space-27 .wc-shortcodes-post-box { margin-bottom: 27px; }
.wc-shortcodes-posts-gutter-space-28 .wc-shortcodes-post-box { margin-bottom: 28px; }
.wc-shortcodes-posts-gutter-space-29 .wc-shortcodes-post-box { margin-bottom: 29px; }
.wc-shortcodes-posts-gutter-space-30 .wc-shortcodes-post-box { margin-bottom: 30px; }
.wc-shortcodes-posts-gutter-space-31 .wc-shortcodes-post-box { margin-bottom: 31px; }
.wc-shortcodes-posts-gutter-space-32 .wc-shortcodes-post-box { margin-bottom: 32px; }
.wc-shortcodes-posts-gutter-space-33 .wc-shortcodes-post-box { margin-bottom: 33px; }
.wc-shortcodes-posts-gutter-space-34 .wc-shortcodes-post-box { margin-bottom: 34px; }
.wc-shortcodes-posts-gutter-space-35 .wc-shortcodes-post-box { margin-bottom: 35px; }
.wc-shortcodes-posts-gutter-space-36 .wc-shortcodes-post-box { margin-bottom: 36px; }
.wc-shortcodes-posts-gutter-space-37 .wc-shortcodes-post-box { margin-bottom: 37px; }
.wc-shortcodes-posts-gutter-space-38 .wc-shortcodes-post-box { margin-bottom: 38px; }
.wc-shortcodes-posts-gutter-space-39 .wc-shortcodes-post-box { margin-bottom: 39px; }
.wc-shortcodes-posts-gutter-space-40 .wc-shortcodes-post-box { margin-bottom: 40px; }
.wc-shortcodes-posts-gutter-space-41 .wc-shortcodes-post-box { margin-bottom: 41px; }
.wc-shortcodes-posts-gutter-space-42 .wc-shortcodes-post-box { margin-bottom: 42px; }
.wc-shortcodes-posts-gutter-space-43 .wc-shortcodes-post-box { margin-bottom: 43px; }
.wc-shortcodes-posts-gutter-space-44 .wc-shortcodes-post-box { margin-bottom: 44px; }
.wc-shortcodes-posts-gutter-space-45 .wc-shortcodes-post-box { margin-bottom: 45px; }
.wc-shortcodes-posts-gutter-space-46 .wc-shortcodes-post-box { margin-bottom: 46px; }
.wc-shortcodes-posts-gutter-space-47 .wc-shortcodes-post-box { margin-bottom: 47px; }
.wc-shortcodes-posts-gutter-space-48 .wc-shortcodes-post-box { margin-bottom: 48px; }
.wc-shortcodes-posts-gutter-space-49 .wc-shortcodes-post-box { margin-bottom: 49px; }
.wc-shortcodes-posts-gutter-space-50 .wc-shortcodes-post-box { margin-bottom: 50px; }

.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-0 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 0px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-1 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 1px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-2 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 2px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-3 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 3px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-4 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 4px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-5 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 5px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-6 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 6px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-7 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 7px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-8 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 8px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-9 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 9px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-10 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 10px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-11 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 11px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-12 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 12px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-13 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 13px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-14 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 14px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-15 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 15px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-16 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 16px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-17 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 17px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-18 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 18px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-19 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 19px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-20 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 20px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-21 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 21px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-22 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 22px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-23 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 23px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-24 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 24px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-25 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 25px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-26 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 26px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-27 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 27px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-28 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 28px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-29 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 29px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-30 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 30px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-31 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 31px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-32 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 32px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-33 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 33px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-34 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 34px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-35 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 35px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-36 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 36px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-37 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 37px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-38 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 38px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-39 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 39px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-40 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 40px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-41 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 41px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-42 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 42px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-43 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 43px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-44 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 44px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-45 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 45px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-46 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 46px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-47 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 47px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-48 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 48px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-49 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 49px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-50 .wc-shortcodes-post-box .wc-shortcodes-post-border { margin-right: 50px; }

.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-0 { margin-right: 0px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-1 { margin-right: -1px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-2 { margin-right: -2px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-3 { margin-right: -3px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-4 { margin-right: -4px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-5 { margin-right: -5px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-6 { margin-right: -6px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-7 { margin-right: -7px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-8 { margin-right: -8px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-9 { margin-right: -9px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-10 { margin-right: -10px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-11 { margin-right: -11px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-12 { margin-right: -12px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-13 { margin-right: -13px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-14 { margin-right: -14px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-15 { margin-right: -15px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-16 { margin-right: -16px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-17 { margin-right: -17px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-18 { margin-right: -18px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-19 { margin-right: -19px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-20 { margin-right: -20px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-21 { margin-right: -21px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-22 { margin-right: -22px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-23 { margin-right: -23px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-24 { margin-right: -24px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-25 { margin-right: -25px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-26 { margin-right: -26px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-27 { margin-right: -27px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-28 { margin-right: -28px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-29 { margin-right: -29px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-30 { margin-right: -30px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-31 { margin-right: -31px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-32 { margin-right: -32px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-33 { margin-right: -33px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-34 { margin-right: -34px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-35 { margin-right: -35px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-36 { margin-right: -36px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-37 { margin-right: -37px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-38 { margin-right: -38px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-39 { margin-right: -39px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-40 { margin-right: -40px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-41 { margin-right: -41px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-42 { margin-right: -42px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-43 { margin-right: -43px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-44 { margin-right: -44px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-45 { margin-right: -45px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-46 { margin-right: -46px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-47 { margin-right: -47px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-48 { margin-right: -48px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-49 { margin-right: -49px; }
.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-gutter-space-50 { margin-right: -50px; }

.wc-shortcodes-posts-layout-grid .wc-shortcodes-post-box { float: left; }
.wc-shortcodes-posts.wc-shortcodes-posts-layout-grid .wc-shortcodes-post-box { margin-bottom: 50px; }
.wc-shortcodes-posts-template-borderless .wc-shortcodes-post-box .wc-shortcodes-post-border { padding-bottom: 20px; }

@media (min-width: 991px) {
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box { width: 50%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box { width: 33.33%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box { width: 25%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box { width: 20%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box { width: 16.66%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box { width: 14.28%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box { width: 12.5%; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box { width: 11.11%; }

	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box:nth-child(2n+3) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box:nth-child(3n+4) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box:nth-child(4n+5) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box:nth-child(5n+6) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box:nth-child(6n+7) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box:nth-child(7n+8) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box:nth-child(8n+9) { clear: left; }
	.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box:nth-child(9n+10) { clear: left; }
}

@media (max-width: 990px) {
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box { width: 50%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box { width: 50%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box { width: 33.33%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box { width: 25%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box { width: 20%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box { width: 16.66%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box { width: 14.28%; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box { width: 12.5%; }

	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box:nth-child(2n+3) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box:nth-child(2n+3) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box:nth-child(3n+4) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box:nth-child(4n+5) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box:nth-child(5n+6) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box:nth-child(6n+7) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box:nth-child(7n+8) { clear: left; }
	body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box:nth-child(8n+9) { clear: left; }
}

@media (max-width: 767px) {
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box { width: 50%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box { width: 50%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box { width: 50%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box { width: 33.33%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box { width: 25%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box { width: 20%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box { width: 16.66%; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box { width: 14.28%; }

	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box:nth-child(2n+3) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box:nth-child(2n+3) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box:nth-child(2n+3) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box:nth-child(3n+4) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box:nth-child(4n+5) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box:nth-child(5n+6) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box:nth-child(6n+7) { clear: left; }
	html body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box:nth-child(7n+8) { clear: left; }
}

@media (max-width: 567px) {
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-2 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-3 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-5 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-6 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-7 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-8 .wc-shortcodes-post-box,
	html body div.wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-9 .wc-shortcodes-post-box {
		width: 100%;
	}
	html body div.wc-shortcodes-posts.wc-shortcodes-posts-layout-grid .wc-shortcodes-post-box .wc-shortcodes-post-border,
	html body div.wc-shortcodes-posts.wc-shortcodes-posts-layout-grid {
		margin-right: 0;
	}
}
/**
 * [wc_post_slider]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-post-slider-wrapper {
	height: 0;
	overflow: hidden;
	position: relative;
}
.wc-shortcodes-post-slider-wrapper .bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}
.wc-shortcodes-post-slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #cccccc;
	margin: 0 !important;
}
.wc-shortcodes-post-slide-border {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.wc-shortcodes-post-slide-content {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-width: 0;
	padding: 1.5em;
}
.wc-shortcodes-post-slide-content .wc-shortcodes-entry-title {
	margin-top: 0;
	margin-bottom: 0;
}
.wc-shortcodes-post-slide-content .wc-shortcodes-entry-header {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

/* template slider1 */
.wc-shortcodes-posts-template-slider1 * {
	color: #ffffff !important;
	border-color: #ffffff !important;
}
.wc-shortcodes-posts-template-slider1 .wc-shortcodes-read-more > a {
	background-color: transparent !important;
}
.wc-shortcodes-posts-template-slider1 .wc-shortcodes-post-slide-button {
	padding: 0.625em 0.8125em;
	border-width: 2px;
	border-style: solid;
	text-decoration: none;
	display: inline-block;
}
/* end template slider1 */

/* template slider2 */
.wc-shortcodes-posts-template-slider2 .wc-shortcodes-post-slide-content-inner {
	position: relative;
	background-color: #ffffff;
}
/* end template slider2 */

.wc-shortcodes-post-slide-content-inner {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	/* background-color: rgba(0, 0, 0, 0.3); */
}
.wc-shortcodes-post-slide-content-inner > *:first-child {
	margin-top: 0 !important;
}
.wc-shortcodes-post-slide-content-inner > *:last-child {
	margin-bottom: 0 !important;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	outline: 0;
	line-height: 1;
	padding: 0 10px;
	font-size: 50px;
	z-index: 9999;
	border: 0px solid #ffffff;
	border-radius: 0;
	text-align:center;
    opacity: 0;
	color: #ffffff;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
.bx-wrapper .bx-prev {
	left: 10px;
	left: 0.625rem;
}
.bx-wrapper .bx-prev i {
	padding-right: 2px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
}
.bx-wrapper .bx-next {
	right: 10px;
	right: 0.625rem;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
}
.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1;
}
/* END DIRECTION */
.wc-shortcodes-post-slider .wc-shortcodes-read-more {
	display: block;
	margin-top: 20px;
}
.wc-shortcodes-post-slide-button:hover {
	text-decoration: none;
}
.wc-shortcodes-cat-posted-text {
	display: none;
}
.wc-shortcodes-post-slider .wc-shortcodes-post-slide a {
	text-decoration: none;
	box-shadow: none;
}
@media (max-width: 990px) {
	.wc-shortcodes-post-slide-content-inner {
		max-width: 80%;
	}
}
@media (max-width: 767px) {
	.wc-shortcodes-post-slider-wrapper .wc-shortcodes-post-slide-content-inner {
		max-width: none;
	}
	.wc-shortcodes-post-slider-wrapper .wc-shortcodes-entry-summary {
		display: none;
	}
	.wc-shortcodes-post-slide-content .wc-shortcodes-entry-header {
		margin-bottom: 0;
	}
}
/**
 * [wc_collage]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-collage-wrapper {
	overflow: hidden;
}
.wc-shortcodes-collage.wc-shortcodes-collage-template-collage1 {
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column {
	width: 50%;
	float: left;
	height: 100%;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-inner {
	height: 100%;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-inner,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel {
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-background {
	margin: 0;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-has-link {
	cursor: pointer;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-background {
	height: 100%;
	display: block;
	position: relative;
	background-size: cover;
	background-position: center center;
}
.wc-shortcodes-collage-template-collage1 .post-edit-link {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/* clear margins */
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content > *:first-child {
	margin-top: 0;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content > *:last-child {
	margin-bottom: 0;
}
/* columns 1 */
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-1 .wc-shortcodes-collage-panel-5 {
	height: 60%;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-1 .wc-shortcodes-collage-panel-4 {
	height: 40%;
}
/* columns 2 */
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-3 {
	height: 40%;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-wrapper {
	height: 60%;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-inner {
	height: 100%;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-1 {
	width: 50%;
	height: 100%;
	float: left;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-2 {
	width: 50%;
	height: 100%;
	float: left;
}
/* content */
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-content {
	position: relative;
	text-align: center;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-content-inner {
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 567px) {
	body #wc-shortcodes-collage.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column {
		height: auto;
	}
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel {
		width: 100%;
	}
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel,
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-wrapper {
		height: auto;
		float: left;
		width: 100%;
	}
	body #wc-shortcodes-collage.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-inner,
	body #wc-shortcodes-collage.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-inner {
		padding-right: 0;
	}
	body .wc-shortcodes-collage.wc-shortcodes-collage-template-collage1,
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-wrapper {
		margin-right: 0;
	}
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2,
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-panel-wrapper,
	body .wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-column-2 .wc-shortcodes-collage-panel-1 {
		padding-top: 0;
	}
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-slider-wrapper {
	height: 0;
	overflow: hidden;
	position: relative;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-slider-wrapper .bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-slider-wrapper .wc-shortcodes-collage-slider,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-slider-wrapper .bx-wrapper {
	height: 100%;
}
.wc-shortcodes-collage-slider-enabled .wc-shortcodes-collage-panel-5 {
	position: relative;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style h1,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style h2,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style h3,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style h4,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style h5,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style h6,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style p {
	color: inherit;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style .wc-shortcodes-collage-button:hover,
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-content-style .wc-shortcodes-collage-button {
	border-color: inherit;
	color: inherit;
}
.wc-shortcodes-collage-template-collage1 .wc-shortcodes-collage-button {
	padding: 0.625em 1.25em;
	border-width: 2px;
	border-style: solid;
	border-color: inherit;
	text-decoration: none;
	display: inline-block;
}
.wc-shortcodes-collage-button:hover {
	text-decoration: none;
}
/**
 * 
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-entry-summary > *:first-child,
.wc-shortcodes-content > *:first-child {
	margin-top: 0 !important;
}
.wc-shortcodes-entry-summary > *:last-child,
.wc-shortcodes-content > *:last-child {
	margin-bottom: 0 !important;
}
.wc-shortcodes-item {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

/**
 * [wc_image]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-image-wrapper {
	position: relative;
}
.wc-shortcodes-image-anchor {
}
.wc-shortcodes-image {
}
.wc-shortcodes-image-flag-bg {
	position: absolute;
	padding: 5px 10px;
	background-color: #56ab00;
	color: #ffffff;
}
.wc-shortcodes-image-wrapper.alignnone,
.wc-shortcodes-image-wrapper.aligncenter {
	margin-bottom: 20px;
}
/**
 * [wc_fullwidth]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-full-width {
	visibility: hidden;
}
.wc-shortcodes-full-width-inner {
	margin: 0 auto;
}
.wc-shortcodes-full-width-has-border-color {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.wc-shortcodes-full-width-style-frame {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}
/* Loading */
.wc-shortcodes-loading::after {
	content: " ";
	background: url('../img/ring-alt.svg');
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: #f7f7f7;
	visibility: visible;
}
/**
 * [wc_image_links]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-image-links-wrapper {
	overflow: hidden;
}
.wc-shortcodes-image-links-wrapper-inner {
	margin-right: -2em;
	display: block;
}
.wc-shortcodes-image-link {
	display: block;
	float: left;
}
.wc-shortcodes-image-link-columns-1 .wc-shortcodes-image-link {
	width: 100%;
}
.wc-shortcodes-image-link-columns-2 .wc-shortcodes-image-link {
	width: 50%;
}
.wc-shortcodes-image-link-columns-3 .wc-shortcodes-image-link {
	width: 33.333333%;
}
.wc-shortcodes-image-link-columns-4 .wc-shortcodes-image-link {
	width: 25%;
}
#wc-shortcodes-image-links.wc-shortcodes-image-link-style-format-column .wc-shortcodes-image-link {
	width: 100%;
}
#wc-shortcodes-image-links.wc-shortcodes-image-link-style-format-column .wc-shortcodes-image-link-background-wrapper {
	margin-bottom: 2em;
}
#wc-shortcodes-image-links.wc-shortcodes-image-link-style-format-column .wc-shortcodes-image-link:last-child .wc-shortcodes-image-link-background-wrapper {
	margin-bottom: 0;
}
.wc-shortcodes-image-link-background-wrapper {
	margin-right: 2em;
}
.wc-shortcodes-image-link-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.wc-shortcodes-image-link-text {
	text-align: center;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
}
.wc-shortcodes-image-link-text-position-center .wc-shortcodes-image-link-text {
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.wc-shortcodes-image-link-text-position-bottom .wc-shortcodes-image-link-text {
	top: auto;
	bottom: 0;
}
.wc-shortcodes-image-link-text-position-under .wc-shortcodes-image-link-text {
	top: auto;
	bottom: auto;
	position: relative;
}
.wc-shortcodes-image-link-text-position-under .wc-shortcodes-image-link-text .wc-shortcodes-image-links-heading {
}
#wc-shortcodes-image-links .wc-shortcodes-image-links-heading {
	margin: 0;
	padding: 0.7em 1em;
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
}
@media (max-width: 767px) {
	#wc-shortcodes-image-links .wc-shortcodes-image-link {
		width: 100%;
	}
	#wc-shortcodes-image-links .wc-shortcodes-image-link-background-wrapper {
		margin-right: 0;
		margin-bottom: 2em;
	}
	#wc-shortcodes-image-links .wc-shortcodes-image-links-wrapper-inner {
		margin-right: 0;
	}
}
/**
 * [wc_featured_posts]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-featured-posts-content-inner {
	overflow: hidden;
}
.wc-shortcodes-featured-posts-content {
	margin-bottom: 2.3em;
}
.wc-shortcodes-featured-posts-content:last-child {
	margin-bottom: 0;
}
.wc-shortcodes-featured-posts-layout-thumbnail .wcs-fp-post-thumbnail {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	float: left;
}
.wc-shortcodes-featured-posts-layout-thumbnail .wcs-fp-post-content.wcs-fp-has-post-thumbnail {
	padding-left: 1em;
	overflow: hidden;
}
.wc-shortcodes-featured-posts .wcs-fp-title {
	clear: none;
}
#wc-shortcodes-featured-posts #wc-shortcodes-featured-posts-inner .wcs-fp-title {
	margin-top: 0;
	margin-bottom: 0;
}
#wc-shortcodes-featured-posts #wc-shortcodes-featured-posts-inner .wc-shortcodes-entry-category {
	margin-top: 0;
	margin-bottom: 0.4em;
}
#wc-shortcodes-featured-posts .wc-shortcodes-featured-posts-layout-showcase .wcs-fp-post-thumbnail {
	margin-bottom: 0.4em;
}
.wc-shortcodes-featured-posts-layout-showcase .wcs-fp-post-content {
	text-align: center;
}
.wc-shortcodes-featured-posts-layout-showcase .wcs-fp-post-thumbnail {
	width: 100%;
	padding-bottom: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.wc-shortcodes-featured-posts-layout-showcase .wcs-fp-post-thumbnail-wrapper {
	max-width: 400px;
	margin: 0 auto;
}
/**
 * [wc_call_to_action]
 * ----------------------------------------------------------------------------
 */
.wc-shortcodes-call-to-action-wrapper-inner {
	display: table;
	width: 100%;
}
.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-container {
	display: table-cell;
	vertical-align: middle;
}
.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-image-inner2 {
	display: inline-block;
}
.wc-shortcodes-call-to-action-image-position-left .wcs-call-to-action-image-inner {
	text-align: left;
}
.wc-shortcodes-call-to-action-image-position-center .wcs-call-to-action-image-inner {
	text-align: center;
}
.wc-shortcodes-call-to-action-image-position-right .wcs-call-to-action-image-inner {
	text-align: right;
}
.wc-shortcodes-call-to-action-text-position-left .wcs-call-to-action-content-wrapper {
	float: left;
}
.wc-shortcodes-call-to-action-text-position-center .wcs-call-to-action-content-wrapper {
	margin-left: auto;
	margin-right: auto;
}
.wc-shortcodes-call-to-action-text-position-right .wcs-call-to-action-content-wrapper {
	float: right;
}
.wcs-call-to-action-content-wrapper *:first-child {
	margin-top: 0;
}
.wcs-call-to-action-content-wrapper *:last-child {
	margin-bottom: 0;
}
.footer
{    background: #eee;
    padding: 8px;
    text-align: center;}
.footer a{     color: #2094d8;}
@media (max-width: 767px) {
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-side-padding.wc-shortcodes-call-to-action-wrapper .wc-shortcodes-call-to-action-wrapper-inner {
		padding: 0 20px !important;
	}
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-wrapper .wc-shortcodes-call-to-action-wrapper-inner,
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-container {
		width: 100% !important;
		display: block;
	}
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-container:first-child {
		margin-bottom: 3em;
	}
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-text-inner,
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-image-inner {
		margin: 0 !important;
	}
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-text-position-right .wcs-call-to-action-content-wrapper {
		float: none;
		margin: 0 auto;
	}
	#wc-shortcodes-call-to-action.wc-shortcodes-call-to-action-wrapper .wcs-call-to-action-container .wcs-call-to-action-image-inner {
		text-align: center;
	}
}