html{height: 100%; background: #f5f8fa;}

body{font-family: 'Raleway', sans-serif;}
h1, h2, h3, h4, h5, h6{ font-family: 'Raleway', sans-serif; font-weight: bold;}


#nav-primary{font-family: 'Raleway', sans-serif;}
#nav-primary ul ul{box-shadow: 0 4px 4px rgba(0,0,0,.25); float: left; margin: 0; z-index: 99999; position: absolute; left: 0;  margin-top:10px !important; transform: translateY(-2em); transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; display:initial !important; visibility: hidden; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6) !important;}
#nav-primary ul > li a{ color:#fff; font-size: 14px; font-weight:normal; padding: 12px; border-radius: 3px; margin:0 3px; text-align: center; text-transform: none;}
#nav-primary ul > li a:hover, #nav-primary ul > li.current_page_item a{    background: rgba(0,0,0,0.2);}
#nav-primary ul > li.active a { border: 1px solid #63ac33; margin-top: -4px; }
#nav-primary ul li:hover .sub-menu{ display:initial !important;  transform: translateY(0%); transition-delay: 0s, 0s, 0.3s; visibility: visible; }
#nav-primary ul > li.menu-item-has-children > a:after{display:none;}


#nav-primary .sub-menu li:nth-child(2) a { color:#076a4d; }
#nav-primary .sub-menu li:nth-child(3) a { color:#06558a; }
#nav-primary .sub-menu li:nth-child(4) a { color:#7356b6; }
#nav-primary .sub-menu li:nth-child(5) a { color:#c23d4b; }
#nav-primary .sub-menu li:nth-child(6) a { color:#ce7c3a; }

#nav-primary .sub-menu li:nth-child(2) a .fa{ background: #74e4a2; color:#076a4d; }
#nav-primary .sub-menu li:nth-child(3) a .fa{ background: #68d4f8; color:#06558a; }
#nav-primary .sub-menu li:nth-child(4) a .fa{ background: #beb0f4; color:#7356b6; }
#nav-primary .sub-menu li:nth-child(5) a .fa{ background: #fc9469; color:#c23d4b; }
#nav-primary .sub-menu li:nth-child(6) a .fa{ background: #fcd669; color:#ce7c3a; }


#nav-primary ul>li.has_children>a:after{display:none; }
#nav-primary .sub-menu { margin-top:10px !important; transform: translateY(-2em);  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; display:initial !important;   visibility: hidden;  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6) !important;}
#nav-primary .sub-menu:after { content: ''; position: absolute; bottom: 100%; left: 18%; margin-left: -8px; width: 0; height: 0; border-bottom: 8px solid #fff; border-right: 8px solid transparent; border-left: 8px solid transparent; }
#nav-primary .sub-menu li a{ margin: 0 !important; padding-left:70px !important; color:#0271cb; min-height: 60px; text-align: left; line-height: 36px; font-weight: normal;} 
#nav-primary .sub-menu li a span{color:#555;}
#nav-primary .sub-menu li a .fa{position: absolute; left: 18px; background: #0271cb; width: 38px; height: 38px; border-radius: 50%; color: #fff; text-align: center; font-size: 20px; line-height: 38px;}
#nav-primary .sub-menu li a:hover .fa{ background: #555; color:#fafafa}
#nav-primary .sub-menu li{border-bottom: 1px solid #ececec;}

#nav-primary ul li:hover .sub-menu{  display:initial !important;  transform: translateY(0%); transition-delay: 0s, 0s, 0.3s; visibility: visible; }
.sub-menu .menu-item-description{display: block; font-size: 13px; margin-top: 8px; }


#site-header{ background:#233049;}
#site-header #logo img{ margin: 5px 0; vertical-align: middle;}

.entry-content hr{ background: rgba(0,0,0,0.1); margin-bottom: 20px;     display: block;}
.hkb_widget_articles > ul > li, .hkb-subcats > li { margin: 10px 0 20px !important; border-bottom: 1px solid #ccc; padding-bottom: 20px; }

#page-header, #page-header-api{ padding: 20px 0 25px 0; background: #233049; border-top: 1px solid rgba(255, 255, 255, 0.1);}
#page-header{ background:#233049; border-top:1px solid #233049; padding: 60px 0 70px; }
#page-header #page-header-title{ font-family: 'Raleway', sans-serif; font-weight: 100; font-size: 40px; padding:0;}
#page-header .hkb-site-search{border: 6px solid rgba(8,8,8,0.2); border-radius: 10px;}
#page-header .hkb-site-search .hkb-site-search__button{right: 0;}


#homepage-features { background:none; border-bottom:1px solid #c0c2c7; overflow: hidden;}
#homepage-features .hf-block{ border:1px solid #c0c2c7;}
#homepage-features .hf-block i{ color:#233049; font-size: 56px; margin:0;}
#homepage-features .hf-block h4 {font-size: 20px;}
#homepage-features .hf-block.hf-block-submit h4{ line-height: 2.4; margin: 0;}
#homepage-features .hf-block h5{ font-family:Arial, Helvetica, sans-serif; font-weight:normal;}

#social-group{ margin-top:30px;}
#social-group .hf-block {padding: 15px 25px;}
#social-group .hf-block i{ font-size: 46px;}
#social-group .hf-block h4{ margin:0; line-height: 2;}

#site-footer-widgets{ padding: 0; background:none; color:#fff;     line-height: 28px;}
#site-footer-widgets .widget{ margin-bottom: 0;}
#site-footer-widgets .widget .widget-title{font-size: 18px; line-height: 2em; margin-bottom: 10px; font-weight: normal; color: #fff; margin-top: 10px;}

#site-footer-widgets .disclamer{font-size:12px; text-align:center; margin: 30px  0;}

#site-footer{ padding:40px 0; background:#2F353E;}
#site-footer #copyright{color:#fff;}
#site-footer-widgets a, #site-footer-widgets a:visited{ color:#fff;}
#site-footer .copyright{ border-top:1px solid rgba(255,255,255,0.2); padding-bottom: 30px; padding-top: 30px;}


.doc-list-front{list-style: none; }
.doc-menu{ color:#fff;}
.doc-menu a{color:#233049;}
.doc-sec-content > p, .doc-sec-container .doc-sec-title{font-weight:normal;}

.documentor-default .doc-menu li a{padding:}
.documentor-default .doc-menu li, .documentor-default .doc-menu li a{color:#233049; padding-left:0; padding:-right:0;}
.documentor-default ul.doc-list-front > li{margin-bottom:40px;}
.documentor-default ul.doc-list-front > li > a{text-transform: uppercase;}
.documentor-default{ background:#F7F7F7;}
.documentor-default .doc-menu a.doc-acta { font-weight: normal !important; color: #5db8ed; }
.documentor-default .doc-sec-container{ background:#fff; padding: 40px !important; }
.documentor-default .doc-section{clear:both; border-bottom: 1px solid rgba(0,0,0,0.1) !important; padding: 20px 0; margin-bottom: 20px;}

#api-page .page{margin:0;}
#api-page .hentry .entry-header{ margin:0;}
#api-page #content{ margin:0;}


.ace_editor{padding: 0px !important;}
.ace_scroller{ right:0 !important;}
.ace_gutter,.ace_gutter .ace_layer, .ace_editor .ace_sb{height:100% !important;}
.ace_editor .ace_sb{display:none;}
.doc-sec-content blockquote{border:0; padding:0; font-size: 15px; font-style: normal; color: #ABABAB;}

body .ace_scrollbar { display: none; } body .ace_editor:hover .ace_scrollbar { display: block; }
.ace_scrollbar { display: none !important; }

.entry-content code, .entry-content pre { font-size: 13px; line-height: normal; }
.entry-content code, .entry-content pre{background: #f5f5f5; border: 1px solid #cccccc;}
.page-template-page-api #site-header .ht-container{}

.wc-shortcodes-full-width{visibility: initial; margin:20px 0 !important;}
.doc-sec-content .wc-shortcodes-full-width .wc-shortcodes-button{padding: 5px; font-size: 12px; border-radius: 5px; margin: 0; margin-right: 5px;}



.language-tabs{position: absolute; z-index: 999; right: 0; width: 40%; background: #242729;  padding: 10px; -webkit-transition: all 2s ease-out; -moz-transition: all 2s ease-out; -o-transition: all  2s ease-out; transition: all  2s ease-out;}
.language-tabs li{ display:inline-block;}
.language-tabs li a{color: #d0d4d7; display: inline-block; padding: 2px 10px; border-radius: 3px; font-size: 13px;}
.language-tabs li a:hover{background:#1C1F21; color:#fff;}
.language-tabs li.current a{background:#54B6EF; color:#fff;}
.language-content{display:none;}
.language-content.current{ display: block; }

.language-tabs.sticky{position: fixed; top: 0;}

.doc-menufixed .language-tabs{ position:fixed; top:0;}

@media screen and (min-width: 1200px){
.ht-grid.ht-grid-gutter-20 .ht-grid-col { padding: 0 10px;}

.documentor-default .doc-menu { max-width: 20% !important; }
.documentor-default .doc-sec-container{ background:#fff; margin: 0 !important; width: 80% !important;}
.doc-list-front{ padding-left: 20px;}

.doc-sec-container:before {content:""; display:block; width: 40%; background-color: #2c2c2c; position: absolute; right: 0; top: 0; bottom: 0; }
.doc-sec-content > p, .doc-sec-container .doc-sec-title, .doc-sec-content > ul{margin-right: 50%; box-sizing: border-box; display: block; padding-right: 30px; }
.doc-sec-content pre, .doc-sec-content blockquote, .doc-sec-content .code, .doc-sec-content .wc-shortcodes-full-width{ color: #9C9C9C;  margin: 5px; width: 46% !important; float: right; clear: right; box-sizing: border-box; text-shadow: 0px 1px 2px rgba(0,0,0,0.4); background: none !important; border: 0 !important; position: relative;}

.doc-sec-content .code {position: relative; margin: 20px 0;}
.doc-sec-content  hr {  /**width: 46%; margin-right: 80px; **/ clear:left; box-sizing: border-box;  display: block; }

.doc-sec-content .wc-shortcodes-row{width: 46% !important; border-top: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1); padding: 20px  0 0; margin-bottom: 20px; overflow: hidden;}
.doc-sec-content .wc-shortcodes-row > div{ margin-bottom:20px;}

#site-footer-widgets .ht-grid > section{width: 14.66666%;}
#site-footer-widgets .ht-grid > section:first-child{ width: 25.66666%;}



}



@media screen and (max-width: 767px){
#nav-primary #nav-primary-menu{background: #233049;}
.language-tabs{ width:100%;}
}