#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;

	@include media('>=desktop') {
		font-size: 16px;
	}
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main-holder {
	padding: 30px 0 0;

	@include media('>=tablet') {
		padding: 47px 0 0;
		display: flex;
		align-items: flex-start;
	}

	#content {
		padding: 0 0 2rem;

		@include media('>=tablet') {
			padding: 0 2em 2em 0;
			flex: 1 0;
		}

		@include media('>=desktop') {
			padding: 0 4em 2em 0;
		}

		@include media('>=widescreen') {
			padding: 0 8.1em 2em 0;
		}

		&:only-child {
			padding-right: 0;
		}
	}

	#sidebar {
		margin: 0 0 2rem;
		position: relative;

		@include media('>=tablet') {
			width: 300px;
		}

		@include media('>=desktop') {
			width: 370px;
		}
	}
}

.text-holder {
	padding: 0 0 .7em;
}

.full-img {
	border-radius: 14px;
	overflow: hidden;
	margin: 0 0 1.5em;

	img {
		width: 100%;
		display: block;
	}
}

.heading {
	padding: 0 0 1.9em;
	
	.heading-holder {
		@include media('>=tablet') {
			display: flex;
			flex-flow: row-reverse nowrap;
			align-items: center;
			justify-content: flex-start;
		}
	}

	.heading-frame {
		@include media('>=tablet') {
			padding: 0 0 0 15px;
			flex: 1 0;
		}

		@include media('>=desktop') {
			padding: 0 0 0 30px;
		}

		&:only-child {
			h1 {
				margin: 0 0 .75em;
			}
		}

		h1 {
			@include media('>=tablet') {
				margin: 0;
			}
		}
	}
}

.logo-box {
	background: #fafafa;
	width: 170px;
	height: 100px;
	display: flex;
	align-items: center;
	border-radius: 14px 14px 0 0;
	padding: 10px;

	@include media('>=desktop') {
		width: 240px;
		height: 135px;
	}

	.logo-box-holder {
		width: 100%;
		text-align: center;
	}
}

hr {
	height: 1px;
	border: none;
	color: $border-color;
	background: $border-color;
	margin: 0 0 24px;
}

.text-heading {
	text-align: center;
	line-height: 1.6;
	max-width: 840px;
	margin: 0 auto;
	font-size: 16px;
	padding: 0 0 20px;

	@include media('>=desktop') {
		font-size: 20px;
		padding: 0 0 34px;
	}

	h1 {
		margin: 0 0 .35em;
	}
}


.inline-box {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	.link {
		margin: 0 8px 0 0;
		font-size: 14px;
	}
}