#footer {
	background: #2a3340;
	font-size: 12px;
	padding: 32px 0;
	color: #abadb1;

	@include media('<tablet') {
		text-align: center;
	}

	.container {
		@include media('>=tablet') {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.logo-footer {
	margin: 0 0 15px;

	@include media('>=tablet') {
		margin: 0 30px 0 0;
	}
}

.footer-text {
	@include media('>=tablet') {
		text-align: right;
	}

	.footer-list {
		justify-content: center;

		@include media('>=tablet') {
			justify-content: flex-end;
		}
	}
}

.copyright {
	display: block;
	margin: 0 0 6px;
}

.footer-list {
	@extend %listreset;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -5px;

	li {
		padding: 0 5px;
		position: relative;

		&:after {
			@include center-content-h;
			content:"-";
			left: 0;
		}

		&:first-child:after {
			display: none;
		}
	}
	
	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $green;
		}
	}
}