#header {
	border-bottom: 1px solid $border-color;
	padding: 20px 0;
	position: relative;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {
	width: 98px;
	margin: 0 10px 0 0;
}

.nav-opener {
	width: 35px;
	height: 26px;
	float: right;
	position: relative;
	margin: -16px 0;

	@include media ('>=tablet') {
		display: none;
	}

	&:before,
	&:after,
	span {
		@include animate(transform);
		background: $green;
		position: absolute;
		top: 12px;
		left: 0;
		right: 0;
		height: 4px;
		border-radius: 5px;
	}

	&:before,
	&:after{
		content: '';
		top: 0;
	}

	&:after {
		top: 24px;
	}

	.nav-active & {
		&:before,
		&:after{
			transform: rotate(45deg);
			top: 12px;
			left: 0;
			right: 0;
		}

		&:after{
			transform: rotate(-45deg);
		}

		span {
			opacity: 0;
		}
	}
}

.nav-drop{
	@include animate(opacity visibility);
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media ('<tablet') {
		display: block;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		position: absolute;
		top: 73px;
		left: 0;
		right: 0;
		z-index: 999;
		padding: 30px 15px 40px;
		background: $white;
		text-align: center;
	}

	.nav-active & {
		opacity: 1;
		visibility: visible;
	}
}

.main-nav {
	.btn {
		@include media('>=tablet') {
			margin: 0 0 0 32px;
		}
	}
}

.nav-menu {
	@extend %listreset;
	font-size: 14px;
	margin: 0 0 10px;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: 0 -10px;
		font-size: 13px;
	}

	@include media('>=desktop') {
		font-size: 14px;
		margin: 0 -16px;
	}

	li {
		@include media('>=tablet') {
			margin: 0 10px;
		}

		@include media('>=desktop') {
			margin: 0 16px;
		}

		&.active {
			> a {
				color: $green;

				@include media('>=tablet') {
					color: $base-text-color;
				}

				&:after {
					@include media('>=tablet') {
						right: 0;
						left: 0;
						height: 2px;
					}
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $base-text-color;
		position: relative;

		@include media('<tablet') {
			padding: 10px;
		}

		&:after {
			@include media('>=tablet') {
				@include animate(right left);
				position: absolute;
				content: '';
				background: $green;
				left: 50%;
				right: 50%;
				bottom: -27px;
			}
		}

		&:hover {
			color: $green;

			@include media('>=tablet') {
				color: $base-text-color;
			}

			&:after {
				@include media('>=tablet') {
					right: 0;
					left: 0;
					height: 2px;
				}
			}
		}
	}
}

.resize-active *{
	transition: none !important;
}