.agency-block {
	padding: 0 0 1.5em;

	.pagination {
		justify-content: center;
	}

	.filter-box {
		border-bottom: 0;
		padding: 0 0 18px;
		margin: 0;
	}
}

.agency-grid {
	margin: 0 -10px;
	padding: 0 0 2em;

	@include media('>=phone') {
		display: flex;
		flex-flow: row wrap;
	}

	.agency-box {
		margin: 0 10px 32px;

		@include media('>=phone') {
			width: calc(50% - 20px);
			margin: 0 10px 32px;
		}

		@include media('>=tablet') {
			width: calc(33.33% - 30px);
			margin: 0 15px 32px;
		}
	}
}

.agency-box {
	@include animate(box-shadow);
	margin: 0 0 32px;
	border-radius: 16px;
	background: $white;

	&.hover {
		box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);

		.logo-box {
			border-radius: 0;
		}
	}

	.logo-box {
		width: 100%;
		border-radius: 16px;
		height: 150px;
		padding: 15px;

		@include media('>=tablet') {
			height: 180px;
		}

		@include media('>=desktop') {
			height: 208px;
		}
	}

	.agency-text {
		padding: 9px 19px;
	}

	h2 {
		letter-spacing: 0;
		margin: 0 0 4px;

		@include media('<tablet') {
			font-size: 20px;
		}
	}
}