.btn {
	@include animate(color background);
	display: inline-block;
	vertical-align: top;
	background: $btn-background;
	color: $btn-color;
	padding: $btn-padding;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 24px;
	min-width: 240px;
	text-align: center;
	text-decoration: none;

	@include media('>=desktop') {
		font-size: 16px;
	}

	&:hover {
		background: darken($btn-background, 10%);
		color: $btn-color;
	}

	&.btn-info {
		background: $btn-color;
		color: $btn-background;
		box-shadow: 0 32px 32px rgba(0, 0, 0, 0.08);

		&:hover {
			background: $btn-background;
			color: $btn-color;
		}
	}

	&.btn-lg {
		padding: .9em .7em 1em;
		border-radius: 32px;
	}

	&.btn-sm {
		padding: .37em .7em;
		font-weight: 400;
		font-size: 14px;
		min-width: 80px;
	}
}

button.btn {
	border: 0;
}

.link {
	display: inline-block;
	vertical-align: top;
	color: $base-text-color;
	text-decoration: none;

	&:hover {
		color: $base-link-color;
	}
}