.cards-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -12px;

	.card {
		width: calc(50% - 24px);
		margin: 0 12px 24px;

		@include media('>=phone') {
			width: calc(33.33% - 24px);
		}

		@include media('>=desktop') {
			width: calc(25% - 24px);
		}

		&:nth-child(5n + 2){
			border-color: $blue;
		}

		&:nth-child(5n + 3){
			border-color: $purple;
		}

		&:nth-child(5n + 4){
			border-color: $red;
		}

		&:nth-child(5n + 5){
			border-color: $yellow;
		}
	}
}

.card {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	border-radius: 16px;
	min-height: 168px;
	padding: 17px;
	border: 2px solid $green;
	background: $white;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);

	.img-holder {
		@include center-content-h;
		top: -38px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 102px;
		width: 100%;
	}
}

.card-number {
	display: block;
	text-transform: uppercase;
	color: $headings-color;
	font: 700 36px/1 $second-font-sans-serif;
	margin: 0 0 7px;
}

.card-title {
	display: block;
	font-size: 14px;
	line-height: 1.1428;
	font-weight: 600;
	text-transform: uppercase;
}