.contact-list {
	@extend %listreset;
	padding: 11px 0 0;

	.sidebar-box & {
		padding-bottom: 18px;
	}

	li {
		display: flex;
		align-items: center;
		padding: 0 0 16px;
	}

	a {
		text-decoration: none;

		&.tel-link {
			color: inherit;

			&:hover {
				color: $green;
			}
		}
	}

	address {
		font-style: normal;
	}

	i {
		display: inline-block;
		vertical-align: top;
		width: 28px;
		margin: 0 4px 0 0;
		font-size: 23px;

		&.icon-email {
			font-size: 20px;
		}
		
		&.icon-link,
		&.icon-price {
			font-size: 22px;
		}
	}

	.contact-holder {
		flex: 1 0;
	}
}