.custom-gallery {
	padding: 0 0 6.3em;

	@include media('>=tablet') {
		display: flex;
		align-items: center;
	}

	.fade-gallery {
		flex: 1 0;
	}

	.anim-gallery {
		margin-left: -150px;
		width: 316px;

		@include media('<tablet') {
			display: none !important;
		}

		@include media('>=desktop') {
			width: 496px;
			margin-left: -196px;
		}
	}
}

.anim-gallery {
	display: block;
	position: relative;

	.slideset {
		position: relative;
		padding: 0 0 0 28px;
		margin: 0 auto;
		width: 300px;
		overflow: visible !important;

		@include media('>=desktop') {
			width: 496px;
		}
	}

	.js-slide {
		position: absolute;
		top: 50%;
		left: 0;
		width: 284px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, -50%, 0) scale(0.76) rotate(0deg);
		transform-origin: 0% 50%;

		@include media('>=desktop') {
			width: 480px;
		}

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			left: -16px;
			width: 100%;
			height: 100%;
			background: $white;
			border-radius: 25px;
			transform: translate3d(0, -50%, 0) scale(0.65) rotate(0deg);
			transform-origin: 0% 50%;
			box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
		}

		&.slide-current {
			left: 16px;
			z-index: 10;
			transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);

			&:before {
				visibility: hidden;
			}

			.slide-holder {
				border-radius: 16px;
				box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
			}
		}

		&.slide-ontop {
			z-index: 11;
		}
	}

	.slide-holder {
		display: flex;
		align-items: center;
		overflow: hidden;
		background: $white;
		box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
		padding: 20px;
		height: 200px;

		@include media('>=desktop') {
			height: 270px;
		}
	}

	.slide-frame {
		width: 100%;
		text-align: center;
	}
}

.fade-gallery {
	position: relative;
	background: #2eb963;
	border-radius: 16px;
	color: $white;
	padding: 0 0 30px;

	@include media('>=tablet') {
		padding: 0 0 65px;
	}

	.slideset {
		position: relative;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		visibility: hidden;
		opacity: 1;
		padding: 20px 20px 38px;

		@include media('>=tablet') {
			padding: 50px 160px 38px 20px;
		}

		@include media('>=desktop') {
			padding: 75px 212px 38px 81px;
		}

		&.slide-current {
			z-index: 10;
			visibility: visible;
			opacity: 1;
		}

		&.slide-ontop {
			z-index: 11;
		}
	}

	h1 {
		color: inherit;
		margin: 0 0 2px;

		a {
			&:hover {
				color: inherit;
				opacity: .7;
			}
		}
	}

	.title {
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 2.8px;
		margin: 0 0 8px;
	}

	.inline-box {
		margin: 0 0 27px;
	}

	.link {
		color: $white;

		&:hover {
			opacity: .7;
		}

		mark {
			color: inherit;
		}
	}
	
	.buttons-gallery {
		padding: 0 20px;

		@include media('>=desktop') {
			padding: 0 81px;
		}
	}

	.btn.btn-info {
		box-shadow: 0 25px 20px rgba(0, 0, 0, 0.08);
	}
}

.buttons-gallery {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	.btn-prev,
	.btn-next {
		@include animate(opacity);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid $white;
		background: transparent;
		font-size: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;

		&:hover {
			opacity: .7;
		}

		&.disabled  {
			display: none;
		}
	}

	.pagination-holder {
		ul {
			@extend %listreset;
			display: flex;
			padding: 0 8px;

			li {
				padding: 0 8px;

				&.active {
					a {
						background: $white;
					}
				}
			}

			a {
				display: block;
				color: $white;
				text-decoration: none;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: rgba($white, .4);
				text-indent: -9999px;
				overflow: hidden;

				&:hover {
					background: $white;
				}
			}
		}
	}
}

/* animation sets */

.slide-fadeOutLeft {
	animation: fadeOut .7s linear both;
}

.slide-fadeInLeft {
	animation: fadeIn .7s linear both;
}

.slide-fadeOutRight {
	animation: fadeOut .7s linear both;
}

.slide-fadeInRight {
	animation: fadeIn 1s linear both;
}


/* move from / to  */

.slide-moveToLeftEasing {
	animation: moveToRightEasing .5s ease both;
}

.slide-moveToRightEasing {
	animation: moveToRightEasing .5s ease both;
}

.slide-moveFromLeftEasing {
	animation: moveBounceEasing 1s ease both;
}

.slide-moveFromRightEasing {
	animation: moveBounceEasing 1s ease both;
}

.gallery-animating.anim-gallery .js-slide:not(.slide-current),
.gallery-animating.anim-gallery .js-slide:before {
	animation: moveBounceEasingSmall .7s .2s ease both;
}

/* current slide goes to right and left */
@keyframes moveToRightEasing {
	0% {
		transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate3d(100%, -70%, 0) scale(1) rotate(10deg);
		opacity: 0;
	}
}

/* next slide goes to right and left */
@keyframes moveBounceEasing {
	0% {
		transform: translate3d(0, -50%, 0) scale(0.76) rotate(0deg);
	}

	20% {
		transform: translate3d(10px, -60%, 0) scale(0.76) rotate(5deg);
	}

	40% {
		transform: translate3d(0, -50%, 0) scale(0.76) rotate(-2deg);
	}

	100% {
		transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
	}
}

@keyframes moveBounceEasingSmall {
	0% {
		transform: translate3d(0, -50%, 0) scale(0.65) rotate(0deg);
	}

	30% {
		transform: translate3d(10px, -50%, 0) scale(0.65) rotate(5deg);
	}

	70% {
		transform: translate3d(5px, -50%, 0) scale(0.65) rotate(-2deg);
	}

	100% {
		transform: translate3d(0, -50%, 0) scale(0.65) rotate(0deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInDelay {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}