.filter-box {
	border-bottom: 1px solid $border-color;
	margin: 0 0 20px;
}

.filter-row {
	padding: 0 0 49px;

	@include media('>=phone') {
		display: flex;
		align-items: center;
	}

	.filter-col {
		@include media('>=phone') {
			width: 96%;
			overflow: hidden;
		}
	}

	.text {
		text-align: center;
		font-size: 16px;
		padding: 0 0 18px;
		width: 10%;

		@include media('<phone') {
			display: none;
		}

		@include media('>=desktop') {
			font-size: 20px;
			padding: 0 5px 18px;
		}
	}

	.jcf-select {
		width: 100%;
	}
}

.search-holder {
	position: relative;

	button[type="submit"] {
		@include center-content-v;
		@include animate(color);
		background: 0;
		border: 0;
		margin: 0;
		padding: 0;
		color: $base-link-color;
		position: absolute;
		left: 19px;
		font-size: 24px;

		&:hover {
			color: darken($base-link-color, 10%);
		}
	}

	input[type="search"] {
		padding-left: 54px;
	}
}

.filter-holder {
	@include media('>=tablet') {
		display: flex;
		justify-content: space-between;
	}

	.sort-box {
		@include media('>=tablet') {
			width: 220px;
			justify-content: flex-end;
			padding: 4px 0 0;
		}
	}

	.filter-list {
		@include media('>=tablet') {
			flex: 1 0;
			padding-right: 20px;
		}
	}
}

.sort-box {
	display: flex;
	color: $headings-color;

	.sort-title {
		margin: 0 4px 0 0;
	}
}

.sort-title {
	font-size: 16px;
	line-height: 24px;
}

.filter-list {
	@extend %listreset;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -4px 5px;
	font-size: 16px;

	li {
		padding: 0 4px 8px;

		&.active {
			a {
				background: $btn-background;
				color: $btn-color;
			}
		}
	}

	a {
		display: flex;
		justify-content: center;
		color: $base-text-color;
		background: $white;
		border-radius: 16px;
		min-width: 80px;
		padding: 4px 15px;
		text-decoration: none;

		@include media('>=tablet') {
			padding: 4px 20px;
		}

		&:hover {
			background: $btn-background;
			color: $btn-color;
		}
	}
}