.list {
  list-style-type:disc;
  list-style: none;
  padding: 0;
  margin: 0 0 .5em;

  > li {
    position: relative;
    padding: 0 0 8px 1.8em;

    &:after {
      content:"";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $base-text-color;
      position: absolute;
      top: 8px;
	  left: 10px;

	  @include media('>=desktop') {
	  	top: 11px;
	  }
    }
  }
}