.pagination {
	@extend %listreset;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -4px 2em;

	li {
		padding: 0 4px 8px;

		&.active {
			.page-link {
				background: $btn-background;
				color: $btn-color;
			}
		}
	}

	.page-link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: $white;
		color: $base-text-color;

		&:hover {
			background: $btn-background;
			color: $btn-color;
		}
	}
}