.partner-block {
	@include bg-styles;
	padding: 35px 20px;
	color: $white;
	text-align: center;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: 0 0 2em;

	@include media('>=tablet') {
		padding: 54px 20px 64px;
		margin: 0 0 3em;
	}

	&:after {
		position: absolute;
		content: '';
		background: $green;
		opacity: 0.88;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	h1 {
		color: inherit;
		margin: 0 0 27px;
	}
}