.progress {
	display: flex;
	height: 20px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 4px;

	.progress-bar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $headings-color;
		white-space: nowrap;
		transition: width .6s ease;
		padding: 0 5px;
	}
}