// rating
.rating {
  font-size: 16px;
  color: $border-color;

  &[data-state="disabled"]{
    pointer-events: none;
  }

  .rating-holder {
    display: flex;
    flex-flow: row-reverse nowrap;
    margin: 0 -0.1em;
    justify-content: flex-end;
  }

  &:hover {
    input {
      &:checked + label,
      &:checked ~ label {
        i {
         content: "\e90a";
         color: $yellow;
        }
      }

      & + label:hover,
      & + label:hover ~ label {
        i {
         content: "\e90a";
         color: $yellow;
        }
      }
    }
  }

  input {
    display: none;

    &:checked + label,
    &:checked ~ label {
      i {
        content: "\e90a";
        color: $yellow;
      }
    }
  }

  label {
    padding:0 1px;

    i {
      content: "\e90a";
    }
  }

  &.w-halves {
    label:nth-of-type(even){
      position: absolute;
      width: 0.37em;
      overflow: hidden;
    }
  }
}