.reviews-block {
	padding: 20px 0 0;

	@include media('>=tablet') {
		padding: 33px 0 0;
	}

	h2 {
		margin: 0 0 1.5em;

		@include media('>=tablet') {
			margin: 0 0 2.4em;
		}
	}
}

.reviews-list {
	padding: 0 0 2.5em;

	.review-box {
		&:last-child {
			border: 0;
		}

		&:first-child {
			padding-top: 0;
		}
	}
}

.review-box {
	padding: 20px 0 3px;
	border-bottom: 1px solid $border-color;

	.rating {
		padding: 0 0 16px;
	}
}

.review-heading {
	display: flex;
	padding: 0 0 16px;

	.autor {
		max-width: 70%;
	}

	time {
		position: relative;
		flex: 1 0;
		padding: 0 0 0 17px;

		&:after {
			content:"";
			background: $base-text-color;
			width: 4px;
			height: 4px;
			position: absolute;
			top: 8px;
			left: 8px;
			border-radius: 50%;

			@include media('>=desktop') {
				top: 11px;
			}
		}
	}
}

.autor {
	display: block;
	font-weight: 700;
	color: $headings-color;
}