.sidebar-box {
	box-shadow: 0 0 48px rgba(0, 0, 0, 0.08);
	border-radius: 16px;
	background: $white;
	padding: 31px;

	h2 {
		margin: 0 0 .8em;
		letter-spacing: .5px;
	}

	.btn {
		display: block;
		width: 100%;
		min-width: 0;
		margin: 0 0 8px;

		&:last-child {
			margin: 0;
		}

		&.btn-info {
			box-shadow: none;
		}
	}

	.rating {
		margin: 0 0 4px;
	}
}

.amount {
	display: block;
	color: $headings-color;
	font: 700 64px/.8 $second-font-sans-serif;
	margin: 0 0 11px;
}

.bordered-columns {
	display: flex;
	margin: 0 -16px 12px;

	.col {
		width: 52.7%;
		padding: 0 16px;
		position: relative;

		&:after {
			content:"";
			border-left: 1px solid $border-color;
			position: absolute;
			top: -7px;
			bottom: -1px;
			left: 0;
		}

		&:first-child {
			width: 47.3%;

			&:after {
				display: none;
			}
		}
	}
}