
/*===============================================*/
/*  overview page                                */
/*===============================================*/
.resource_h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
}

#resource_header h3 {
    margin-bottom: 0px;
}

#resource_header {
    border-bottom: 1px solid #dfe2e7;
    background-image: url(../images/toolbar_bg.png);
    background-position: right 0px;
    background-repeat: no-repeat;
}

.learn-center{
    padding-top: 24px;
}

.resource_item {
    border-radius: 0px 0px 3px 3px ; 
    border: 1px solid #dfe2e7;
    padding: 20px ;
    background-color: #f9fafc;
    /*height: 250px;*/
    /*width: 262.5px;*/
}

.resource_block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.resource_body {
    height: 120px;
}

.btn-resource {
    /*width: 200px;*/
    width: 100%;
    border: 1px solid #aebaca;
    text-transform: uppercase;
    color: #0caea4;
    background-color: #fff;
}

.btn-green-less, .btn-green:hover {
    border: 1px solid #0caea4;
    /*text-transform: uppercase;*/
    color: #0caea4 !important;
    background-color: #fff !important;
}

.btn-resource:hover, .btn-green-less:hover, .btn-green {
    border: 1px solid #0caea4;
    color: #fff !important;
    background-color: #0caea4 !important;
}

.btn-bottom {
    position: relative;
    bottom: 0;
    right: 0;
}

.normal_case_text {
    text-transform: none !important;
}


.resouce_new_tag {
    width: 28px;
    height: 64px;
    background-image: url(../images/new_tag.png);
    background-repeat: no-repeat;
    position: absolute;
/*    left: -35px;
    top: -190px;*/
/*    left: -15px;
    top: -210px;
    z-index: 10;*/
    z-index: 10;
    top: 200px;
    margin-left: -30px !important;
}

.no_bottom_border {
    border-bottom: 0px !important;
}

.no_bottom_margin {
    margin-bottom: 0px !important;
}

#top_container {
    background-color: #384354;
    min-height: 490px;
}


#psingle {
    background-image: url(../images/blue_strip.png);
    background-position: top top;
    background-repeat: repeat-x;
    padding-top: 30px;
}

.upviral_video {
    position: relative;
/*    height: 450px;
    width: 800px;*/
    margin: 0 auto;
    z-index: 2;
    /*top: -460px;*/
    /*top: 20px;*/
}

.upviral_vidbody {
    padding: 20px 30px ;
    background-color: #f9fafc;
    border-left: 1px solid #dfe2e7;
    border-right: 1px solid #dfe2e7;
    border-radius: 0px 0px 3px 3px;
}

.upviral_vidbody h3 {
    font-size: 18px;
    font-weight: bold;
}

.upviral_vidbody_bottom {
    border-bottom: 1px solid #dfe2e7;
}

.moveup-10 {
    margin-top: -10px;
}

.margin_bottom_m500 { 
    margin-bottom: -500px;
}

.btn-bottom-left, .btn-bottom-right {
    width: 50%;
    margin: 0px;
    margin-right: 0px !important;
    float:left;
    border-radius: 0px 0px 0px 3px !important;
}
.btn-bottom-right {
    margin-left: 0px !important;
    border-radius: 0px 0px 3px 0px !important;
}

.btn-bottom-full {
    margin-left: 0px !important;
    border-radius: 0px 0px 3px 3px !important;
    width: 100%
}

.imgbox {
    border: 1px solid #dfe2e7;
    border-radius: 3px;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.course_bcrumb {
    margin-top: 10px;
    list-style: none;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


.course_bcrumb li {
    display: inline;
    font-size: 12px;
    text-align: left;
}

.course_bcrumb li a {
    color: #384354;
}

.course_bcrumb li a:after {
    //content: " / ";
}

.course_bcrumb li:first-child {
    /*margin-left: -38px;*/
}

.course_ptitle {
    padding: 0px 0 25px 0px !important;
}

.center-div {
    margin-left: 13% !important;
    margin-right: -13% !important;
}


#course_nav {
    /*min-height: 600px;*/
    max-height: 600px;
    background-color: #2a3340;
    /*padding:0px 20px 0px 20px;*/
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #1d232b;
    border-radius: 3px;
}

.list_resources {
    list-style: none;
    padding: 0px;
}

.list_resources li {
    margin-left: 0px;
}

.list_resources li i {
    color: #808080;
}
/*
#inner-course_nav {
    background-color: #2a3340;
}*/

.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}

/*.dropdown-menu {right:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}*/
/* CSS used here will be applied after bootstrap.css */
.navbar {
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #2a3340 !important;
    border-color: #2a3340 !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #2a3340 !important;
}

.navbar-default .navbar-toggle {
    border-color: #2a3340 !important;
}

.caret-container {
  float: right;
}

.nav-container {
  /*background-color: #f5f5f5;*/
  text-transform: uppercase;
  font-weight: bold;
}
  
.nav-sub-container {
  /*background-color: #f8f8f8;*/  
  font-weight: bold;
  cursor: pointer;
}

ul.nav-stacked ul.nav-stacked > li > a {
    padding-left: 10px;
    color: #fff !important;
}

ul.nav-stacked ul.nav-stacked > li > a:hover {
    color: #0caea4 !important;
    /*color: #fff !important;*/
}

.nav-pills > li > a {
    border-radius: 0px !important;
}

#stacked-menu ul {
    margin-bottom: -1px;
}

#stacked-menu li {
    border-bottom: 1px solid #1d232b;
    line-height: 24px;
}

#stacked-menu li > ul > li:first-child{
    border-top: 1px solid #1d232b;
}

#stacked-menu ul li ul li {
    /*padding: 0px 15px 0px 15px;*/
    border-top: 1px solid #1d232b;
}


#stacked-menu li  ul li  a {
    padding: 5px 20px 5px 20px;
}

#stacked-menu > li:last-child {
    /*padding: 0px 15px 0px 15px;*/
    border-bottom: 0px solid #1d232b;
}

#stacked-menu ul li ul li:first-child {
    /*padding: 0px 15px 0px 15px;*/
    border-top: 1px solid #1d232b;
    ;margin-top: 10px;
}

#stacked-menu ul li ul li:last-child {
    /*padding: 0px 15px 0px 15px;*/
    border-top: 1px solid #1d232b;
}


#stacked-menu > li > a {
    /*padding: 5px 20px 5px 20px;*/
    padding: 5px 10px !important;
    /*padding: 0px 15px 0px 15px;*/
    color: #fff !important;
    font-weight: normal;
    text-transform: none;
}

.nav-pills li a{
    padding: 5px 20px 5px 20px !important;
}

#stacked-menu > li  a:focus, #stacked-menu > li  a:hover {
    background-color: transparent !important;
    color: #5d6877 !important;
}

#stacked-menu > li.active>a, #stacked-menu > li.active>a:focus, #stacked-menu > li.active>a:hover{
    background-color:  #0caea4 !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:  #0caea4 !important;
}
#nav.nav-pills.nav-stacked{
    margin-bottom: 0px;
}

#psingle .collapse.in {
    background-color:  #384354 !important;
    border-left: 2px solid #0caea4;
}
.course_list .active
{
    background-color: saddlebrown;
}
.course_list li
{
    line-height: 20px;
    padding: 5px;
    margin: 2px;
    background-color: currentColor;
    list-style: none;
    text-decoration: none;
}
#stacked-menu li ul li a i{
    padding-right: 25px;
}
/*
#inner-course_nav {
    background-color: #2a3340;
}*/

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .resource_body {
        height: 180px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .resource_item {
        /*width: 270px;*/
        margin: 0 auto;
    }

    /*.resouce_new_tag {
        margin-left: 1%;
    }*/

    .upviral_video iframe {
        height: 100%; 
    }

    .center-div {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width : 736px) {

    .resource_item {
        width: 270px;
        margin: 0 auto;
    }

    .resouce_new_tag {
        margin-left: 26.5%;
    }
}

@media only screen and (max-width : 667px) {

    .resource_item {
        width: 270px;
        margin: 0 auto;
    }

    .resouce_new_tag {
        margin-left: 24.5%;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 600px) {
  
    .resouce_new_tag {
        margin-left: 21.5%;
    }

    .resource_body {
        height: auto;
    }
  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 568px) {
  
    .resouce_new_tag {
        margin-left: 20%;
    }
  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 550px) {
  
    .resouce_new_tag {
        margin-left: 18%;
    }
  
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .resouce_new_tag {
        margin-left: 13%;
    }

    .btn-bottom-left, .btn-bottom-right {
        float: none;
        width: 100%;
        border-radius: 0px !important;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 414px) {

    .resouce_new_tag {
        margin-left: 8%;
    }


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 375px) {
    .resouce_new_tag {
        margin-left: 7px;
    }
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .resouce_new_tag {
        margin-left: -10px;
    }
}

.resource_img{
    height: 150px;
    width: 265px;
    text-align: center;
}

