/*NORMAL CSS*/

/*BUTTON CSS*/
.new-btn{display:inline-block; padding:9px 15px; line-height:16px; text-align:center; color:#fff; font-size:14px; background:#c2c3c3; border-radius:4px; -webkit-border-radius:4px;}
.new-btn:hover, .new-btn:focus{border-radius:0; color:#fff;}
.btn-lightseagreen{background:#0caea4;}
.btn-lightseagreen:hover, .btn-lightseagreen:focus{background:#0cc0b5;}

/*SECONDARY INFO CSS*/
.secondary-info{float:left; width:100%; font-size:14px; font-family: 'Open Sans', sans-serif; color:#333; padding-top:30px;}
.secondary-info img{float:left;}
.secondary-info a{text-decoration:none;}
.secondary-info .col-md-1, .secondary-info .col-md-10, .secondary-info .col-md-11, .secondary-info .col-md-12, .secondary-info .col-md-2, .secondary-info .col-md-3, .secondary-info .col-md-4, .secondary-info .col-md-5, .secondary-info .col-md-6, .secondary-info .col-md-7, .secondary-info .col-md-8, .secondary-info .col-md-9{padding-bottom:15px;}
.white-box{float:left; width:100%; background:#fff; border-radius:5px; -webkit-border-radius:5px;}
.border-box{float:left; width:100%; background:#fff; border-radius:5px; -webkit-border-radius:5px;}
.border-box .section-title{margin:0;}
.border-box-inner{float:left; width:100%; border:1px solid #ddd; border-top:none; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.section-title{display:block; overflow:hidden; clear:both; padding:8px; margin-bottom:15px; background:#f7f8f9; border:1px solid #ddd; border-top:6px solid #0caea4; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.section-title .new-btn{float:right;}
.title-name{float:left; padding:7px 0 0 10px;}
.title-name span{font-family: 'Open Sans', sans-serif; font-weight:700;}

/*BOX SPACE CSS*/
.box-space{display:block; overflow:hidden; clear:both; padding:10px;}

/*STATS PAGE CSS*/

/*STATS LIST CSS*/
.stats-list{float:left; width:100%;}
.stats-title{float:left; width:100%; border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:12px; color:#5c9bd1; font-size:18px; font-family: 'Open Sans', sans-serif;}
.stats-title small{display:inline-block; font-size:13px; text-transform:none; color:#9cacb4; padding-left:2px;}

/*STATS BOX CSS*/
.stats-box{display:block; overflow:hidden; clear:both; padding:15px 0; background:#f7f8f9; border:1px solid #ddd; border-top:6px solid #0caea4; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.stats-info{display:block; overflow:hidden; text-align:right; padding:5px 15px 0 10px;}
.stats-info big{display:block; padding-bottom:10px; font-size:34px;}
.stats-info small{display:block; font-size:16px;}

/*SHARING ACTIVITY CSS*/
.sharing-activity{float:left; width:100%;}
.sharing-activity .section-title{font-size:34px; text-align:center; padding:18px;}

/*SOCIAL CSS*/
.social{display:block; overflow:hidden; clear:both; padding:7px;}
.social a{display:block; text-align:center; color:#fff; background:#f7f8f9; padding:30px 3px; margin:7px; border-radius:5px; -webkit-border-radius:5px;}
.social big{display:block; padding-bottom:16px; font-size:34px;}
.social small{display:block; font-size:14px;}
.social .all-shares{background:#0caea4;}
.social .all-shares:hover{background:#0cbeb3;}
.social .facebook-shares{background:#3b5998;}
.social .facebook-shares:hover{background:#4062a8;}
.social .twitter-shares{background:#00a0d1;}
.social .twitter-shares:hover{background:#02ade2;}
.social .linkedin-shares{background:#0e76a8;}
.social .linkedin-shares:hover{background:#0f81b8;}
.social .pinterest-shares{background:#c8232c;}
.social .pinterest-shares:hover{background:#d92630;}
.social .google-shares{background:#db4a39;}
.social .google-shares:hover{background:#ec503e;}
.social .whatsapp-shares{background:#54CC61;}
.social .whatsapp-shares:hover{background:#5bdc69;}
.secondary-info .social .col-md-4{padding:0;}

/*REFERRAL LIST CSS*/
.referral-list{float:left; width:100%; font-size:16px;}
.referral-list:nth-child(5n) span{border-bottom:none;}
.referral-list:nth-child(2n){background:#f7f8f9;}
.referral-list span{float:left; width:42px; padding:5px; line-height:34px; background:#f7f8f9; border-bottom:1px solid #ddd; border-right:1px solid #ddd; text-align:center;}
.referral-list dl{display:block; overflow:hidden; line-height:16px; padding:10px 15px; margin:0;}
.referral-list dt{float:left; width:80%; font-weight:normal; line-height:normal;}
.referral-list dd{float:left; width:20%; text-align:right;}

/*MORE LEADS CSS*/
.more-leads{display:block; overflow:hidden; clear:both; border-top:1px solid #ddd; text-align:center; background:#f7f8f9; font-size:16px; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.more-leads a{display:block; padding:23px; color:#4b8df8; line-height:19px;}
.more-leads a:hover{text-decoration:underline;}

/*SPLIT TEST PAGE CSS*/

/*SPLIT LIST CSS*/
.split-list{float:left; width:100%; padding-bottom:25px;}
.split-list:last-child{padding-bottom:0;}

/*SPLIT TABLE CSS*/
table.split-table{float:left; border:1px solid #ddd; font-size:14px; border-radius:5px; -webkit-border-radius:5px; border-collapse:separate;}
table.split-table th:first-child{border-radius:5px 0 0 0; -webkit-border-radius:5px 0 0 0;}
table.split-table th:last-child{border-radius:0 5px 0 0; -webkit-border-radius:0 5px 0 0;}
table.split-table th{padding:10px 15px; background:#f7f8f9; text-align:left; border-bottom:1px solid #ddd; font-weight:normal; line-height:24px; font-family: 'Open Sans', sans-serif; font-size:14px;}
table.split-table td{padding:10px 15px; line-height:24px; position:relative; border-top:1px solid transparent; border-bottom:1px solid transparent; vertical-align:middle; white-space:nowrap;}
table.split-table tr:hover td, table.split-table tr.selected td{background:#f2fdff; border-top:1px solid #0caea4; border-bottom:1px solid #0caea4;}
table.split-table tr:hover .pick-winner{text-decoration:underline;}
table.split-table tr:nth-child(2n){background:#f7f8f9;}
table.split-table tr a{float:left; width:115px;}
table.split-table tr a.winner{font-weight:bold; color:#0caea3;}
table.split-table .cancel{display:none; color:#fb5f61;}
table.split-table tr.selected a.pick-winner{display:none;}

table.split-table tr:hover .winner{display:none;}
table.split-table tr.selected:hover .cancel{display:block;}
table.split-table img{float:none; padding-right:2px;}
table.split-table a{color:#4b8df8;}

/*PROGRESS BAR CSS*/
.secondary-info .progress{position:absolute; left:0; top:0; width:100%; line-height:45px; height:100%; color:#0caea4; font-family: 'Open Sans', sans-serif; font-weight:700; background:#f7f8f9; border-radius:0;}
.secondary-info .progress span{position:absolute; top:0; left:0; bottom:0; right:0; overflow:visible !important; padding-left:15px; background:#e1ffc1; z-index:1;}


/*RESPONSIVE CSS*/
@media screen and (max-width:1350px){
/*SPLIT TEST PAGE CSS*/
table.split-table{font-size:12px;}
table.split-table th{padding:5px; font-size:12px;}
table.split-table td{padding:5px;}
.progress{line-height:36px;}
}

@media screen and (max-width:1279px){
/*STATS PAGE CSS*/	
.stats-info small, .social small{font-size:12px;}
.social{padding:3px;}
.social a{margin:4px;}
.referral-list span{line-height:30px;}
.referral-list dl{padding:7px 15px;}
.sharing-activity .section-title, .social big, .stats-info big{font-size:30px;}
.main{padding:10px;}
}

@media screen and (max-width:1023px){
/*STATS PAGE CSS*/	
.more-leads a{padding:20px;}
.secondary-info .col-md-1, .secondary-info .col-md-10, .secondary-info .col-md-11, .secondary-info .col-md-12, .secondary-info .col-md-2, .secondary-info .col-md-3, .secondary-info .col-md-4, .secondary-info .col-md-5, .secondary-info .col-md-6, .secondary-info .col-md-7, .secondary-info .col-md-8, .secondary-info .col-md-9{overflow:hidden; clear:both; padding:0 0 15px;}
.secondary-info .row{margin:0;}
}

@media screen and (max-width:799px){
/*SPLIT TEST PAGE CSS*/
table.split-table th, table.split-table td{float:left; width:100%; height:38px; line-height:16px; padding:10px 15px; font-size:14px;}
table.split-table td{border-bottom:1px dotted #ddd;}
}

@media screen and (max-width:767px){
/*STATS PAGE CSS*/	
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11{width:100%;}
.stats-title small{float:left; width:100%; padding:5px 0 0;}
}

@media screen and (max-width:479px){
/*STATS PAGE CSS*/	
.referral-list dl dt{width:100%; border-bottom:1px dotted #ddd; padding-bottom:10px; margin-bottom:10px;}
.referral-list dl dd{width:100%; text-align:left;}
.referral-list span{line-height:65px;}
.title-name{width:100%; padding:0 10px 10px;}
.section-title .new-btn{float:none; display:block; overflow:hidden; clear:both;}
.sharing-activity .section-title{font-size:20px;}
.stats-title{font-size:14px; padding-bottom:2px; margin-bottom:10px;}
.referral-list{font-size:12px;}
.referral-list dl{padding:10px;}
}

@media screen and (max-width:319px){
/*STATS PAGE CSS*/	
table.split-table th, table.split-table td{font-size:12px;}
}