.pagination {
height: 40px;
margin: 20px 0;
border-left: 1px solid #ddd;
}
.pagination ul {
display: inline-block;
margin-bottom: 0;
margin-left: 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul, ol {
padding: 0;
margin: 0 0 10px 2px;
}
.pagination li {
display: inline;
}
li {
line-height: 20px;
}
.pagination a, .pagination span {
    /*float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 1px;*/
    background-color: #fff;
    line-height: 1.9 !important;
    border-color: #0caea4 !important;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #0caea4;
    text-decoration: none;
    border: 1px solid #ddd;

} 
.pagination li:first-child a , .pagination span:first-child {
  margin-left: 0;
   border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination li:last-child a , .pagination span:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination a {
color: #337ab7;
text-decoration: none;
}
#result
{ 
  min-height:auto;
  max-height:500px;
  overflow: scroll;
}
.pagination  li.active a 
{
color: #333;
text-decoration: none;
background-color: #eee;
}
.selct{
    width: 80px;
    height: 34px;
    margin-bottom: 9px;
    border: 1px solid #e5e5e5;
    display:inline-block;
    border-radius: 4px;
}
.selct2{
    margin-left: 3px;
}
.search{
    width: 145px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.search_text
{
    float: right;
    display:inline-block;
}
th.sorting{
    background:url(../assets/global/plugins/datatables/media/images/sort_both.png) no-repeat center right;
}
th.sorting_asc{
    background:url(../assets/global/plugins/datatables/media/images/sort_asc.png) no-repeat center right;
}
th.sorting_desc{
    background:url(../assets/global/plugins/datatables/media/images/sort_desc.png) no-repeat center right;
}

.portlet > .portlet-body.green, .portlet.green
{
    background: none;
}
.search
{
    padding: 0px 10px;
}