// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	line-height: 1.333;
	font-weight: 700;
	margin: 0 0 .55em;
	color: $headings-color;
	letter-spacing: .5px;

	a {
		color: inherit;
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: $h1-font-size;
	margin: 0 0 .75em;

	@include media('>=desktop') {
		font-size: 36px;
		letter-spacing: 1px;
	}
}

h2, .h2 {
	font-size: $h2-font-size;

	@include media('>=desktop') {
		font-size: 24px;
		letter-spacing: 1px;
	}
}

h3, .h3 {
	font-size: $h3-font-size;
	margin: 0 0 .7em;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 1em;
}

a {
	@include animate(color background border opacity);
	color: $base-link-color;

	&:hover,
	&:focus {
		text-decoration: none;
		color: darken($base-link-color, 10%);
	}
}

mark {
	background: none;
	color: $base-link-color;
}