// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #637180;
$dark-gray: #34495e;
$black: #000;
$white: #fff;
$green: #0caea4;
$blue: #1d99d7;
$purple: #a48ad4;
$red: #ed8562;
$yellow: #fec923;

$base-font-sans-serif: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$second-font-sans-serif: 'Poppins', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $gray !default;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.5 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $green;

$border-color: #e0e1e5 !default;

$btn-color: $white !default;
$btn-background: $green !default;
$btn-padding: .7em .7em .8em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $border-color !default;
$form-element-focus-border-color: $dark-gray !default;
$placeholder-color: #98afc6 !default;

// Headers
$h1-font-size: 28px !default;
$h2-font-size: 22px !default;
$h3-font-size: 18px !default;
$h4-font-size: 17px !default;
$h5-font-size: 16px !default;
$h6-font-size: 15px !default;

$headings-font-family: $second-font-sans-serif !default;
$headings-color: $dark-gray !default;

$animation-speed: .3s;
