/*
No need for style tags here;
simply get started by writing
CSS! Watch as your changes
are reflected live in the
preview area. Have fun!
*/



#menu-main-menu > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff;   
    text-transform: uppercase;
    margin-top: -10px;
}

#menu-main-menu > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff;    
}

#menu-partners-menu > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff;   
    text-transform: uppercase;
    margin-top: -10px;
}

#menu-partners-menu > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff;    
}

.btn-orange-less {
  color: #ef855c !important;
  border-color: #ef855c !important;
  background-color: #fff !important;
  text-shadow: none !important;
}

.btn-orange-less:hover {
  color: #fff !important;
  border-color: #ef855c !important;
  background-color: #ef855c !important;
  text-shadow: none !important;
}

.x-text-type > span {
    font-weight: 100 !important;
    letter-spacing: 0px;
}

.h-custom-headline > span {
    font-weight: 100;
    letter-spacing: 0px;
}

.font_500 {
  font-weight: 500 !important
}

/* video */
/*
.x-video .x-video-inner {
    width: 80%;
    margin: 0 auto;  
    padding-bottom: 45.25%;
}
*/
.vid_testi > .x-video-inner {
    width: 100%;
    margin: 0 auto;  
    padding: 29%;
}

/*
.x-video .x-video-inner iframe{
    height: 80%;
} 
*/
.jv-date {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    /*background-color: #2e3b4e;*/
    margin: -22px auto;
    /*width: 390px;*/
}

.jv-date > span {
    font-weight: 100;
    letter-spacing: 0px;
    background-color: #2c3643;
    padding: 0px 10px;
}

.x-btn.x-btn-large {
    padding: 0.779em 2.105em 0.842em;
    font-size: 19px;
}

.x-frm-input {
    font-size: 19px !important;
    padding: 0.779em 10px !important;
    height: 56px !important;
    /*margin: 0px 8px 0px 10px;*/
    width: 315px;
    clear: both;
}

.sepform {
  float: left;
  padding:20px 10px;
  margin: 0 auto;
}

.x-block-grid-item {
    border: 1px solid #ccc;
    padding: 20px 20px 0px !important;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

#vl_g1 > .x-block-grid-item {
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    border: 0px;
}

#viral_loop {
  background: url("https://upviral.com/wp-content/uploads/2015/07/viral_loop.png") no-repeat;
  background-position: center top;
  height: 511px;
  width: 100%;
  background-size: contain;
}

.prlist li {
  font-size: 18px !important;
}

#stefan_div, .col_testi, #get_in_touch {
  border-top: 5px solid #14b9d6; /*0caea4*/
  border-bottom: 1px solid #dfe2e7;
  border-radius: 3px;
    border-left: 1px solid #dfe2e7;
    border-right: 1px solid #dfe2e7;
}

.col_testi {

}

.tagline {
  padding-left: 15px;
  padding-right: 15px;
}

#get_in_touch {
  height: auto;
}

.fb_link, .fb_link:hover {
  color: #fff;
  text-decoration: underline;
}

#get_in_touch_email p{
  padding:0px;
  margin: 10px 0px; 
}
/*
#div_contest {
  width: 100% !important;
}
*/
#zoomer2 {
  margin-top:3em;
  margin-left: 25em;
}
#zoomer3 {
  position: absolute;
  margin-top:-1em;
  margin-left: 12em;
}
#zoomer4 {
  margin-top:-0.5em;
  margin-left: 25.78em;
}
#zoomer5 {
  margin-top:-2em;
  margin-left: 15.78em;
}

.feature_icon_list li{
  font-size: 16px !important;
}

.font14 p {
  font-size: 14px !important;
}

.font16 p {
  font-size: 16px !important;
}

.font18 p {
  font-size: 18px !important;
}

.font20 p {
  font-size: 20px !important;
}

.text-bluegreen {
  color: #20bcd8 !important;
}

.text-dropshadow_lt {
  text-shadow: -1px 1px #fff;
}

.x-colophon.top {
  display: none;
}


.bonus_width .x-column.x-sm {
    width: 70.3%;
    border: 1px solid #dfe2e7;
    margin: -20px 15.3% 0px;
    border-top: 0px;
}
.bonus_width_b .x-column.x-sm {
    padding: 20px 20px 20px 20px !important;
  /*
    width: 83.3%;
    border: 1px solid #dfe2e7;
    margin: -20px 6.3% 0px;
    border-top: 0px;
  */
    width: 70.3%;
    border: 1px solid #dfe2e7;
    margin: -20px 15.3% 0px;
    border-top: 0px;
    /*border-radius: 0px 0px 3px 3px;*/
}


.btn-applegreen {
  background-color: #89c154 !important;
  border-color: #89c154 !important;
}

.btn-applegreen:hover {
  background-color: #9cc154 !important;
  border-color: #9cc154 !important;
}


.btn-applegreen-less {
  background-color: #fff !important;
  border-color: #89c154 !important;
  color: #89c154 !important;
  text-shadow: none !important;
}

.btn-applegreen-less:hover {
  background-color: #9cc154 !important;
  border-color: #9cc154 !important;
  color: #fff !important;
  text-shadow: none !important;
}



.text-bluegreen, .text-bluegreen p {
  color: #14b9d6;
}

.payment {
  background-color: #fafbfc !important;
  padding: 10px;
  border-radius: 4px;
}

.payment:hover {
  cursor: pointer;
}

.red_border {
  border:2px solid #f85359 !important;
}

.bestdeal {
  background-color: #f85359 !important;
  color: #fff;
  width: 120px;
  text-align: center;
  margin: -15px auto;
  border-radius: 5px;
}

#fact_1 {
  margin-top: 30px; 
}
#fact_2 {
  margin-top: 0px;
}
#fact_3 {
  margin-top: 50px;
}

#fact_img {
  position: relative; margin-top: -180px
}

#letter_mail {
  position:relative; margin-bottom: -83px;
  margin-top: -100px;
}

#letter_mail_text {
  width: 45%; font-size: 22px;position: absolute; right: 0px; top: 120px;
}

#main_vid .x-video-inner {
-webkit-box-shadow: 0px 14px 73px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 73px -11px rgba(0,0,0,0.75);
box-shadow: 0px 14px 73px -11px rgba(0,0,0,0.75);
}

.mark1 {
  background-image: url(https://connectio.io/wp-content/uploads/2016/09/bg_mark1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mark2 {
  background-image: url(https://connectio.io/wp-content/uploads/2016/09/bg_mark2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerlist li{
  font-size: 18px
}

.move_forward {
  position: absolute; margin-top: -3px; left: 47.5%;
  z-index:2;
}

.yhlt {
  background: url(https://connectio.io/wp-content/uploads/2016/12/yellow_hlt.png); background-position: center bottom; background-repeat: no-repeat;
}

.rhlt {
  background: url(https://connectio.io/wp-content/uploads/2016/12/red_hlt.png); background-position: center bottom; background-repeat: no-repeat;
}
/*
.whitech_list {
  list-style-image: url(https://connectio.io/wp-content/uploads/2016/12/white_check.png);
}
*/
.whitech_list li {
  background-image: url(https://connectio.io/wp-content/uploads/2016/12/white_check.png);
  background-repeat: no-repeat;
  margin: 0px 0px 10px -10px;
  padding: 0px 0px 10px 42px;
}
.whitech_list li i:before{
  content:'' !important;
}

.greench_list li {
  background-image: url(https://connectio.io/wp-content/uploads/2016/12/green_check.png);
  background-repeat: no-repeat;
  margin: 0px 0px 10px -10px;
  padding: 0px 0px 10px 42px;
}
.greench_list li i:before{
  content:'' !important;
}

.greench_list_smtxt li {
  font-size: 18px !important;
}

.greendot_list li {
  background-image: url(https://connectio.io/wp-content/uploads/2016/12/greenb_dot1.png);
  background-repeat: no-repeat;
  margin: 0px 0px 10px -10px;
  padding: 0px 0px 10px 40px;
}
.greendot_list li i:before{
  content:'' !important;
}

.width500 {
  width: 550px !important;
}

.testi_tip {
  width: 550px; min-height: 280px; display: table;
}

.brightangle {
  display: table-cell;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 33px 48px;
  border-color: transparent transparent #ffffff transparent;
}

.brightcontent {
  display: table-cell; 
  width: 500px;
  background-color: #fff;
  min-height: 280px;
  padding: 30px;
  border-radius: 10px 10px 10px 0px;
  -webkit-box-shadow: 34px 11px 50px 10px rgba(212,212,212,1);
  -moz-box-shadow: 34px 11px 50px 10px rgba(212,212,212,1);
  box-shadow: 34px 11px 50px 10px rgba(212,212,212,1);
/* 
-webkit-box-shadow: 25px 19px 65px -28px rgba(0,0,0,0.75);
-moz-box-shadow: 25px 19px 65px -28px rgba(0,0,0,0.75);
box-shadow: 25px 19px 65px -28px rgba(0,0,0,0.75);
*/
}

.brightcontent p, .bleftcontent p {
  font-size: 18px !important;
}

.bleftangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 0 0 48px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  bottom: 0;
  /*display: table-cell; */
}

.bleftcontent {
  display: table-cell; 
  width: 500px;
  background-color: #fff;
  min-height: 280px;
  padding: 30px;
  border-radius: 10px 10px 0px 10px;

-webkit-box-shadow: -34px 11px 50px 10px rgba(212,212,212,1);
-moz-box-shadow: -34px 11px 50px 10px rgba(212,212,212,1);
box-shadow: -34px 11px 50px 10px rgba(212,212,212,1);  
/*
-webkit-box-shadow: -25px 19px 65px -28px rgba(0,0,0,0.75);
-moz-box-shadow: -25px 19px 65px -28px rgba(0,0,0,0.75);
box-shadow: -25px 19px 65px -28px rgba(0,0,0,0.75);
*/
}

.cleftangle {
  display: table-cell; vertical-align: bottom
}

.btn_nohover:hover {
  opacity: 1 !important;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .sepform {
      width: 100%;
    }
  
  .bonus_width , .bonus_width_b .x-column.x-sm {

  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1080px) {
  #main_video, #main_video > div,  #vid_details  {
    width: 100% !important;
  }
  #main_video > div > div {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width : 1042px){
  #x-section-13 > div:nth-of-type(1) > div:nth-of-type(1) {
    background-size: 100% 100% !important;
  }
}

@media only screen and (max-width : 1010px) {
  .laptop-img {
    display: none !important;
  }
  
  .msg-bubble-l ,.msg-bubble-r {
    clear: both;
    /*margin-left: 20px !important;*/
    margin: 0 auto !important;
  }
  
  .msg-bubble-l:parent ,.msg-bubble-r:parent {
    float: none !important;
  }
   
  #x-section-13 div:nth-of-type(3) > div,
  #x-section-13 div:nth-of-type(4) > div,
  #x-section-13 div:nth-of-type(5) > div,
  #x-section-13 div:nth-of-type(6) > div,
  #x-section-13 div:nth-of-type(7) > div {
    float: none !important;
    width: 100% !important;
  }
  
  .testi_tip {
    width: 100% !important;
  }
  
  #x-section-13 div:nth-of-type(5) .msg-bubble-l {
    margin-top: 450px !important;
  }
  
  
  #x-section-13 div:nth-of-type(7) .cs-ta-center {
    margin-top: 450px !important;
  }
  
  #x-section-13 div:nth-of-type(8) div {
    width: 100% !important;
    margin: 0 auto !important;
  }
  
}

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #fact_1 {
    margin-top: 0px; 
  }
  #fact_2 {
    margin-top: 0px;
  }
  #fact_3 {
    margin-top: 0px;
  }

  #fact_img {
    position: relative; margin-top: 0px
  }
  
  .width500 {
    width: 100%;
  }
  
  #vid_details {
		padding: 0px 0px 0px 10px !important;
  }

  #x-section-13 > div:nth-of-type(1) > div:nth-of-type(1) {
    /*background-size: 100% 200px !important;*/
  }
  
  #x-section-13 > div:nth-of-type(1) > div:nth-of-type(1) > div > p > span {
    line-height: 1 !important;
  }
  
  .bleftangle {
    display: none !important;
  }
  
  #x-section-34 > div:nth-of-type(3){
    width : 100% !important;
    padding: 0px 40px !important;
  }
  
  #x-section-34 > div:nth-of-type(4) {
		padding: 0px 40px !important;
    width: 100% !important;
    margin-top: -20px !important;
  }
  #x-section-34 > div:nth-of-type(4) > div > hr:nth-of-type(1) {
    margin-bottom: 30px !important;
  }
  
  #price_table > hr:nth-of-type(2),#price_table > hr:nth-of-type(3), #price_table > hr:nth-of-type(4) {
    margin: 0px !important;
  }
  
  #price_table > h2 {
    margin-top: 30px !important;
  }
  
  .greench_list {
    margin: 0px !important;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
   .zoom_img {
     width: 4.5em;
   }  
  #zoomer2 {
    margin-top:0em;
    margin-left: 0em;
  }
  #zoomer3 {
    position: relative;
    margin-top:0em;
    margin-left: 0em;
  }
  #zoomer4 {
    margin-top:0em;
    margin-left: 0em;
  }
  #zoomer5 {
    margin-top:0em;
    margin-left: 0em;
  }
  #viral_loop {
    background-size: cover;
  }
  

}

@media only screen and (max-width : 456px) {
  #x-section-13 div:nth-of-type(5) .msg-bubble-l {
    margin-top: 575px !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/*iframe style="border: 0px solid #fff; padding: 0px !important; border-radius: 3px;"*/ 