<!-- Start Clever Messenger VAT Display Code -->
<script>
let vatCountries = ["austria","belgium","bulgaria","croatia","cyprus","czechia","denmark","estonia","finland","france","germany","greece","hungary","ireland","italy","latvia","lithuania","luxembourg","malta","netherlands","poland","portugal","romania","slovak republic","slovenia","spain","sweden","united kingdom"];

$(document).ready(function(){
$('#buyer_tax_number').parent().hide();
$('body').on('change', '#billing-country', function() {
let selectedCountry = $("#billing-country option:selected").text().toLowerCase();
if (include(vatCountries,selectedCountry)){
let boxHeight = $("#last_name").parent().height();
$("#buyer_tax_number").parent().height(boxHeight);
$("#buyer_tax_number").parent().show();
}
else {
$("#buyer_tax_number").parent().hide();

}
});

$("#buyer_tax_number").parent().hide();
$("#billing-country").trigger("change");

});

function include(arr,obj) {
    return (arr.indexOf(obj) != -1);
}
</script>

<style>
/*#buyer_tax_number{
display : none
}*/
</style>
<!-- End Clever Messenger VAT Display Code -->

<!-- Start Custom Style -->

<style>

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img#campaign-logo {
    position: relative;
    top: -15px;
    max-width: 200px !important;
    margin-left: 20px;
}

header {
    margin-bottom: 40px;
    color: #fff;
}

header .support-email {
    text-align: right;
    padding-right: 2.3em;
    position: relative;
    margin-top: -15px;
}

.input--fumi {
    background: #fff;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 0.25em 0;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 220px;
    border: 1px solid #f0f0f0;
}

.text-center {
    text-align: center;
    color: #243247;
}

#wrap {
    background-color: #384354 !important;
}

.box {
    overflow: visible !important;
    margin-bottom: 3em;
    background: #ffffff;
    /*border-radius: 30px;*/
    border: 1px solid #dfe4ec;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    padding: 5px 30px 20px;
    margin-top: 5px;
    width: 110% !important;
}

.order-table h2, .order-table .head {
    width: 100%;
    margin-bottom: 20px;
}

.total-value {
    text-align: center;
    padding: 1em 1em 1.0em;
    float: right;
    margin-top: 0;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #f0f0f0 !important;
}

.clearfix {
    padding-top: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #00CFA0 !important;
    color: #FFF !important;
    border-radius: 6px !important;
}

.sub_total.value, .value {
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
    width: auto;
    display: inline-block;
    float: right;
}

span.payment_due.value {
    font-size: 25px;
    /*color: #ef5b30;*/
    color: #000000;
}

a {
    font-family: "Lato", sans-serif;
}

a:hover, a:focus {
    color: #36a7fb;
}

a {
    color: #36a7fb;
}

#contact-heading {
    color: rgba(36,49,71,1) !important;
    background-color: rgba(0,0,0,0) !important;
    margin-top: -20px;
    margin-bottom: 20px;
}

#payment-heading {
    color: rgba(36,49,71,1) !important;
    background-color: rgba(0,0,0,0) !important;
    margin-bottom: 20px;
}

.text-uppercase {
    text-transform: unset;
}

#plan-heading {
    color: rgba(255,255,255,1) !important;
    margin-bottom: 30px;
    /*text-shadow: 0px 0px 20px #0067f8;*/
}
#plan-description-text {
    color: rgb(255, 255, 255) !important;
    /*text-shadow: 0px 0px 20px #0067f8;*/
}

#plan-checklist-1-text {
    color: rgb(255, 255, 255) !important;
    /*text-shadow: 0px 0px 20px #0067f8;*/
}

#plan-checklist-2-text {
    color: rgb(255, 255, 255) !important;
    /*text-shadow: 0px 0px 20px #0067f8;*/
}

#plan-checklist-3-text {
    color: rgb(255, 255, 255) !important;
    /*text-shadow: 0px 0px 20px #0067f8;*/
}

#plan-checklist-4-text {
    color: rgb(255, 255, 255) !important;
    /*text-shadow: 0px 0px 20px #0067f8;*/
}

#plan-name-text {
    color: rgba(255,255,255,1) !important;
    font-weight: bolder !important;
    font-family: "Quicksand",sans-serif;
    font-style: normal;
    letter-spacing: -.05em;
    font-size: 40px;
    text-align: left;
    display: inherit !important;
}
.product .check-list {
    padding-left: 0;
    padding-bottom: 0em;
}

p {
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    color: #037cfb;
    text-decoration: unset;
}

.product {
    color: #fff;
    padding-bottom: 20px;
}

.media-left img.media-object {
    width: unset;
    border-radius: 100%;
    border: unset !important;
    box-shadow: 3px 7px 20px 0 rgba(0,0,0,.1);
}

h2#payment-heading {
    display: block;
    width: 100%;
    margin-top: 0px;
}

.pay-options {
    position: relative;
    margin: 1em 0 0 0;
}

.pay-options h4 {
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    margin: 0 auto;
    width: 300px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    background: transparent;
    color: #2b2b2b;
    padding: 0.5em 1em;
}

.pay-options .box.paymentChoice.paymentChoiceActive.active a {
    box-shadow: 0 0 0 4px #5fd1a0 inset;
    background-color: #5fd1a0;
    color: #FFF !important;
    text-shadow: 1px 1px 1px #5ec197;
    font-size: 13px;
}

.pay-options .box.paymentChoice.paymentChoiceActive a {
    box-shadow: 0 0 0 4px #f2f3f4 inset;
    color: #cbcccd;
    padding: 0.5em 0.5em 0.8em;
    background: transparent;
    border-radius: 7px;
    font-weight: 300;
    font-size: 11px;
    display: inline-block;
    width: 96%;
    text-decoration: none;
    position: relative;
    font-family: "Montserrat";
    font-weight: 400;
}

.pay-options .box.paymentChoice.paymentChoiceActive {
    display: inline-block;
    padding: 0;
    background: transparent;
    width: 50% !important;
    float: left;
    text-align: center;
    box-shadow: none !Important;
    border: 0 !important;
    position: relative !important;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 15px;
}

#order-bump-heading {
    color: rgba(255,255,255,1) !important;
    background-color: rgba(16,108,255,1) !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

#order-bump-description {
    color: rgb(43, 43, 43) !important;
    font-weight: 100 !important;
    font-size: 15px !important;
    text-align: justify !important;
    background-color: rgb(255,255,255) !important;
    border-color: rgb(221,221,221) !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 1px solid #f0f0f0 !important;
    border-top: 0px solid transparent !important;
}

.order-bump p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}

li#order-bump-sub-text {
    margin-top: 0px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

#body.theme-1-5 .order-bump input {
    top: 30% !important;
}

.guaranteeIcon i#guarantee-spot-icon {
    word-break: normal !important;
    width: auto !important;
    float: none !important;
    margin-left: 6px;
    margin-top: 3px;
    display: none;
}

.guaranteeSpot {
    padding: 0px 8px 14px !important;
    background-color: #e2e2e2 !important;
    border-radius: 0 6px 6px 0 !important;
    position: fixed !important;
    left: 0 !important;
    top: 350px !important;
    margin-top: 50px !important;
    bottom: auto !important;
    width: 180px !important;
    text-align: center !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #ed4833;
}

#ccCSV-error {
    color: #ee4d3b;
    top: 0;
}

div#tos-read span#tos-read-text p {
    display: inline;
    font-size: 14px;
}

.tos-read .error {
    display: inline-block;
    color: #ee5344;
    font-weight: 600;
    font-size: 14px;
}

.content-bottom {
    padding-top: 30px;
    margin-left: -30px;
    padding-bottom: 50px !important;
}

.content-bottom .media {
    padding-top: 30px;
    margin-top: 30px;
    margin-right: 25px !important;
    border-top: 2px solid rgb(236, 236, 236);
}

.tos-read {
    position: relative;
    float: left;
    width: 100%;
    display: inline-block;
    margin: 0px 0px 0px !important;
    padding: 5px 0px 0px;
}

.tos-read label {
    margin: 0 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}

.tos-read input {
    position: relative;
    top: -1px;
    margin-right: 2px;
}

#action-button {
    color: rgba(255,255,255,1) !important;
    background-color: rgba(103,181,51,1) !important;
    /*background-color: rgba(240,91,25,1) !important;*/
    border-color: #e14f0f !important;
    border-radius: 10px;
}

#action-button:hover {
    background-color: rgb(89, 183, 27) !important;
    border-color: #59b71b !important;
}

#footer-wrapper div.footer-right-side {
    display: inline-block;
    padding: 1em 0;
    width: 60%;
    float: right;
    text-align: right;
    height: auto;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #FFF;
}

.order-bump-description-box {
    float: left;
    width: 100%;
    padding: 5px 8px;
}

span#order-bump-price {
    padding: 1em;
    float: right;
    background: transparent !important;
    color: #222 !important;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    text-align: right;
}

#order-bump-heading .label__checkbox:checked + .label__text .label__check {
    -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1 forwards;
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1 forwards;
    background: #FFF;
    color: #03cfa0 !important;
    border: 0;
}

.error-message .message {
    background: #f7f7f7 !important;
    color: #222 !important;
    border-radius: 0em !important;
    padding: 1em 1em;
    border: 1px solid #f0f0f0;
    font-size: 12px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #00CFA0 !important;
    color: #FFF !important;
    border-radius: 0px !important;
    padding: 11px;
    border: none !important;
}

.nav-tabs > li > a {
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #f0f0f0 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857;
    color: #555555;
    background-color: #f7f7f7 !important;
    background-image: none;
    border: 1px solid #f0f0f0 !important;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.has-success .form-control {
    border: 1px solid #0cd0a1 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

</style>

<!-- End Custom Style -->

<!-- Start Tracking Codes --> 




<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '198206100759037');
fbq('track', 'InitiateCheckout', {product: 'upviral'});
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=198206100759037&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-62842650-1', 'auto', {'allowLinker': true});
ga('require', 'linker');
ga('linker:autoLink', ['upviral.com', 'app.webinarjam.net', 'connectio.io'] );
ga('send', 'pageview');
</script>

<!-- Global site tag (gtag.js) - Google Ads: 1068531892 -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-1068531892"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'AW-1068531892');
</script>

<script type="text/javascript">
    (function(e,t,o,n,p,r,i){e.visitorGlobalObjectAlias=n;e[e.visitorGlobalObjectAlias]=e[e.visitorGlobalObjectAlias]||function(){(e[e.visitorGlobalObjectAlias].q=e[e.visitorGlobalObjectAlias].q||[]).push(arguments)};e[e.visitorGlobalObjectAlias].l=(new Date).getTime();r=t.createElement("script");r.src=o;r.async=true;i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)})(window,document,"https://prism.app-us1.com/prism.js","vgo");
    vgo('setAccount', '251605009');
    vgo('setTrackByDefault', true);

    vgo('process');
</script>

<script src="//widget.wickedreports.com/Emarky/trackfu.js"></script>