@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: "PoppinsBold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "PoppinsRegular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsBlack";
    src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: "PoppinsBlackItalic";
    src: url(../fonts/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: "PoppinsBoldItalic";
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "PoppinsExtraBoldItalic";
    src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsExtraLight";
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "PoppinsExtraLightItalic";
    src: url(../fonts/Poppins-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "PoppinsItalic";
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: "PoppinsLight";
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "PoppinsLightItalic";
    src: url(../fonts/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: "PoppinsMedium";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "PoppinsMediumItalic";
    src: url(../fonts/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "PoppinsSemiBoldItalic";
    src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsThin";
    src: url(../fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: "PoppinsThinItalic";
    src: url(../fonts/Poppins-ThinItalic.ttf);
}

.fontOpenSans {
	font-family: 'Open Sans' !important;
}

.upviral-reward-container {
	padding: 20px;
	width: 100%;
/*	width: fit-content;
	width: -mox-fit-content;
	width: -webkit-fit-content;*/
}

.upviral-reward-container .upviral-rewards.unlocked {
	background-image: none !important;
}

.upviral-reward-container .shadow{
	-webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.1);
}

.upviral-rewards {
	margin: 0 auto;
	border: 2px dashed #E0E1E5;
	max-width: 320px;
	width: 100%;
	min-height: 232px;
	border-radius: 8px;
	padding:0px 15px;

	position: relative;
}

.upviral-rewards.unlocked {
	border:2px solid #24AEF2 !important;
	background-repeat: no-repeat !important;
}

.upviral-rewards.unlocked .upviral-rewards-icon {
	background-color: #24AEF2 !important;
}

.upviral-rewards.unlocked .upviral-rewards-icon-tiny {
	background-color: #fff !important;
}

.upviral-rewards-title {
	font-family: "PoppinsBold";
	font-size: 16px;
	text-align: center;
	color: #202D4A;
}

.upviral-rewards-text {
	font-family: "PoppinsRegular";
	font-size: 14px;
	text-align: center;
	color: #202D4A;
	/*margin: 5px 0px;*/
}

.upviral-icon-set {
	margin: 0px auto;
	width: 85px;
	height: 80px;
	position: relative;
	top: -20px;
}

.upviral-rewards-icon {
	height: 80px;
	width: 80px;
	border-radius: 100%;

}

.upviral-rewards-icon-tiny {
	height: 30px;
	width: 30px;
	border-radius: 100%;

	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.16);

	position: absolute;
	bottom: 0;
	right: 0;
}

.upviral-rewards-lock-bg {
	background-color: #D9DDE4;
}

.upviral-rewards-icon-tiny.upviral-rewards-lock-bg {
	background-color: #24AEF2;
}

.upviral-rewards-icon-tiny-lock {
	background-image: url('../svg/locked icon.svg');
	background-size: 12px 16px;
	background-position: center;
	background-repeat: no-repeat;	
}

.upviral-rewards-icon-tiny-unlock {
	background-image: url('../svg/unlocked icon.svg');
	background-size: 12px 16px;
	background-position: center;
	background-repeat: no-repeat;	
}


.upviral-rewards-icon-url {
	background-image: url('../svg/url icon.svg');
	background-size: 32px; 
	background-position: center;
	background-repeat: no-repeat;
}

.upviral-rewards-icon-download {
	background-image: url('../svg/download icon.svg');
	background-size: 32px; 
	background-position: center;
	background-repeat: no-repeat;
}

.upviral-rewards-icon-coupon {
	background-image: url('../svg/coupon icon.svg');
	background-size: 32px; 
	background-position: center;
	background-repeat: no-repeat;
}

.upviral-rewards-icon-reward {
	background-image: url('../svg/reward icon.svg');
	background-size: 32px; 
	background-position: center;
	background-repeat: no-repeat;
}


.upviral-icon-set #unlocked_icon.cls-1 {
	fill: #24AEF2;
}

.upviral-rewards-stats-counter {
	font-family: "PoppinsRegular";
	font-size: 14px;
	color: #202D4A;
}

.upviral-rewards-stats-container {
	text-align: center;
	position: absolute;
    left: 0;
    width: 100%;
    bottom: 16px;
}


.upviral-rewards-progress {
	background-color: #F2F6FA;
	height: 8px;
	width: 90%;
	border-radius: 4px;
	margin: 5px auto 0px;
}

.upviral-rewards-stats-container button {
	width: 90%;
	height: 48px;
	background-color: #24AEF2;
	font-family: "PoppinsSemiBold";
	color: #FFFFFF;
	border: 1px solid #24AEF2;
	border-radius: 4px;
	margin: 0 auto;
	font-size: 16px;
}

.upviral-rewards-stats-container button:hover {
	background-color: #6dc1e8;
	cursor: pointer;
}

.upviral-rewards-stats-container .upviral-coupon-code {
	width: 90%;
	border-style:  dashed;
	border-color: #E0E1E5;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	text-align: center;
	color: #202D4A;
	font-family: "PoppinsRegular";
	/*padding: 10px 0px;*/
	margin:0 auto;
	border-radius: 0px 4px 4px 0px;
	height: 48px;
	line-height: 3;
	font-size: 16px;
}

.upviral-rewards-stats-container .upviral-coupon-code .up-flip {
	width: 48px;
	height: 48px;
	background-color: #24AEF2;
	position: absolute;
	top: 0px;
	border-radius: 4px 0px 0px 4px;
}

.upviral-rewards-stats-container .upviral-coupon-code .up-flip .up-flip-tsmall{
	border-top-width: 2px;
    border-style: dashed;
    height: 36px;
    top: 0;
    position: absolute;
    right: 0;
    width: 36px;
    background: #fff;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-color: #E0E1E5;	
}

.upviral-rewards-stats-container .upviral-coupon-code .up-flip .up-flip-tsmall .up-flip-small{
/*	width: 36px;
	height: 36px;
	background-color: #0C89C6;*/
	position: absolute;
	top: 0px;
	right: 0px;
	/*border-radius: 4px 0px 0px 4px;*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 36px 0 0 36px;
	border-color: #fff #fff #fff #0c88c6;
}

.header-white-block {
	background-color: #fff; text-align: center; padding: 20px; border-radius: 8px 8px 0px 0px;
}


#reward-carousel .owl-item {
	background-color: #fff !important;
	/*width: 400px !important;*/
	/*min-height: 240px !important;*/
	border-radius: 8px;
	padding: 0px !important;

	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#reward-carousel .owl-dot.active > span {
    background: #24AEF2 !important;
    border: 1px solid #24AEF2 !important;
}

#reward-carousel .owl-dot > span {
    background: #C5CCD6 !important;
    border: 1px solid #C5CCD6 !important;
	width: 10px !important; 
	height: 10px !important; 
}

/*.upviral-rewards-progress-bar {
	background-color: #24AEF2;
}*/


/*.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}*/ 


.modal-header {
	border-bottom: none !important;
	padding:10px 1rem 0px !important;
}

.modal-body {
	padding:0px 2rem !important;
}

.modal-footer {
	border-top: none !important;
}

.font16px {
	font-size: 16px !important;
}

.font18px {
	font-size: 18px !important;
}


.font24px {
	font-size: 24px !important;
}

.font36px {
	font-size: 36px !important;
}

ul.bullet {
	list-style-type: bullet !important;
}

ul.bullet li {
	list-style-image: none !important;
}

/*@media (min-width: 576px){
	.modal-dialog {
	    max-width: 600px !important;
	    margin: 1.75rem auto;
	}	
}*/

#leaderboard-title > div{
	font-family: "PoppinsBold";
	text-align: center !important;
	font-size: 18px !important;
	margin-bottom: 10px !important;
}

.leaderboard-nav {
	background-color: #F9FAFC;
	height: 64px;
	width: 100%;
	display: table;
	border-top: 1px solid #C5CCD6;
	border-bottom: 1px solid #C5CCD6;
}

.leaderboard-nav .left{
	height: 40px;
	width: 40px;
	/*border: 1px solid #D9DDE4;*/
	border-radius: 4px;
	/*float: left;*/
	margin: 10px;
	/*display: inline-block;*/
	display: table-cell;
}

.leaderboard-nav .left .nav,
.leaderboard-nav .right .nav{
	height: 40px;
	width: 40px;
	border: 1px solid #D9DDE4;
	border-radius: 4px;
	margin: 15px;
	background-color: #FFF;
}

.leaderboard-nav .right {
	height: 40px;
	width: 40px;
	border-radius: 4px;
	/*float: right;*/
	margin: 10px;
	/*display: inline-block;*/
	display: table-cell;
}

.leaderboard-nav .next-nav {
	background-image: url('../svg/next arrow.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 9px 14px;
}

.leaderboard-nav .next-nav.inactive {
	background-image: url('../svg/next arrow disabled.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 9px 14px;
	background-color: #F9FAFC !important;
}

.leaderboard-nav .prev-nav {
	background-image: url('../svg/prev arrow.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 9px 14px;
}

.leaderboard-nav .prev-nav.inactive {
	background-image: url('../svg/prev arrow disabled.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 9px 14px;
	background-color: #F9FAFC !important;
}

.leaderboard-nav .next-nav:hover,
.leaderboard-nav .prev-nav:hover {
	cursor: pointer;
}


.leaderboard-nav .center{
	color: #202D4A;
	font-family: "PoppinsRegular";
	font-size: 14px;
	text-align: center;
	/*line-height: 4.5;*/
	width: 80%;
	/*margin: 0 auto;*/
	/*display: inline-block;*/
	vertical-align: middle;
	display: table-cell;
}


.star {
	background-image: url('../svg/star icon.svg');
	background-size: 22px 20px;
	background-position: center right;
	background-repeat: no-repeat;	
	background-color: transparent !important;
	color: #202D4A;
}

.star.yellow {
	background-image: url('../svg/yellow star icon.svg');
	background-size: 22px 20px;
	background-position: center right;
	background-repeat: no-repeat;	
	background-color: transparent;
}

.star.brown {
	background-image: url('../svg/brown star icon.svg');
	background-size: 22px 20px;
	background-position: center right;
	background-repeat: no-repeat;	
	background-color: transparent;
}

.new-leaderboard-cont {
	width: 100%;
}

.new-leaderboard {
	height: 96px; width: 100%; padding: 20px 15px 20px 20px; display: table;
	/*margin: 0px 15px;*/
	border-bottom: 1px solid #C5CCD6;
}

.new-leaderboard.active {
	border: 2px solid #24AEF2 !important;
	border-radius: 8px;
	background-color: #fff !important;

	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
}

.new-leaderboard:last-child {
	border-bottom: none !important;
}

.new-leaderboard .pic64 {
	height: 64px;
	width: 64px;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: table-cell;
	background-color: #D9DDE4;
	background-image: url('../svg/placeholder icon.svg');
	background-size: 32px 32px;
}

.new-leaderboard .pic64 span {
	font-family: "PoppinsSemiBold";
    height: 16px;
    font-size: 11px;
    border-radius: 10px;
    padding: 0px 5px;
    position: absolute;
    margin-left: -11px;

    background-color: #24AEF2;
    color: #fff;
}

.new-leaderboard .name {
	display:table-cell; vertical-align: middle; padding: 20px;
	text-align: left;
}

.new-leaderboard .points {
	display: table-cell; vertical-align: middle; text-align: right;
}

.new-leaderboard .points .star {
	padding-right: 32px;
	color: #202D4A;
}

.new-leaderboard span.yellow {
	background-color: #FEC923 !important;
	color: #202D4A;
}

.new-leaderboard span.grey {
	background-color: #DFE2E7 !important;
	color: #202D4A;
}

.new-leaderboard span.brown {
	background-color: #B18554 !important;
}

.new-leaderboard:nth-of-type(odd) {
	background-color: #F9FAFC;
}


.numbered-marker {
	height:48px; width: 48px; background-color: #DFE2E7; margin: 10px 30px; display: inline-block; border-radius: 100%; text-align: center; line-height: 3;
}

.numbered-marker:hover {
	cursor: pointer;
}

.numbered-inactive {
	background-color: #DFE2E7 !important;
}

.diagonalRightDown {
	/*transform: translatex(400px) translatey(400px) !important;*/
	transform: translatex(600px) translatey(50px) !important;
	-webkit-transition: transform 1s;
}

.diagonalRightUp {
	/*margin-top: -200px !important;*/
	transform: translatex(0px) translatey(0px) !important;
	-webkit-transition: transform 1s;
}

.diagonalLeftDown {
	transform: translatex(-600px) translatey(50px) !important;
	-webkit-transition: transform 1s;
}

.diagonalLeftUp {
	/*margin-top: -200px !important;*/
	transform: translatex(0px) translatey(0px) !important;
	-webkit-transition: transform 1s;
}



.diagonalRightFadeOut {
	-webkit-animation: diagonal_right 1s ;
}


@-webkit-keyframes diagonal_right {
    0%       { transform: translatex(0px) translatey(0px); }
    100%     { transform: translatex(400px) translatey(400px); }
}

@-webkit-keyframes MyfadeOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@keyframes MyfadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.modalsteps {
	overflow: hidden;
	padding-top: 25px;
	font-size: 16px;
}

/*.modalsteps .curve {
	border-top: 1px solid #DFE2E7;  border-radius: 50%/100px 100px 0 0; height: 100px; position: relative; top: -50px;
	margin-left: -30px; width: 110%;
}
*/
.modalsteps .curve {
    border-top: 1px solid #DFE2E7;
    border-radius: 100%;
    height: 100px;
    margin: -50px -50%;
    width: 1200px;
    height: 1200px;
    border-bottom: none;
}

.modalsteps-inner {
	position: relative;
	width: 100%;
	height: 50px;
	color: #fff;
}
.modalsteps-inner .numbered-marker {
	position: absolute;
	margin: 0;
	margin-left: -24px;
	margin-top: -24px;
	z-index: 1;
	transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.modalsteps-inner .numbered-marker-1 {
	left: 50%;
	top: 0;
}
.modalsteps-inner .numbered-marker-2 {
	left: 75%;
	top: 18px;
}
.modalsteps-inner .numbered-marker-3 {
	left: 98%;
	top: 64px;
	opacity: .3;
}
.modalsteps-inner-step1 .numbered-marker-1 {
	background-color: #24AEF2;
	color: #fff;
} 

.modalsteps-inner-step2 .numbered-marker-1 {
	left: 25%;
	top: 18px;
	color: #fff;
} 
.modalsteps-inner-step2 .numbered-marker-2 {
	left: 50%;
	top: 0;
	background-color: #24AEF2;
	color: #fff;
} 
.modalsteps-inner-step2 .numbered-marker-3 {
	left: 75%;
	top: 18px;
	opacity: 1;
} 
.modalsteps-inner-step3 .numbered-marker-1 {
	left: 2%;
	top: 64px;
	opacity: .3;
} 
.modalsteps-inner-step3 .numbered-marker-2 {
	left: 25%;
	top: 18px;
} 
.modalsteps-inner-step3 .numbered-marker-3 {
	left: 50%;
	top: 0;
	background-color: #24AEF2;
	color: #fff;
	opacity: 1;
} 

.kp-terms .modal-content,
.kp-action .modal-content{
	border-radius: 16px !important;
}

.kp-action .modal-body {
	padding: 0px !important; overflow: hidden; height: 320px;
}

.kp-terms .modal-content .modal-body{
	padding:0px 60px !important
}

.kp-action .modal-content .modal-footer{
	/*padding: 1.3rem !important;*/
	padding: 6px !important;
}

.popup-action {
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0;
    /*height: 160px;*/
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}
    

.popup-action h2 {
	font-family: "PoppinsBold";
	font-size: 24px;
}

.popup-action .sections:nth-of-type(1) {
	width: 100%; height: 180px; /*margin-top: -90px;*/
	/*margin-top: 50px;*/
}

.popup-action .sections:nth-of-type(2) {
	width: 100%; height: 180px; margin-top: -180px;
}

.popup-action button {
	max-width: 472px;
	width: 100%;
	height: 64px;
	background-color: #24AEF2;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.popup-action .btn-share,
.popup-action .btn-move {
	max-width: 472px;
	width: 100%;
	height: 64px;
	background-color: #24AEF2;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
}

.popup-action .btn-share:hover,
.popup-action .btn-move:hover {
	cursor: pointer;
}

.popup-action .btn-share .btn-share-icon {
	width: 32px;
	height: 32px;
	background-image: url('../svg/custom icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 16px 16px;
	float: left;
}

.popup-action .btn-share .btn-share-text {
	float: left;
	margin: 20px 0px;
	font-family: "PoppinsSemiBold";
	font-size: 16px;
	color: #fff;
}

.popup-action .btn-share .btn-share-score {
	float: right;
    padding: 20px;
    font-size: 16px;
    font-family: "PoppinsSemiBold";
    color: #fff;
    background-color: #3EB3F2;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
}

.popup-action .btn-move .btn-move-icon {
	width: 30px;
	height: 21px;
	background-image: url('../svg/right-arrow.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 20px auto;
}

.popup-action .input-action {
	position: absolute;
    bottom: 80px;
    width: 100%;
    max-width: 472px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 2px solid #24AEF2;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.modal-ku {
  max-width: 600px;
  /*margin: auto;*/
}

:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}


/*========== START : OWL CAROUSEL =======================*/
.owl-carousel .nav-btn{
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide{
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
.owl-carousel .prev-slide:hover{
 background-position: 0px -53px;
}
.owl-carousel .next-slide:hover{
background-position: -24px -53px;
}
/*========== END : OWL CAROUSEL =======================*/

.social-share:hover {
	cursor: pointer;
}

#krakow-popup-action2 .modal-body {
	padding: 0px !important; overflow: hidden; height: 640px;
}

#krakow-popup-action2 .step2 {
	top: 40%;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.upviral-rewards-stats-container {
	    text-align: center;
	    position: relative;
	    left: unset;
	    width: 100%;
	    bottom: unset;
	    margin: 20px 0px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
/*	.upviral-rewards-stats-container .upviral-coupon-code {
	    text-align: right;
	    padding-right: 20px;
	}*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {



	.kp-terms .modal-content .modal-body{
		padding:0px 20px !important;
	}

	.modalsteps .curve {
		border-top: 1px solid #DFE2E7;
		border-bottom: none;
		/*border-radius: 50%/100px 100px 0 0;*/
		border-radius: 100%;
		height: 260px;
		position: relative;
		top: -50px;
		/* margin-left: -30px; */
		width: 110%;
		left: 0;
		right: 0;
		margin: 0 -5%;
	}

	.popup-action h2 {
	    padding: 0px 20px;
	}

	.popup-action button,
	.popup-action .btn-share,
	.popup-action .btn-move,
	.popup-action .input-action {
		width: 85%;
	}

	#krakow-popup-action2 .modalsteps-inner {
		position: absolute;
		border-top: 1px solid #DFE2E7; 
	}

	#krakow-popup-action2 .modal-body {
		height: 600px;
	}

	#krakow-popup-action2 .modalsteps .curve {
		border: none !important;
	}

	#krakow-popup-action2 .step2 {
		top: 30%;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.popup-action .btn-share .btn-share-score {
		padding: 20px 0.5rem;		
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}