@font-face{
  font-family:'Raleway-Regular';
  src:url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Regular.woff') format('woff'),
	  url('../fonts/Raleway-Regular.ttf')  format('truetype'),
	  url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'Raleway-Light';
  src:url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Light.woff') format('woff'),
	  url('../fonts/Raleway-Light.ttf')  format('truetype'),
	  url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'Raleway-SemiBold';
  src:url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-SemiBold.woff') format('woff'),
	  url('../fonts/Raleway-SemiBold.ttf')  format('truetype'),
	  url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight:normal;
  font-style:normal;
}
