.f_editor strong {
  font-weight: 700;
}
.f_editor table {
  border: none;
  border-collapse: collapse;
  empty-cells: show;
  max-width: 100%;
}
.f_editor table.fr-dashed-borders td,
.f_editor table.fr-dashed-borders th {
  border-style: dashed;
}
.f_editor table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
.f_editor table td,
.f_editor table th {
  border: 1px solid #dddddd;
}
.f_editor table td:empty,
.f_editor table th:empty {
  height: 20px;
}
.f_editor table td.fr-highlighted,
.f_editor table th.fr-highlighted {
  border: 1px double red;
}
.f_editor table td.fr-thick,
.f_editor table th.fr-thick {
  border-width: 2px;
}
.f_editor table th {
  background: #e6e6e6;
}
.f_editor hr {
  clear: both;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  page-break-after: always;
}
.f_editor .fr-file {
  position: relative;
}
.f_editor .fr-file::after {
  position: relative;
  content: "\1F4CE";
  font-weight: normal;
}
.f_editor pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.f_editor[dir="rtl"] blockquote {
  border-left: none;
  border-right: solid 2px #5e35b1;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 0px;
}
.f_editor[dir="rtl"] blockquote blockquote {
  border-color: #00bcd4;
}
.f_editor[dir="rtl"] blockquote blockquote blockquote {
  border-color: #43a047;
}
.f_editor blockquote {
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  padding-left: 5px;
  color: #5e35b1;
}
.f_editor blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.f_editor blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.f_editor span.fr-emoticon {
  font-weight: normal;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  display: inline;
  line-height: 0;
}
.f_editor span.fr-emoticon.fr-emoticon-img {
  background-repeat: no-repeat !important;
  font-size: inherit;
  height: 1em;
  width: 1em;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: -0.1em 0.1em 0.1em;
  line-height: 1;
  vertical-align: middle;
}
.f_editor .fr-text-gray {
  color: #AAA !important;
}
.f_editor .fr-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}
.f_editor .fr-text-spaced {
  letter-spacing: 1px;
}
.f_editor .fr-text-uppercase {
  text-transform: uppercase;
}
.f_editor img {
  position: relative;
  max-width: 100%;
  height: auto !important;
}
.f_editor img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
.f_editor img.fr-dib.fr-fil {
  margin-left: 0;
}
.f_editor img.fr-dib.fr-fir {
  margin-right: 0;
}
.fr-view img.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% - (2 * 5px));
}
.f_editor img.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
.f_editor img.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
.f_editor img.fr-rounded {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.f_editor img.fr-bordered {
  border: solid 10px #CCC;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.f_editor .fr-video {
  text-align: center;
  position: relative;
}
.f_editor .fr-video > * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  border: none;
}
.f_editor .fr-video.fr-dvb {
  display: block;
  clear: both;
}
.f_editor .fr-video.fr-dvb.fr-fvl {
  text-align: left;
}
.f_editor .fr-video.fr-dvb.fr-fvr {
  text-align: right;
}
.f_editor .fr-video.fr-dvi {
  display: inline-block;
  width: 100%;
}
.f_editor .fr-video.fr-dvi.fr-fvl {
  float: left;
}
.f_editor .fr-video.fr-dvi.fr-fvr {
  float: right;
}
.f_editor a.fr-strong {
  font-weight: 700;
}
.f_editor a.fr-green {
  color: green;
}
.f_editor button.fr-rounded,
.f_editor input.fr-rounded,
.f_editor textarea.fr-rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.f_editor button.fr-large,
.f_editor input.fr-large,
.f_editor textarea.fr-large {
  font-size: 24px;
}
/**
 * Image style.
 */
a.f_editor.fr-strong {
  font-weight: 700;
}
a.f_editor.fr-green {
  color: green;
}
/**
 * Link style.
 */
img.f_editor {
  position: relative;
  max-width: 100%;
}
img.f_editor.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
img.f_editor.fr-dib.fr-fil {
  margin-left: 0;
}
img.fr-view.fr-dib.fr-fir {
  margin-right: 0;
}
img.fr-view.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% - (2 * 5px));
}
img.fr-view.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
img.fr-view.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
img.fr-view.fr-rounded {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
img.fr-view.fr-bordered {
  border: solid 10px #CCC;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.fr-insert-helper {display:none}
.ty-main div.whatsapp,.ty-main a.whatsapp,.wg-main div.whatsapp,.wg-main a.whatsapp,.ty-preview div.whatsapp,.ty-preview a.whatsapp,.wg-preview div.whatsapp,.wg-preview a.whatsapp,.wg-preview .upviral_whatsapp,.ty-main div.messenger,.ty-main a.messenger,.wg-main div.messenger,.wg-main a.messenger,.ty-preview div.messenger,.ty-preview a.messenger,.wg-preview div.messenger,.wg-preview a.messenger,.wg-preview .upviral_messenger {display:none;}
.icon-arrow-up,.icon-arrow-down{
  color: #26bbf2;
  cursor: pointer;
}
.icon-arrow-up:hover , .icon-arrow-down:hover{
  opacity:0.8;
}
