<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>UpViral Test Leads</title>
    <link rel="shortcut icon" href="https://static.upviral.com/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
    <link href='https://fonts.googleapis.com/css?family=Verdana|Geneva|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Impact|Charcoal|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arial|Helvetica|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Tahoma|Geneva|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Times New Roman|Times|serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Georgia|serif' rel='stylesheet' type='text/css'>
    <link href='https://app.upviral.com/lead/thanks.css/call/ajax/user_id/350/pageid/54768/tmp/thankyoupage6' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://static.upviral.com/assets/thanks_page/em_popup6.css"/>
        <script>

        window.JsConfig = {
                camp: '46444',
                is_found : '',
                user_id : '',
                thanks_cookie_set : 'no',
                ref_url : '',
                ty : '54768',
                ty_type : 'hosted',
                template_type : '6',
                givaway_complete : 0,
                thankyoupage : 'thankyoupage6',
                download_btn : '<div class="counter">{{total_points}}</div>                            <div class="counter-text">Your entries</div>',
                app_id : '653863461413697',
                templatetype: 'thankyoupage',
                reward_tot_point : '0',
                share_enable1 : 'no',
                share_enable2 : 'no',
            }

    </script>
    <script src="https://static.upviral.com/assets/js/all_js.js" type="text/javascript"></script>
</head>

<body class="right_thankyou ty-main">
 
<div class="right_thankyou">
    <header class="f_editor share-vid-contest-1 share-vid-giveaway-headerbg">
        <div class="top-header" >
        <div class="container">  
            <div class="vid_list">
                  <div class="vid_container" id="tab_1_description">
                      
                      <div class="vid_items" >
                          <a href="#"><img src="https://static.upviral.com/assets/css/popup_share_video/images/sample1.jpg" class="img-responsive"></a>
                      </div>
                      <div class="vid_items">
                           <img src="https://static.upviral.com/assets/css/popup_share_video/images/sample1-c.jpg" class="img-responsive">
                      </div>
                      <div class="vid_items">
                          <img src="https://static.upviral.com/assets/css/popup_share_video/images/sample2-c.jpg" class="img-responsive">
                      </div>
                      <div class="vid_items">
                           <img src="https://static.upviral.com/assets/css/popup_share_video/images/sample3-c.jpg" class="img-responsive">
                      </div>                  </div>
            </div>
        </div>
        <div class="container">
            <div id="extra_field_1">
            <h1>Video 1 - How to "secretly" collect email subscribers on Facebook</h1>
          <p class="subtitle f_editor">Subtitle goes here</p>            </div>
            <div class="main_video dropshadow video videoSection">
                <iframe src="https://www.youtube.com/embed/RwGlaCTnNys" width="640" height="272" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            </div>
        </div>
    </header> 

    <div class="share-vid-contest-body-1 f_editor">
      <div class="container">
          <div id="tab_2_description">
                <a class="btn btn-palered btn-md-pad font16px text-upper fontfamRoboto text-bold center-block">optional button</a>
          <div class="spacer20"></div>
          <h1>What will you get? (heading 1)</h1>

          <h2>The 300k Case Study (heading 2)</h2>
          <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>

          <h3>Tick List (heading 3)</h3>

          <p>This is a paragraph to show off some basic inline styles. For example here’s some <strong>strong text</strong> and here’s some <em>emphasized text</em>. For sure, we’ll need to show <a href="#">links</a> too.</p>

          <h4>Upcoming videos (Heading 4):</h4>

          <ul class="checked-list-o">
            <li>Overview session</li>
            <li>PowerPint presentation</li>
            <li>Q&A session</li>
          </ul>

          <h2>The 16k / 7-Figure Case Study (heading 2)</h2>
          <p>Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae.</p>
          
          <h2>The 100K Case Study (heading 2)</h2>
          <p>Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.</p>

          <h2>Lifetime access to Uptin (heading 2)</h2>
          <p>Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.</p>              </div>

          <div class="spacer30"></div>

        <!-- widget 2 light -->
          <div class="widget-giveaway-1 widget-contest-1 widget-giveaway-1-top-red  full-width">
              <div class="widget-header">
                    <div class="enable_header hide">
                            <div class="widget-col-2 bg-darkgray round-border-tl border-r-dg" id="tab_1_title" >
                                <div class="counter">0</div>
                            <div class="counter-text">Your entries</div>                            </div>
                              <div class="widget-col-2 bg-darkgray round-border-tr" id="tab_2_title" >
                                <div class="counter">0</div>
                            <div class="counter-text">Days left</div>                               </div> 
                         </div>      
                    
                 </div>
              <div class="widget-body">
                    <div id="top_point_text">
                        <h3>Want to skip waiting and get <strong>instant free access</strong>?</h3>
        <p>Get 5 of your friends to sign up with this unique URL:</p>                    </div>
                                        <div id="slider_data">
                    <div id="myCarousel1" class="carousel slide widget-carousel widget-carousel-named" data-ride="carousel" data-interval="false">
                            <!-- Indicators -->
                                <ol class="carousel-indicators hide_me">
                                    
                                  <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                                                  </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                                              <div class="item active">
                                <h4>uv lead page test</h4>
                                <div class="cleafix"></div>
                                <div class="widget-image-container">
                                    <div class="float_left">
                                        
                                    <div class="c100 p0 small default">
                                        <span><strong>0</strong><span class="font14px">/5</span></span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                  </div>
                                   <div class="giveaway-url float_left">
                                    <a><div class="reward-icon-container">
                                                    <div class="reward-icon reward-icon-url"></div>
                                                    <div class="reward-lock-status locked"></div>
                                                  </div></a>                                    </div>
                                    
                                 </div>
                                                                 </div>
                                                            </div>
                                                    </div>
                    </div>
               <div class="spacer25"></div>
                             <div id="left_content">
                <p>You’ll get 10 entries in our sweepstake for every friend who signed up through your link!</p>                </div>
             </div>
              <div class="widget-footer round-border-bl round-border-br">
                
                <div class="form-group">
                    
                      <div class="input-group">
                        <div class="clipboard_msg" style="display:none">
                        Ref Link is successfully copied to clipboard.                    </div>
                        <input type="text" id="copyText" class="form-control" value="" name="ref_link" readonly>
                        <div id="copyDynamicText" class="input-group-addon btn-palered" data-clipboard-action="copy" data-clipboard-target="#copyText">Copy</div>
                      </div>
                    
                </div>
                <div id="extra_field_2">
                <p>WAYS TO ENTER</p>                </div>
                <div class="social-inner social_button_group">
                                                                                                <a href="/cdn-cgi/l/email-protection#78470b0d1a121d1b0c455e1a171c0145" class="emailshare">
                    <div class="upviral_email">
                        <div class="icon "><i class="fa fa-envelope-o fa-lg"></i></div>
                        <div class="social_text">
                          Email                        </div>
                    </div>
                </a>
                                                                <div class="text-center otherfield f_editor" id="terms_and_conditions_link">
                    <a href="#stack1" id="main-rules" class="fr-view-ignore-a tour-step-three main-rules" contenteditable="true" data-toggle="modal" style="display:none;">Terms and Conditions</a>                </div>
                              </div>
            </div>
          </div>
        <!-- /widget 2 light -->
        </div>
    </div>
    <div class="share-vid-footer f_editor">
      <div class="footer-share">
        Footer text goes here      </div>
    </div>
    </div>
    <div class='powered'><a href='http://upviral.com/?utm_source=widget&utm_medium=widget&utm_campaign=widget' target="_blank"><img src="https://upviral.s3.amazonaws.com/images/1437371574powered.png"></a></div>
    <div class="pindesc" style="display:none"></div>
    <div class="pintitle" style="display:none">Hey Check it out!</div>
    <div class="pinimg" style="display:none"></div>
    <div class="s_img" style="display:none"></div>
    
    <div id="coupon1" style="display:none;">
        <div style="background: black;opacity: 0.6;width: 100%;height: 100%;position: fixed;top: 0%;left: 0%;z-index: 9999;"></div>
        <div style="position: fixed;top: 50%;left: 40%;z-index: 9999;width: 320px;height:190px;margin-left: -50px;margin-top: -50px;background: white;overflow-y: auto;overflow-x: hidden;border: 0px solid black;border: 0px solid rgba(000, 0, 0, .5);-webkit-background-clip: padding-box;background-clip: padding-box;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; padding: 5px;">
            <h2></h2>
            <a href="#" class="close_fancy copybtn">OK</a>
        </div>
    </div>
    <div class="modal fade custom_fullmodal" tabindex="-1" role="dialog" id="stack1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
                  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    <div class="stack2_lod" style="display:none;background: black;opacity: 0.6;width: 100%;height: 100%;position: fixed;top: 0%;left: 0%;z-index: 999;"></div>
    <div id="stack2" style="display:none;position: fixed;left: 50%;top: 50%;z-index: 9999;background: white;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width:90%;max-width:600px;">
        <div class="modalbody"></div>
    </div>
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>