body{
	font-family: 'Open Sans', sans-serif !important;
}

button:focus {outline:0 !important;}

/* WIDGET COMMONS */
.darkwidget {
	background-color: #374354 !important;
	color: #fff !important;
}

.darkwidget-footer {
	background-color: #374354 !important;
	color: #fff !important;
}

.darker-footer {
	background-color: #2A333F !important;
}

.black-border {
	border-color: #000 !important;
}

.black-border-top {
	border-top-color: #000 !important;	
}

.dark-border {
	border-color: #1d232b !important;
}

.dark-border-top {
	border-top-color: #1d232b !important;
}

.widget-col-2 {
	float: left;
	width: 50%;
	padding: 10px;
}

.txt-white {
	color: #fff !important;
}

.bg-green {
	background-color: #0CAEA4 !important;
}

.bg-darkgray {
	background-color: #494a4c !important;
}

.bg-bluegreen {
	background-color: #1FB6FF !important;
}

.round-border-tl {
	border-top-left-radius: 5px !important;
}

.round-border-tr {
	border-top-right-radius: 5px !important;
}

.round-border-bl {
	border-bottom-left-radius: 5px !important;
}

.round-border-br {
	border-bottom-right-radius: 5px !important;
}

.border-l-w {
	border-left: 1px solid #fff;
}

.border-r-w {
	border-right: 1px solid #fff;
}

.border-l-wl {
	border-left: 1px solid #55c6bf;
}

.border-r-wl {
	border-right: 1px solid #55c6bf;
}

.border-l-d {
	border-left: 1px solid #0a8e86;
}

.border-r-d {
	border-right: 1px solid #0a8e86;
}

.border-l-g {
	border-left: 1px solid #B5B6B6;
}

.border-r-g {
	border-right: 1px solid #B5B6B6;
}

.border-l-dg {
	border-left: 1px solid #6a6c6f;
}

.border-r-dg {
	border-right: 1px solid #6a6c6f;
}



.spacer5 {
	height: 5px;
}

.spacer10 {
	height: 10px;
}

.spacer15 {
	height: 15px;
}

.spacer20 {
	height: 20px;
}

.spacer25 {
	height: 25px;
}

.spacer30 {
	height: 30px;
}

.spacer35 {
	height: 35px;
}

.spacer40 {
	height: 40px;
}

.spacer45 {
	height: 45px;
}

.spacer50 {
	height: 50px;
}


.btn-palered {
	background-color: #e26060;
	border-color: #e26060;
	color: #fff;
}

.btn-palered:hover {
	background-color: #dd4343;
	border-color: #dd4343;
	color: #fff;
	cursor: pointer;
}


.btn-orange {
	background-color: #ed8562;
	border-color: #ed8562;
	color: #fff;
}

.btn-orange:hover {
	background-color: #ea6d44;
	border-color: #ea6d44;
	color: #fff;
	cursor: pointer;
}

.btn-orange-b {
	background-color: #fe9000;
	border-color: #fe9000;
	color: #fff;
}

.btn-orange-b:hover {
	background-color: #dc7d00;
	border-color: #dc7d00;
	color: #fff;
	cursor: pointer;
}

.btn-orange-b:focus {
	color: #fff;
}

.btn-pink {
	background-color: #f4698c;
	border-color: #f4698c;
	color: #fff !important;	
}

.btn-pink:hover {
	background-color: #f24974;
	border-color: #f24974;
	color: #fff;	
}

.btn-full {
	width: 100%;
}

.btn-md {
	font-size: 16px;
	padding: 15px;
}

.btn-md-pad {
	font-size: 16px;
	padding: 30px 50px;
}

.btn-round {
	border-radius: 2em;
}

.btn-395 {
	width: 395px;
}

.text-bold {
	font-weight: bold !important;
}

.text-bolder {
	font-weight: bolder !important;
}

.text-cyanblue {
	color: #38c3ef !important;
}

.text-white {
	color: #fff !important;
}

.text-upper {
	text-transform: uppercase !important;
}

.input-group-addon {
	text-transform: uppercase;
}

.blue-decor {
	background: url(../images/blue-line.jpg) no-repeat bottom left;
	padding-bottom: 30px;
	margin-bottom: 30px;
}


.upviral_fb {
	clear: both;
	background-color: #3B5998;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	min-height: 48px;
	margin: 10px 0px;
}

.upviral_fb .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #324B80;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_fb .social_text {
	font-size: 16px;
	/*line-height: 3;*/
	float: left;
	/*padding-left: 10px;*/
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_fb .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

.upviral_twitter {
	clear: both;
	background-color: #1DA1F2;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	height: 48px;
	margin: 10px 0px;
}

.upviral_twitter .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #0D90E0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_twitter .social_text {
	font-size: 16px;
	/*line-height: 3;*/
	float: left;
	/*padding-left: 10px;*/
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_twitter .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

/*.upviral_twitter .social_text {
	font-size: 16px;
	line-height: 3;
	float: left;
	padding-left: 10px;
}

.upviral_twitter .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
}*/

.upviral_gplus {
	clear: both;
	background-color: #DD4B39;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	height: 48px;
	margin: 10px 0px;
}

.upviral_gplus .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #D03724;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_gplus .social_text {
	font-size: 16px;
	/*line-height: 3;*/
	float: left;
	/*padding-left: 10px;*/
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_gplus .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

/*.upviral_gplus .social_text {
	font-size: 16px;
	line-height: 3;
	float: left;
	padding-left: 10px;
}

.upviral_gplus .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
}*/


.upviral_linkdin {
	clear: both;
	background-color: #0077B5;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	height: 48px;
	margin: 10px 0px;
}

.upviral_linkdin .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #006193;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_linkdin .social_text {
	font-size: 16px;
	/*line-height: 3;*/
	float: left;
	/*padding-left: 10px;*/
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_linkdin .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

/*
.upviral_linkdin .social_text {
	font-size: 16px;
	line-height: 3;
	float: left;
	padding-left: 10px;
}

.upviral_linkdin .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
}*/

.upviral_pinterest {
	clear: both;
	background-color: #BD081C;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	height: 48px;
	margin: 10px 0px;
}

.upviral_pinterest .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #9C0717;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_pinterest .social_text {
	font-size: 16px;
	/*line-height: 3;*/
	float: left;
	/*padding-left: 10px;*/
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_pinterest .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

/*.upviral_pinterest .social_text {
	font-size: 16px;
	line-height: 3;
	float: left;
	padding-left: 10px;
}

.upviral_pinterest .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
}*/

.upviral_email {
	clear: both;
	background-color: #ED8562;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	height: 48px;
	margin: 10px 0px;
}

.upviral_email .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #EA6D44;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_email .social_text {
	font-size: 16px;
	/*line-height: 3;*/
	float: left;
	/*padding-left: 10px;*/
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_email .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

/*.upviral_email .social_text {
	font-size: 16px;
	line-height: 3;
	float: left;
	padding-left: 10px;
}

.upviral_email .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
}*/

.upviral_fb:hover, .upviral_twitter:hover, .upviral_gplus:hover,
.upviral_linkdin:hover, .upviral_pinterest:hover, .upviral_email:hover {
	cursor: pointer;
}


.hide_me {
	display: none !important;
}

.carousel-control-left {
/*    top: 45%;
    position: absolute;
    left: 0;*/
    /*margin-top: 50%;*/
    margin-top: 46px;
}

.carousel-control-right {
/*    top: 45%;
    position: absolute;
    right: 0;*/
    /*margin-top: 50%;*/
    margin-top: 46px;
}

.outer-circle {
	background-color: #c2ebe8;
	color: #fff;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 12px;
	margin: 5px auto;
}

.inner-circle {
	background-color: #384354;
	color: #fff;
	width: 65px;
	height: 65px;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #fff;
	margin: 0 auto;
}

.inner-circle span {
	font-size: 20px;
    line-height: 2;
}


.widget-carousel {
	max-height: 115px;
}

.float_left {
	float: left;
}

.widget-image-container {
    margin: 0 auto;
    width: 190px;
    /*background-color: #ccc;*/
    height: 115px;
    padding: 10px 0px;
}

.c100 {
	background-color: #C2EBE8 !important;
}

.c100:after {
	background-color: #384354 !important;
	border: 1px solid #fff;
}

.c100.small {
	margin-top: 7px;
	margin-right: 0px !important;
	font-size: 88px !important;
}

.c100.default .bar,
.c100.default .fill {
	border-color: #3AB1A2 !important;
  /*border-color: #00B4FF !important;*/
}

.c100.default > span, .c100.default:hover > span {
  color: #fff;
}
.c100.default.dark .bar,
.c100.default.dark .fill {
  border-color: #FFF !important;
}
.c100.default.dark:hover > span {
  color: #5fd400;
}

.font14px {
	font-size: 14px !important;
}

.font16px{
	font-size: 16px !important;
}

.font18px {
	font-size: 18px !important;
}

.fontfamRoboto {
	font-family: 'Roboto', sans-serif;
}

.fontfamRobotoC {
	font-family: 'Roboto Condensed', sans-serif;
}

.padlr20 {
	padding-left: 20px;
	padding-right: 20px;
}

.img-circle-60 {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.full-width {
	width: 100% !important;
	max-width: 100% !important;
}


/*================*/


/* OPTIN WIDGET 1 */

.widget-optin-1 {
	min-width: 290px;
	max-width: 700px;
	border:1px solid #DFE2E7;
	border-radius: 5px;
	margin: 15px auto;
	text-align: center;
	color: #384354;
}

.widget-optin-1 .widget-header {
	padding: 10px;
	margin-bottom: 10px;
}

.widget-optin-1 input[type=text], .widget-optin-1 input[type=email] {
	height: 45px;
	font-size: 16px !important;
}

.widget-optin-1 button {
	background-color: #ed8562;
	min-height: 45px;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	font-size: 16px !important;
	white-space: normal;
}

.widget-optin-1 button:hover {
	background-color: #ea6d44;
	color: #fff;
}

.widget-optin-1 .widget-body {
	/*padding: 0px 10px;*/
	padding: 0px 4%;
}

.widget-optin-1 .widget-footer {
	border-top:1px solid #DFE2E7;
	background-color: #F9FAFC;
	font-size: 12px;
	padding: 20px;
	margin: 20px 0px 0px 0px;
}

.widget-optin-1 .widget-footer .footer_content {
	max-width: 245px;
	margin: 0 auto;
}

.widget-optin-1 .widget-footer a {
	color: #0caea4;
}



/*=================*/

/* CONTEST WIDGET 1 */

.widget-contest-1 {
	min-width: 290px;
	max-width: 700px;
	border:1px solid #DFE2E7;
	border-radius: 5px;
	margin: 15px auto;
	text-align: center;
	color: #384354;
}

.widget-contest-1 .counter {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.widget-contest-1 .counter-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
}

.widget-contest-1 .widget-body {
	clear: both;
	padding: 10px;
}

.widget-contest-1 .widget-body p {
	font-size: 14px;
	padding: 5px;
}

.widget-contest-1 .widget-body h3 {
	margin-top: 5px;
}

.widget-contest-1 .widget-footer {
	background-color: #F9FAFC;
	border-top:1px solid #DFE2E7;
	/*padding: 15px 13px 8px 13px;*/
	padding: 15px 4% 2.5% 4%;
}

.widget-contest-1 input[type=text] {
	height: 45px;
}


/*=================*/

/* GIVEAWAY WIDGET 1 */

.widget-giveaway-1-top-red {
	border-top: 6px solid #e26060 !important;
}

.widget-giveaway-1-top-bluegreen {
	border-top: 6px solid #1fb6ff !important;	
}

.widget-giveaway-1 {
	min-width: 290px;
	max-width: 700px;
	border:1px solid #DFE2E7;
	border-radius: 5px;
	margin: 15px auto;
	text-align: center;
	color: #384354;
	border-top:6px solid #0BABA1;
}

.widget-giveaway-1 h3 {
	line-height: 1.4;
}

.widget-giveaway-1 .counter {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.widget-giveaway-1 .counter-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
}

.widget-giveaway-1 .widget-body {
	clear: both;
	padding: 10px;
}

.widget-giveaway-1 .widget-body p {
	font-size: 14px;
	padding: 5px;
}

.widget-giveaway-1 .widget-body h3 {
	margin-top: 5px;
}

.widget-giveaway-1 .widget-footer {
	background-color: #F9FAFC;
	border-top:1px solid #DFE2E7;
	/*padding: 15px 13px 8px 13px;*/
	padding: 15px 4% 2.5% 4%;
}

.widget-giveaway-1 input[type=text] {
	height: 45px;
}

.widget-giveaway-1 .carousel-control.left ,
.widget-giveaway-1 .carousel-control.right {
	background-image: none !important;
}


/*=================*/



.breakhere_on_small::after {
	content: '\A';
	white-space: pre;
}	
/*@media (max-width: 290px){

}*/

/* OPTIN 1 WEBINAR */
.optin-webinar-header {
	background-image: url('../images/optin1_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 336px;
	width: 100%;
	padding: 40px 20px;
	text-align: center;
}

.optin-webinar-header h2 {
	color: #fff;
	font-weight: bold;
	font-size: 42px;
	line-height: 1.5;
	padding: 0px 10px;
}

.optin-webinar-header p {
	color: #fff;
	font-size: 22px;
}

.optin-webinar-header > .container {
	max-width: 970px;
	padding: 20px;
}

.optin-webinar-banner {
	height: 106px;
	border-bottom: 1px solid #dfe7f2;
	background-color: #f4f7fb;
	width: 100%;
}

.optin-webinar-banner > .container {
	max-width: 915px;
	padding: 10px;
}

.optin-webinar-banner i {
	color: #38c3ef;
	margin-right: 10px;
}

.optin-webinar-banner .schedule {
	list-style: none;
	padding: 0px;
}

/*.checked-list {
	list-style: none;
	margin: 0px 10px;
	padding:0px;
}

.checked-list li {
	background: url(../images/check-bullet.png) no-repeat center left;
	padding-left: 30px;
	margin: 5px;
}*/

.optin-webinar-banner .schedule li {
	padding: 10px;
	font-size: 16px;
	font-weight: bolder;
	clear: both;
}

.optin-webinar-banner .schedule li.calendar {
	background: url(../images/calendar.png) no-repeat left 10px;
	padding-left: 30px;
}

.optin-webinar-banner .schedule li.clock {
	background: url(../images/clock.png) no-repeat center left;
	padding-left: 30px;
}

/*.optin-webinar-banner .schedule li i,
.optin-webinar-banner .schedule li div {
	float: left;
}*/


.optin-webinar-body p, .optin-webinar-body ul li {
	line-height: 2;
	font-size: 16px;
	color: #3C4B61;
}

.optin-webinar-body h1,
.optin-webinar-body h2, 
.optin-webinar-body h3,
.optin-webinar-body h4 {
	font-weight: 900;
	color: #3C4B61;
}

.optin-webinar-body .content {
	padding: 0px 30px 0px 0px;
}

.optin-webinar-body > .container {
	max-width: 915px;
	padding: 10px 20px;
}

.optin-webinar-body #optin-box {
	width: 375px;
	height: 400px;
	border: 6px solid #F4698C;
	border-radius: 12px;
	background-color: #fff;
	margin-top: -155px;
	text-align: center;
	padding: 20px;
}

.optin-webinar-body #optin-box h4 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.optin-webinar-body #optin-box p {
	font-size: 16px;
	line-height: 2;
}

.optin-webinar-body #optin-box input[type=text], 
.optin-webinar-body #optin-box input[type=email] {
	height: 52px;
	border-radius: 26px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
}

.optin-webinar-body #optin-box .form-control:focus {
	border-color: #f4698c !important;
	box-shadow: none !important;
}

.optin-webinar-body #optin-box .foot {
	font-size: 12px;
}

.optin-webinar-body #optin-box .foot a,
.optin-webinar-body a {
	color: #38c3ef;
	text-decoration: underline;	
}

.optin-webinar-footer {
	background-color: #3C4B61;
	color: #fff;	
	height: 72px;
	text-align: center;
}

.optin-webinar-footer > .container {
	/*padding: 25px 20px;*/
	padding: 20px 0px 0px 0px;
	font-size: 16px;
	line-height: 2;
}


/* OPTIN 2 WEBINAR */
/*	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;*/
.optin-webinar-header-2 {
	background-image: url('../images/optin2_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 474px;
	width: 100%;
	padding: 40px 20px;
	text-align: center;
	color: #fff;
}

.optin-webinar-header-2 h2 {
	color: #fff;
	/*font-weight: bold;*/
	font-size: 42px;
	line-height: 1.5;
	/*padding: 0px 10px;*/
}

.optin-webinar-header-2 p {
	color: #fff;
	font-size: 22px;
}

.optin-webinar-header-2 > .container {
	max-width: 970px;
	padding: 20px;
}

.optin-webinar-banner-2 {
	min-height: 95px;
	/*border-bottom: 1px solid #dfe7f2;*/
	background-color: #1fb6ff;
	padding: 10px;
}

.optin-webinar-banner-2 > .container {
	max-width: 915px;
	padding: 10px 10px 0px 10px;
}

.optin-webinar-banner-2 div[class^="col-"]  {
	margin-bottom: 20px;
}

.optin-webinar-body-2 > .container {
	max-width: 780px;
	padding: 10px 20px;
	color: #3c4858;
}



.optin-webinar-body-2 p,
.optin-webinar-body-2 ul {
	line-height: 2;
	font-size: 16px;
}

.optin-webinar-body-2 p,
.optin-webinar-body-2 h1,
.optin-webinar-body-2 h2,
.optin-webinar-body-2 h3,
.optin-webinar-body-2 h4,
.optin-webinar-body-2 h5 {
	color: #3c4858;
}

.optin-webinar-body-2 ul {
	list-style-type: disc;
	color: #1fb6ff;
}

.optin-webinar-body-2 ul li span {
	color: #3c4858;
}

.optin-webinar-body-2 a {
	color: #38c3ef;
	text-decoration: underline;	
}

/*===============*/

/* SHARE VIDEO CONTEST 1  */
.share-vid-contest-1 {
	max-height: 612px;
	background-image: url(../images/share_vid1_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}

.share-vid-contest-1 .top-header {
	min-height: 102px;
	background-color: rgba(0,0,0,.5);
/*	border-bottom: 1px solid #fff;*/
}

.share-vid-contest-1 .container {
	max-width: 830px;
	padding: 20px;
}

header.share-vid-contest-1 h1 {
	font-size: 42px;
	line-height: 1.5;
}

.share-vid-contest-1 .vid_list {
/*	max-width: 615px;
	min-width: 307px;*/
	width: 615px;
	margin: 0 auto;
	/*display: table;*/
	background-color: transparent;
}

.share-vid-contest-1 .vid_list .vid_container {
/*	display: table;*/
	margin: 0 auto;
	text-align: center;
	width: 615px;
}

.share-vid-contest-1 .main_video {
	width: 782px;
	height: 442px;
	margin-top: 30px;
}

.share-vid-contest-1 .main_video iframe{
	width: 100%;
	height: 100%;
}


/*.share-vid-contest-1 .vid_list .vid_items:nth-of-type(1){
	margin: 0 auto;
	float: none;
}*/

.share-vid-contest-1 .vid_list .vid_items {
	margin: 0px 5px 10px;
	text-align: center;
	/*display: table-cell;*/
	float:left;
	width: 138px !important;
	/*background-color: red;*/
	vertical-align: middle;
	height: 78px;
}

.share-vid-contest-1 .vid_list .vid_items span {
	/*vertical-align: middle;	*/
}

.share-vid-contest-body-1 {
	padding: 15em 0px 0px;
}

.share-vid-contest-body-1 > .container {
	max-width: 830px;
	padding: 10px 20px;
	color: #3c4858;
}

.share-vid-contest-body-1 p,
.share-vid-contest-body-1 li {
	font-size: 16px;
	line-height: 2;
}

.share-vid-contest-body-1 a {
	color: #e26060;
	text-decoration: underline;
}


.share-vid-footer {
	background-color: #343434;
	color: #fff;	
	height: 72px;
	text-align: center;
}

.share-vid-footer > .container {
	/*padding: 25px 20px;*/
	padding: 20px 0px 0px 0px;
	font-size: 16px;
	line-height: 2;
}


.subtitle {
	font-size: 22px;
}

.coming_soon {
	text-transform: uppercase;
    /*position: absolute;*/
    margin: 28px 21px;
    color: #fff;
    font-weight: bolder;
}
/*========================*/

/* SHARE VIDEO GIVEAWAY 1  */
/*
	Note: share video giveaway uses same layout and css with "share video contest"
	- just change the background of the header
*/

.share-vid-giveaway-headerbg {
	background-image: url(../images/share-vid-giveaway-headerbg.jpg);
}


/*=========================*/

/* SHARE WEBINAR CONTEST 1  */
/*
	Note: Share Webinar Contest uses same layout and css with "optin webinar 2"
	- just change the background of the header
*/
.share-webinar-contest-header {
	min-height: 110px !important;
}

.share-webinar-body > .container {
	max-width: 915px;	
}


/*=========================*/


#upviral_template_modal .modal-dialog {
	max-width: 404px;
}

#upviral_template_modal .modal-content{
	max-width: 404px;
	margin: 0 auto;
}

#upviral_template_modal .modal-body {
	text-align: center;
	padding: 20px 30px 0px 30px;
}


#upviral_template_modal .modal-body h4 {
	font-size: 20px;
    margin-bottom: 10px;
}

#upviral_template_modal .modal-body p {
    font-size: 16px;
    line-height: 2;
}

#upviral_template_modal .modal-body input[type=text],
#upviral_template_modal .modal-body input[type=email]{
	height: 46px;
}

#upviral_template_modal .modal-body input[type=text]:focus,
#upviral_template_modal .modal-body input[type=email]:focus {
	border-color: #1fb6ff !important;
	outline: none !important;	
	box-shadow: none !important;
}



#upviral_template_modal .modal-footer {
	background-color: #F6FAFD;	
	text-align: center !important;
	font-size: 12px;
	border-radius: 0px 0px 5px 5px ;
}

#upviral_template_modal .modal-footer .foot a {
    color: #38c3ef;
    text-decoration: underline;
}

.speakers_holder, .schedule_holder {
	display: table;
}

.speakers_holder .img, .schedule_holder .img {
	display: table-cell;
}

.speakers_holder .info/*, .schedule_holder .info*/ {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

.schedule_holder .info {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}


.speakers_holder .info .name, .schedule_holder .info .date {
	font-size: 20px;
	color: #3C4B61;
	font-weight: bold;
}

.check-list {
	list-style: none;
	list-style-image: url(../images/blue-check-bullet.png);
/*	margin: 0px 10px;
	padding:0px;*/
	color: #3c4858 !important;
}

.checked-list {
	list-style: none;
	/*list-style-image: url(../images/check-bullet.png);*/
	margin: 0px 10px;
	padding:0px;
}

.checked-list li {
	background: url(../images/check-bullet.png) no-repeat center left;
	padding-left: 30px;
	margin: 5px;
}

.checked-list-o {
	list-style: none;
	/*list-style-image: url(../images/check-bullet.png);*/
	margin: 0px 10px;
	padding:0px;
}

.checked-list-o li {
	background: url(../images/circle-check.png) no-repeat center left;
	padding-left: 30px;
	/*margin: 5px;*/
	margin: 5px;
}

.video_holder {
	clear: both;
	height: 255px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: transparent;
}

.video_holder iframe{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: transparent;
}

.video_holder-sm {
	clear: both;
	height: 255px;
	width: 455px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: transparent;
}

.video_holder-sm iframe{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: transparent;
}

.noradius {
	border-radius: 0px !important;
}

.dropshadow {
-webkit-box-shadow: 0px 0px 30px -4px rgba(102,98,102,1);
-moz-box-shadow: 0px 0px 30px -4px rgba(102,98,102,1);
box-shadow: 0px 0px 30px -4px rgba(102,98,102,1);
}

/* update 11-25-2016 */

.widget-carousel-named {
	max-height: 165px;
}

.widget-carousel-named .carousel-control-right {
	margin-top: 95px;
}

.widget-carousel-named .carousel-control-left {
	margin-top: 95px;
}

.coupon_flip {
	height: 50px;
}

.cornerflip {
  position:relative;
  /*width:60px;*/
  width:15%;
  padding:1em 1.5em;
  margin:2em auto;
  color:#fff;
  background:#3BB0A4;
  overflow:hidden;
}

.cornerflip:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:0 32px 32px 0; /* This trick side-steps a webkit bug */
  border-style:solid;
  border-color:#fff #fff #C3EAE8 #C3EAE8; /* A bit more verbose to work with .rounded too */
  background:#658E15; /* For when also applying a border-radius */
  display:block; width:0; /* Only for Firefox 3.0 damage limitation */
  /* Optional: shadow */
/*  -webkit-box-shadow:0 1px 1px rgba(50,151,140,0.5), -1px 1px 1px rgba(50,151,140,0.2);
  -moz-box-shadow:0 1px 1px rgba(50,151,140,0.5), -1px 1px 1px rgba(50,151,140,0.2);
  box-shadow:0 1px 1px rgba(50,151,140,0.5), -1px 1px 1px rgba(50,151,140,0.2);*/
  -webkit-box-shadow:0 5px 8px rgba(50,151,140,1), -1px 3px 3px rgba(50,151,140,0.5);
  -moz-box-shadow:0 5px 8px rgba(50,151,140,1), -1px 3px 3px rgba(50,151,140,0.5);
  box-shadow:0 5px 8px rgba(50,151,140,1), -1px 3px 3px rgba(50,151,140,0.5);
  
}

.coupon {
	margin: 0 auto;
	width: 80%;
	height: 50px;
	display: table;
	border-radius: 3px;
}

.coupon div{
	display: table-cell;
	vertical-align: middle;
}

.coupon_flip {
	border-radius: 3px 0px 0px 3px;
	border-top: 1px solid #DFE2E7;
}

.coupon_text {
	width: 70%;
	background: #fff;
	border-top: 1px solid #DFE2E7;
	border-bottom: 1px solid #DFE2E7;
	border-radius: 0px 3px 3px 0px;
}

.coupon_text span:hover {
	background: rgba(221,67,67, 0.3);
	padding: 5px 10px;
	cursor: pointer;
}

.coupon_spacer {
	width: 15%;
	border-top: 1px solid #DFE2E7;
	border-right: 1px solid #DFE2E7;
	border-bottom: 1px solid #DFE2E7;
	border-radius: 0px 3px 3px 0px;
}


/* added by markramos 05-16-2017 */
/*.upviral_fb {
	clear: both;
	background-color: #3B5998;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	min-height: 48px;
	margin: 10px 0px;
}

.upviral_fb .icon {
	float: left;
	width:  48px;
	height: 48px;
	padding: 14px;
	background-color: #324B80;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_fb .social_text {
	font-size: 16px;

	float: left;

	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_fb .social_count {
	float: right;
	background-color: rgba(255,255,255, .3);
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}
*/

/* widget leaderboard */

.darklb {
	background-color: #384354 !important;
	color: #fff !important;
}

.leader-board {
	width: 100%;
}

.upviral_lb {
	clear: both;
	background-color: #c2ebe8;
	width: 100%;
	color: #384354;
	border-radius: 5px;
	min-height: 48px;
	margin: 10px 0px;
}

.upviral_lb .ranknum {
	float: left;
	font-size: 16px;
	min-width:  48px;
	height: 48px;
	padding: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.upviral_lb .email_text {
	font-size: 16px;
	float: left;
	padding: 14px 8px;
	width: 60%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upviral_lb .points_count {
	float: right;
	height: 38px;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	padding: 10px;
	line-height: 1;
	max-width: 20%;
}

.last_rank {
	background-color: #0caea4;
	color: #fff !important;
}

.last_rank2 {
	background-color: #1c99d6;
	color: #fff !important;
}

.last_rank3 {
	background-color: #26bbf2;
	color: #fff !important;
}

.upviral_lb .secondary_details {
	display: none;

}

.upviral_lb .secondary_details > div {
	width: 50%;
	float: left;
	background-color: #384354;
	color: #fff;
	margin-bottom: 10px;
	height: 48px;
	text-align: center;
	line-height: 3.5;
}

.upviral_lb .secondary_details > div:nth-of-type(1){
	border-radius: 0px 0px 0px 5px;	
	border-right: 1px solid #1d232b;
}

.upviral_lb .secondary_details > div:nth-of-type(2){
	border-radius: 0px 0px 5px 0px;	
}

.rem_border_radius {
	border-radius: 0px !important;
}

.whitebg {
	background-color: #fff !important;
}

.lt_border_gr {
	border: 1px solid #b6e8fb;
}

#leader-board-template {
	max-width: 400px; margin: 0px auto;
}

#leaderboard .content {
	padding: 20px;
}

/* hacks for leaderboard template */
.copy-url input[type="text"]  {
	min-width: 310px !important;
}

/* hacks for leaderboard popup */
.tabs1 li {
	width: 33.333% !important;
}

/* 505050 */
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.share-vid-contest-1 .main_video {
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.optin-webinar-body #optin-box {
		width: 100%;
		margin: 20px auto;
	}

	header.share-vid-contest-1 h1 {
		font-size: 30px;
		line-height: 1.5;
	}

	.share-vid-contest-1 .main_video {
		width: 100%;
	}

}

@media only screen and (max-width : 645px) {
/*	.share-vid-contest-1 .vid_list {
		overflow-x: scroll;
	}*/
	.optin-webinar-banner > .container {
		max-width: 100%;
	}

	.share-vid-contest-1 .main_video {
		width: 100%;
		height: 400px;
	}

	.share-vid-contest-1 .vid_list {
		width: 100%;
		overflow-x: scroll; 
	}

	.share-vid-contest-1 .vid_list ::-webkit-scrollbar {
	    width: 12px;
	}
	 
	.share-vid-contest-1 .vid_list ::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	 
	.share-vid-contest-1 .vid_list ::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
/*	.share-vid-contest-1 .vid_list .vid_items:nth-of-type(4) {
		display: none;
	}*/
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.optin-webinar-banner {
		height: auto;
	}

	.optin-webinar-body #optin-box {
		width: 100%;
		margin: 20px auto;
	}

	.btn-395 {
		width: 100%;
	}

	.optin-webinar-header,
	.optin-webinar-header-2 {
		padding: 0px;
	}

	.video_holder,
	.video_holder-sm {
		width: 100%;
	}

	header.share-vid-contest-1 h1 {
		font-size: 30px;
		line-height: 1.5;
	}

	.share-vid-contest-1 .main_video {
		width: 100%;
		height: 255px;
	}

	.share-vid-contest-body-1 {
	    padding: 9em 0px 0px;
	}

/*	.share-vid-contest-1 .vid_list .vid_items:nth-of-type(3) {
		display: none;
	}*/

	.upviral_lb { 
		border-radius: 5px 5px 0px 0px;
	}

	.upviral_lb .ranknum {
		display: none;
	}

	.upviral_lb .points_count {
		display: none;
	}

	.upviral_lb .secondary_details {
		display: block;
		clear: both;
	}

	.darklb {
		background-color: #1d232b !important;
	}

}



/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {



}


