.fontwhite {
  color: #fff !important;
}

.fontbold {
  font-weight: bold !important;
}

.font600 {
  font-weight: 600 !important;
}

.texttrans-normal {
  text-transform: none !important;
}

.btn-grey {
  background-color: #9c9c9c !important;
}

.btn-grey:hover {
  background-color: #858585 !important;
}

.green-text {
  color: #389d95 !important;
}

.grey-text {
  color: #9c9c9c !important;
}

.almost-grey-text {
  color: #d3d4d9;
}

.font14px {
  font-size: 14px !important;
}

.font16px {
  font-size: 16px !important;
}

.font18px {
  font-size: 18px !important;
}

.font20px {
  font-size: 20px !important;
}

.profile-legend {
  background-color: #F9F9F9; padding: 40px; border-radius: 5px;
}

.lead-warning {
  border: 1px solid #e3e3e3; border-radius: 5px; padding: 20px;
}

.lead-warning > div > strong {
  padding-left: 10px;
  padding-right: 10px;
}

a.blue {
  color: #4c8ebe;
  text-decoration: none;
  word-wrap: break-word;
}

a.see-answer {
  padding: 0px 20px;
}

.winner {
  background-color: #ffde7d;
  border-radius: 30px;
  padding: 5px 15px;
}

#profile-map {
  height: 280px;
  background-color: #82878D;
  border-radius: 8px;
  /*padding: 20px;*/
  padding: 0px;
  overflow: hidden;
}


#tblRewardPoints {
  margin-bottom: 1px !important;
}

#tblRewardPoints thead td{
  font-weight: bold;
}

#tblRewardPoints td{
  width: 33.33%;
  padding: 10px 20px;
  border-top: none !important;
}

#tblRewardPoints tbody tr:last-child td:first-child{
  font-weight: bold;
}

#tblRewardPoints td:last-child{
  text-align: right;
}


#tblRerralLeads {
  margin-bottom: 1px !important;
}

#tblRerralLeads thead td{
  font-weight: bold;
}

#tblRerralLeads td{
  padding: 10px 10px;
  border-top: none !important;
}

#tblOtherCampaigns {
  margin-bottom: 1px !important;
}

#tblOtherCampaigns thead td{
  font-weight: bold;
}

#tblOtherCampaigns td{
  padding: 10px 20px;
  border-top: none !important;
}

#btnBack {
  background-color: #ffffff !important;
  height: 45px;
  width: 125px;
  color: #389d95 !important;
}

.portlet.box.green {
  border: none !important;
}

.portlet-body {
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.points-locked {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 170px;
  background-color: #2fa599;
  /*margin: 17% auto;*/
  margin: 65px auto;
  height: 42px;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

.points-locked:hover {
  cursor: pointer;
  background-color: #1f897f;
}

#rewardPortlet {
  padding: 0px;
}

#referralPortlet,
#othercampaignPortlet {
  padding: 0px;overflow-x: auto;
}

/*================= custom tooltip ==================*/
a.tooltips_custom {
  position: relative;
  display: inline;
}
a.tooltips_custom span {
  position: absolute;
  min-width:140px;
  width: 320px;
  color: #3D3D3D;
  background: #FFFFFF;
  border: 1px solid #C9C9C9;
  min-height: 30px;
  height: auto;
  line-height: 30px;
  text-align: left;
  /* visibility: hidden; */
  display: none;
  border-radius: 3px;
  box-shadow: 0px 0px 15px #dddddd;
  padding: 20px;
}
a.tooltips_custom span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0; height: 0;
  border-top: 10px solid #C9C9C9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
a.tooltips_custom span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips_custom span {
  /* visibility: visible; */
  display: block;
  opacity: 1;
  bottom: 30px;
  left: 50%;
  /* margin-left: -76px; */
  margin-left: -160px;
  z-index: 999;
}

.prof-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  border: 4px solid #fff;
  border-radius: 50%;
  float: right;
}

.acc_name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

#profile-map-details {
  margin:10% auto;
}

.widget-image-container {
  width: unset !important;
}

#profmap-container {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 100%;
}

#vmap {
  border-radius: 8px;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .prof-image {
    float: none;
  }

  #profile-map-details {
    margin:auto;
  }

/*  .points-locked {
    margin: 25% auto;
  }*/

  a:hover.tooltips_custom span {
    left: unset;
    margin: auto !important;
    right: 0;
  }

  a.tooltips_custom span:before,a.tooltips_custom span:after {
    display: none;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
/*  .points-locked {
    margin: 50px auto;
  }*/
}

@media only screen and (max-width : 600px) {
  #rewardPortlet {
    overflow-x: auto;
  }

  a.see-answer {
    padding: 5px 0px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 447px) {
  #divActionContainer > button {
    width: 100%;
    margin: 5px auto;
  }

  a:hover.tooltips_custom span {
      width: fit-content;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
