

<script src="https://wchat.freshchat.com/js/widget.js"></script>
<script>
  window.fcWidget.init({
    token: "0a3dc67c-f0a7-48f2-90f7-4bfba688ffca",
    host: "https://wchat.freshchat.com",
    config: {
      disableEvents: true,
      cssNames: {
        widget: 'fc_frame',
        open: 'fc_open',
        expanded: 'fc_expanded'
      },
      showFAQOnOpen: true,
      hideFAQ: true,
      agent: {
        hideName: false,
        hidePic: false,
        hideBio: false,
      },
      headerProperty: {
	      //If you have multiple sites you can use the appName and appLogo to overwrite the values.
      	appName: 'Gadget God',
        appLogo: 'https://d1qb2nb5cznatu.cloudfront.net/startups/i/2473-2c38490d8e4c91660d86ff54ba5391ea-medium_jpg.jpg?buster=1518574527',
        backgroundColor: '#FFFF00',
        foregroundColor: '#333333',
        backgroundImage: 'https://wchat.freshchat.com/assets/images/texture_background_1-bdc7191884a15871ed640bcb0635e7e7.png'
      },
      content: {
        placeholders: {
          search_field: 'Search',
          reply_field: 'Reply',
          csat_reply: 'Add your comments here'
        },
        actions: {
          csat_yes: 'Yes',
          csat_no: 'No',
          push_notify_yes: 'Yes',
          push_notify_no: 'No',
          tab_faq: 'Solutions',
          tab_chat: 'Chat',
          csat_submit: 'Submit'
        },
        headers: {
          chat: 'Chat with Us',
          chat_help: 'Reach out to us if you have any questions',
          faq: 'Solution Articles',
          faq_help: 'Browse our articles',
          faq_not_available: 'No Articles Found',
          faq_search_not_available: 'No articles were found for {{query}}',
          faq_useful: 'Was this article helpful?',
          faq_thankyou: 'Thank you for your feedback',
          faq_message_us: 'Message Us',
          push_notification: 'Don\'t miss out on any replies! Allow push notifications?',
          csat_question: 'Did we address your concerns??',
          csat_yes_question: 'How would you rate this interaction?',
          csat_no_question: 'How could we have helped better?',
          csat_thankyou: 'Thanks for the response',
          csat_rate_here: 'Submit your rating here',
          channel_response: {
            offline: 'We are currently away. Please leave us a message',
            online: {
              minutes: {
                one: "Currently replying in {!time!} minutes ",
                more: "Typically replies in {!time!} minutes"
              },
              hours: {
                one: "Currently replying in under an hour",
                more: "Typically replies in {!time!} hours",
              }
            }
          }
        }
      }
    }
  });
</script>
<style type="text/css">
	/*  webinar chat hack */
	.w_content_screen { display: none !important; }
	.aside_sidebar.with_handle.open .w_message_box_wrapper { display: none !important; }

	#fc_frame.fc_open.fc-open {
		bottom: -18px !important;
		right: -18px !important;
	}
</style>