<!-- Freshchat Script By markramos -->
<!--Paste this code within <HEAD>-->
<script src="https://wchat.freshchat.com/js/widget.js"></script>

<!--Paste this code before </BODY>-->
<script>
  window.fcWidget.init({
   config: {
      content: {
         headers: {
            // chat_help: 'Reach out to us if you have any questions'
          channel_response: {
            offline: ''
          }
         }
      },
      hideFAQ: true,
      cssNames: {
         widget: 'upviral-chatbox',
         expanded: 'upviral-chatbox-exp'
      },
      headerProperty: {
         hideHeader: false,
         appName: "Wilco",
         appLogo: "http://upviral.s3.amazonaws.com/avatar/wilco_.jpg"
      }
   },
   open: true,
   host: 'https://wchat.freshchat.com',
   token: '0a3dc67c-f0a7-48f2-90f7-4bfba688ffca',
    externalId: window.me.e,     // user’s id unique to your system
    firstName: window.me.n,              // user’s first name
    lastName: "",                // user’s last name
    email: window.me.e,    // user’s email address
    tags: ["webinar"],
  });


  console.log(player);
  // window.fcWidget.track('watch_webinar', {
  //   "watch-time": 60
  // });
  // After 1 minute, it sends
  // window.fcWidget.track('watch_webinar', {
  //   watch-time: 60,
  // });

  // After 2 minutes, it sends
  // window.fcWidget.track('watch_webinar', {
  //   watch-time: 120,
  // });

  // After 3 minutes, it sends
  // window.fcWidget.track('watch_webinar', {
  //   watch-time: 180,
  // });

  jQuery('body').append('<input type="hidden" id="timed_timer" >');
  jQuery(document).ready(function(){
    function trigger_camp(){
        // var timer_in_milisec = Number()
        var timed = 60;
        // var timed = 5;
        var ctr = 0;
        console.log('Trigger Event!' + timed);
        jQuery('#timed_timer').val('' + timed);

        setInterval(function(){
          // timed = timed + 0;
          var newTime = Number(jQuery('#timed_timer').val());
          
          console.log('Interval Trigger Event!' + newTime);
          window.fcWidget.track('watch_webinar', {
            "watch-time": newTime
          });    
          //newTime += newTime;
          newTime += timed;
          jQuery('#timed_timer').val('' + newTime);
          // x = true;

        }, 300000); // every 60seconds = 60000
        //300000 every 5 minutes
        
    }


    var vid = document.getElementById("player_html5_api");
    vid.onplaying = function() {
      // setInterval(function(){
      //   console.log("The video is now playing : " + vid.currentTime );
      // }, 500);
        // console.log("The video has started to play");
        // trigger_camp();
        // return;
    }; 

    // vid.onplay = function() {
    //     console.log("The video has started to play");
    //     trigger_camp();
    // }; 
    var x = true;
    jQuery('#player_html5_api').on('play', function(){
        console.log("The video has started to play");
        if(x){
          trigger_camp();  
          x = false;
        }
    });


  });
    // window.fcWidget.track('custom_mark_event', {
    //   "marky_event": 60
    // }); 
</script>

<style type="text/css">
  /*  webinar chat hack */
  .w_content_screen { display: none !important; }
  .aside_sidebar.with_handle.open .w_message_box_wrapper { display: none !important; }
  .w_padding_large .aside_sidebar {
      width: 418px !important;
  }

  #fc_frame.upviral-chatbox.fc-open {
    bottom: -18px !important;
    right: -18px !important;
  }

  /*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
      .aside_sidebar {
        display: none !important;
      }
      #fc_frame.upviral-chatbox.fc-open {
        position: relative;
        height: 480px !important;
        bottom: 10px !important;
        right: 5px !important;
      }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {

  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    
  }
  
</style>


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '198206100759037');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=198206100759037&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<script>
fbq('track', 'ViewContent', {
content_name: 'UV Watch Live',
});
</script>

<!-- Global site tag (gtag.js) - Google Ads: 1068531892 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1068531892"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1068531892');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62842650-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-62842650-1', {
  'linker': {
    'domains': ['upviral.com','thrivecart.com','viralhacking.com']
  }
});


</script>


<script type="text/javascript"> (function(funnel) { var insert = document.getElementsByTagName('script')[0], script = document.createElement('script'); script.addEventListener('load', function() { window.funnelytics.init(funnel, false); }); script.src = 'https://cdn.funnelytics.io/track.js'; script.type = 'text/javascript'; script.async = true; insert.parentNode.insertBefore(script, insert); })('0d60ca43-289a-4943-a0e4-e4c6cd9ff16f'); </script>

<!-- ConnectRetarget PowerPixel -->
<script>
var CRConfig = {
'pixel_prefix':'uvwebinarlive',
'init_fb':false,
'fb_pixel_id':'323756101117134'
};
</script>
<script src='//connectio.s3.amazonaws.com/connect-retarget.js?v=1.1'></script>
<noscript><img height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=323756101117134&ev=PageView&noscript=1' /></noscript>
<!-- End ConnectRetarget PowerPixel -->

<script src="//widget.wickedreports.com/Emarky/trackfu.js"></script>


