<!--Paste this code within <HEAD>-->
<script src="https://wchat.freshchat.com/js/widget.js"></script>

<!--Paste this code before </BODY>-->
<script>
  window.fcWidget.init({
   config: {
      content: {
         headers: {
            // chat_help: 'Reach out to us if you have any questions'
          channel_response: {
            offline: ''
          }
         }
      },
      hideFAQ: true,
      cssNames: {
         widget: 'upviral-chatbox',
         expanded: 'upviral-chatbox-exp'
      },
      headerProperty: {
         hideHeader: false,
         appName: "Wilco",
         appLogo: "http://upviral.s3.amazonaws.com/avatar/wilco_.jpg"
      }
   },
   open: true,
   host: 'https://wchat.freshchat.com',
   token: '0a3dc67c-f0a7-48f2-90f7-4bfba688ffca',
    externalId: window.me.e,     // user’s id unique to your system
    firstName: window.me.n,              // user’s first name
    lastName: "",                // user’s last name
    email: window.me.e,    // user’s email address
    tags: ["webinar"],
  });


  console.log(player);
  // window.fcWidget.track('watch_webinar', {
  //   "watch-time": 60
  // });
  // After 1 minute, it sends
  // window.fcWidget.track('watch_webinar', {
  //   watch-time: 60,
  // });

  // After 2 minutes, it sends
  // window.fcWidget.track('watch_webinar', {
  //   watch-time: 120,
  // });

  // After 3 minutes, it sends
  // window.fcWidget.track('watch_webinar', {
  //   watch-time: 180,
  // });

  jQuery('body').append('<input type="hidden" id="timed_timer" >');
  jQuery(document).ready(function(){
    function trigger_camp(){
        // var timer_in_milisec = Number()
        // var timed = 60;
        var timed = 5;
        var ctr = 0;
        console.log('Trigger Event!' + timed);
        jQuery('#timed_timer').val('' + timed);

        setInterval(function(){
          // timed = timed + 0;
          var newTime = Number(jQuery('#timed_timer').val());
          
          console.log('Interval Trigger Event!' + newTime);
          window.fcWidget.track('watch_webinar', {
            "watch-time": newTime
          });    
          //newTime += newTime;
          newTime += timed;
          jQuery('#timed_timer').val('' + newTime);
          // x = true;

        }, 300000); // every 60seconds = 60000
        //300000 every 5 minutes
        
    }


    var vid = document.getElementById("player_html5_api");
    vid.onplaying = function() {
      // setInterval(function(){
      //   console.log("The video is now playing : " + vid.currentTime );
      // }, 500);
        // console.log("The video has started to play");
        // trigger_camp();
        // return;
    }; 

    // vid.onplay = function() {
    //     console.log("The video has started to play");
    //     trigger_camp();
    // }; 
    var x = true;
    jQuery('#player_html5_api').on('play', function(){
        console.log("The video has started to play");
        if(x){
          trigger_camp();  
          x = false;
        }
    });


  });
    // window.fcWidget.track('custom_mark_event', {
    //   "marky_event": 60
    // }); 
</script>

<style type="text/css">
  /*  webinar chat hack */
  .w_content_screen { display: none !important; }
  .aside_sidebar.with_handle.open .w_message_box_wrapper { display: none !important; }
  .w_padding_large .aside_sidebar {
      width: 418px !important;
  }

  #fc_frame.upviral-chatbox.fc-open {
    bottom: -18px !important;
    right: -18px !important;
  }
</style>