<!-- Start UpViral Footer Div -->

<div id="footer-copyright">
<b>Got a Question? Contact Us!</b>
<br>
Email: support@upviral.com<br><br>
Copyright © 2019 UpViral - All Rights Reserved<br><a href="https://upviral.com/terms-conditions/">Terms of Service</a> <b>· </b><a href="https://upviral.com/privacy-policy/">Privacy Policy</a> <b>· </b><a href="https://upviral.com/cookie-policy/">Cookie Policy</a></div>

<!-- End Clever Messenger Footer Div -->

<!-- Start Clever Messenger VAT Display Code -->

<script src="//upviral.com/checkout-scripts/vat.js"></script>
<link rel="stylesheet" type="text/css" href="//upviral.com/checkout-scripts/vat.css">

<!-- End UpViral VAT Display Code -->

<!-- Start Custom Style -->

<style>
 

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

.h3, h3 {
    font-size: 1.75rem;
    font-family: "QuickSand";
    margin: 25px 0;
}

#vienna.pk-widget-embed .container {
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden;
    padding: 0;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    background-size: 90% !important;
}

#vienna.pk-widget-embed {
    background-image: linear-gradient(to top, #384354 0%, #384354 100%) !important;
    /*background-image: linear-gradient(to top, #00B7D7 0%, #00B7D7 100%) !important;*/
}

.vienna .pkwidget-content_container .pkwidget-content__user_details {
    grid-area: content_left;
    background: #ffffff;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

#vienna {
    background-image: linear-gradient(to top, #384354 0%, #384354 100%) !important;
}

.vienna .pkwidget-content_container .pkwidget-content__payment_details {
    margin: 0;
    grid-area: payment;
    border: 0;
    border-bottom: 0;
    background: #ffffff;
}

#payment-heading-text {
    color: rgba(7,7,7,1) !important;
    margin-top: -20px;
}

.vienna .pkwidget-content_container .pk_section__payment-button, .vienna .pkwidget-content_container .pk_section__payment-support {
    background: #fff;
}

.vienna .pkwidget-content_container .pkwidget-content__action {
    grid-area: action;
    border-top: 0;
    padding-bottom: 2em;
    background: #ffffff;
}

.vienna .pkwidget-content_container {
    padding: 0 0;
    background-color: transparent;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header_left header_left" "product content_left" "testimonials content_left" "testimonials payment" "testimonials payment";
    grid-gap: 0;
    max-width: 1080px !important;
    margin: 0 auto;
}

#vienna.layout-column-two .pkwidget-content__user_payment_container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 50;
    border-radius: 22px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    margin: 30px 0 0px;
}

#tax-heading-text {
    color: rgba(7,7,7,1) !important;
    display: none;
}

#contact-heading-text,
#multiproduct-heading,
#payment-heading-text,
#order-summary {
    color: rgba(36,49,71,1) !important;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize !important;
    font-size: 25px;
    font-weight: 400;
}

#testimonial-heading-wrap {
	text-align: center;
}

#testimonials-heading {
	color: #243247 !important;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	text-align: center;
	text-transform: capitalize !important;
	font-weight: 400;
	margin-bottom: 0px !important;
}

h2#testimonials-heading:before {
    content: "\f075";
    font-family: 'FontAwesome';
}

#testimonial-0-content,
#testimonial-1-content,
#testimonial-2-content,
#testimonial-3-content {
	line-height: 24px !important;
}

.vienna .pk-section .form-group > i{
	color: #dddddd !important;
}

.vienna .pk-section .form-group:focus > i{
	color: rgba(109,180,255,1) !important;
}

    
.vienna span.marker {
    background: yellow;
    padding: 5px 8px 6px;
    border-radius: 4px;
}

.vienna .pk_section__logo {
    padding: 0 0 0 0;
    float: left;
    margin-bottom: 2em;
}

#header-price {
    background-color: rgba(0,0,0,0) !important;
    color: rgba(255,255,255,1) !important;
    display: none;
}

.vienna .pk_section_total_block_header span.payment_due.value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none !important;
}

.vienna .pk-section .dual-form-group {
    display: initial;
    display: initial;
    display: initial;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 1em;
}

.vienna .pkwidget-content_container .pkwidget-content_wrapper .pk-section {
    padding: 1.2em 2em 0em;
}

.vienna .pk-section .dual-form-group .form-group:first-child {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
}

.vienna .pk-section .form-group:last-child, .vienna .pk-section .form-group:last-child input {
    margin-bottom: 15px;
}

.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
    margin-bottom: 5px !important;
}


.pk-section.pk_section__tax {
    padding-top: 0em !important;
}

.vienna #testimonial-block img {
    margin: 1.5em;
    vertical-align: middle;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-radius: 100%;
    border: unset !important;
    box-shadow: 3px 7px 20px 0 rgba(0,0,0,.1);
}

.vienna #testimonial-block .testimonial-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
    margin-top: 20px;
    margin-right: 15px;
    border-top: 2px solid rgb(236, 236, 236);
}

.vienna #testimonial-block .testimonial-user-name {
    font-family: QuickSand;
    font-weight: 300;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 0.35em;
}

.vienna #testimonial-block p {
    margin: 0;
    line-height: 1.25;
}

.vienna .pk-section.pk_section__payment-support ul li a {
    padding: 0 0;
    font-size: 11px !important;
    width: 100%;
    display: none;
    margin-top: 1em;
    text-decoration: none;
}

.vienna .product_details--wrapper .product_details--body p:last-child {
    margin: 20px 0;
}

.vienna .pk-section div > .form-group {
    margin-bottom: 0.6em;
}

#plan-name-text {
    color: rgba(255,255,255,1) !important;
    font-weight: bolder !important;
    font-family: "Raleway",sans-serif;
    font-style: normal;
    letter-spacing: -.05em;
    font-size: 40px;
    text-align: left;
    display: inherit !important;
    margin-bottom: 20px;
}

#plan-description-text {
    color: rgba(255,255,255,1) !important;
    /*text-shadow: 0px 0px 20px #0067f8;*/
    font-family: "Lato";
    font-size: 17px;
    line-height: 1.4;
}

#plan-description-text ul {
	margin-top: 20px;
}

#plan-description-text ul li {
	list-style: none;
	margin-bottom: 20px;
}

#plan-description-text ul li:before {
    content: "\f14a";
    font-family: 'FontAwesome';
    font-size: 20px;
    float: left;
    margin-top: 4px;
    margin-left: -30px;
    color: #fff;
}

.vienna .payment_mode_link.credit_card {
    min-width: unset;
}

.vienna .payment_mode_link a.active {
    color: #FFF;
    background: #1dfe7c;
}

.vienna .payment_mode_link a.active {
    -webkit-box-shadow: 0px 0px 0px 2px #1dfe7c inset;
    box-shadow: 0px 0px 0px 2px #1dfe7c inset;
    border-radius: 4px;
}

.vienna #payment_mode_content span.message {
    padding: 0.5em;
    background: #1bfe7b;
    font-size: 12px;
    width: 100%;
    display: block;
    text-align: center;
}

#order-bump-icon {
    display: none;
}

.vienna .order-bump-check-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*border-bottom: 2px solid #ffffff;*/
    border-bottom: none !important;
    padding: 0.2em 0.1em 1em 0.1em;
    /*margin-bottom: 1em;*/
    margin-bottom: 0px !important;
    margin-right: -24px;
    margin-left: -24px;
}

.vienna .label__check {
    border-radius: unset;
}

.vienna .label__checkbox:checked + .label__text .label__check {
    background: #1bfe7b;
}

#order-bump-heading {
    color: rgba(34,34,34,1) !important;
    text-align: center;
}

#order-bump-block {
    background-color: rgba(255,255,255,1) !important;
    border-color: #dfe4ec !important;
}

#order-bump-block {
    background-color: rgb(251, 251, 251) !important;
    border-color: #dfe4ec !important;
    border-radius: 10px;
    border: 0;
}

.vienna .pk-section.pk_section__orderbump .order__box span.price-span {
    background: #1DB0FE;
}

#order-bump-price {
    display: none;
}

.vienna #order-bump-description {
    text-align: justify;
    font-size: 16px;
    word-break: break-word;
    margin-bottom: -1em !important;
    display: none !important;
}

.vienna .pk_section__orderbump .order__box {
	padding-bottom: 0px !important;
}

.vienna .pkwidget-content_container .pkwidget-content__action {
    grid-area: action;
    border-top: 0;
    padding-bottom: 1em;
    background: #ffffff;
    border-radius: 20px;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

#action-button {
    color: rgba(255,255,255,1) !important;
    background-color: rgba(103,181,51,1) !important;
    border-color: rgba(103,181,51,1) !important;
    border-radius: 10px;
    transition: 0.15s;
}

#action-button:hover {
    color: rgba(255,255,255,1) !important;
    background-color: rgb(89, 183, 27) !important;
    border-color: #59b71b !important;
    transform: scale(1.025);
    /* transform: skew(1deg, 1deg); */
    transition: 0.15s;
}

.vienna .pkwidget-content_container .pkwidget-content__payment_details {
    margin: 0;
    grid-area: payment;
    border: 0;
    border-bottom: 0;
    background: #ffffff;
    border-radius: 20px;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.vienna .pk-section.pk_section__payment-support ul li h3 {
padding: 13px 15px 15px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin: 0 0 0.4em;
    line-height: 1.5;
    font-family: "Lato";
}

.vienna .pk_section__tos_container {
    width: 100%;
    background: #fbfbfb;
    text-align: justify;
    position: relative;
    padding: 1em 1em;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vienna .pk-section.pk_section__tos label {
    padding: 0 0 0 !important;
    margin: 0;
    text-align: justify;
    font-size: 16px;
    line-height: 1.2;
    width: auto;
}
.vienna .pkwidget-content_container .pkwidget-content_wrapper .pk-section.pk_section__tos {
    padding-bottom: unset;
    padding: 0.75em 2em 0.75em;
}

.vienna .pk-section.pk_section__total ul li small.secondary-detail {
    display: block;
    width: 100%;
    float: left;
    text-align: right;
    color: #222;
    margin-top: 0.3em;
    font-size: 0.61em !important;
    font-weight: 400;
}

.vienna .label__check {
    line-height: 1.2em;
    font-size: 17px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(223, 228, 236);
    background: white;
    vertical-align: middle;
    margin-right: 0;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
}

span.payment_due.value {
    color: red;
}

.vienna .pk-section.pk_section__total ul li {
    padding: 13px !important;
    border-radius: 10px;
    background: #fbfbfb;
    margin-bottom: 0.5em;
    border: 0;
}

div#footer-copyright {
    padding: 1.5em 2em 0em;
    font-size: 13px;
    text-align: center;
}

#warning-modal .modal-content {
    background: #FFF;
    text-align: center;
    align-items: center;
    padding: 1.5em !important;
    font-size: 1.3em !important;
}

a {
    color: #6db4ff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.vienna #form-footer-support-block.template-hide, .vienna #form-footer-support-block.d-none {
    z-index: -1;
    position: relative;
    height: 1.6em;
    overflow: hidden;
    opacity: 0;
    padding: 0 !important;
    margin: 0 !important;
    display: none !important;
}

</style>

<!-- End Custom Style -->