@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,700,800');

@font-face {
    font-family: "PoppinsBold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "PoppinsRegular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsBlack";
    src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: "PoppinsBlackItalic";
    src: url(../fonts/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: "PoppinsBoldItalic";
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "PoppinsExtraBoldItalic";
    src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsExtraLight";
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "PoppinsExtraLightItalic";
    src: url(../fonts/Poppins-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "PoppinsItalic";
    src: url(../fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: "PoppinsLight";
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "PoppinsLightItalic";
    src: url(../fonts/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: "PoppinsMedium";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "PoppinsMediumItalic";
    src: url(../fonts/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "PoppinsSemiBoldItalic";
    src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "PoppinsThin";
    src: url(../fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: "PoppinsThinItalic";
    src: url(../fonts/Poppins-ThinItalic.ttf);
}


body {
	font-family: "Lato", sans-serif;
    position: relative;
    margin: 0;
}

h2 {
	font-size: 36px;
	font-family: "PoppinsBold", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

.container {
	max-width: 1116px;
}

.nav-item {
	padding: 0px 20px;
}

#search-section {
	background-color:#384354;
	padding: 26px 0px;
	color: #fff;
}

#search-icon {
	height: 38px;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;margin: auto;
}

#search-icon:hover {
	cursor: pointer;
}

.section {
	padding: 30px 0px;
}

.login-btn {
	background-color: #0CAEA4;
	border-radius: 5px;
	color: #fff !important;
	font-size: 14px;
	/*padding: 10px 15px !important;
	height: 32px;
	width: 80px;*/
    height: 32px;
    width: 80px;
    text-align: center;
    padding: 5px;
}

#navbarNavDropdown a {
	font-size: 14px !important;
}

.sequence-selection {
	width: 340px;
	min-height: 360px;
  /* height: 360px; */

	-webkit-box-shadow: 0px 11px 20px 3px rgba(230,230,230,1);
	-moz-box-shadow: 0px 11px 20px 3px rgba(230,230,230,1);
	box-shadow: 0px 11px 20px 3px rgba(230,230,230,1);
/*	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.28);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.28);*/
}

.sequence-selection:hover {
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.36);
}


.spacer10 {
	clear: both;
	width: 100%;
	height: 10px;
}

.spacer15 {
	clear: both;
	width: 100%;
	height: 15px;
}

.spacer20 {
	clear: both;
	width: 100%;
	height: 20px;
}

.spacer25 {
	clear: both;
	width: 100%;
	height: 25px;
}

.spacer30 {
	clear: both;
	width: 100%;
	height: 30px;
}

.spacer35 {
	clear: both;
	width: 100%;
	height: 35px;
}

.spacer40 {
	clear: both;
	width: 100%;
	height: 40px;
}

.spacer45 {
	clear: both;
	width: 100%;
	height: 45px;
}

.spacer50 {
	clear: both;
	width: 100%;
	height: 50px;
}

.sequence-container {
	margin-bottom: 20px;
}

.sequence-selection {
	margin-bottom: 40px;
}

.sequence-selection .info {
	/* height: 306px; */
  min-height: 306px;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #E0E1E5;
}

.sequence-selection .info .title {
	min-height: 65px;
}


.sequence-selection .info h2{
	font-size: 24px;
	font-family: "PoppinsBold", sans-serif;
	color: #34495E;
}

.sequence-selection .info p{
	font-size: 15px;
	color: #637180;
}

.sequence-selection .info .inspiredby {
	font-size: 12px;
	color: #637180;
	padding-top: 10px;
}

.sequence-selection .info .inspiredby .insp_text{
	border-right: 1px solid #E0E1E5;
	padding: 5px 15px;
}

.sequence-selection .info .inspiredby .comp_logo {
	/*padding: 5px 20px;*/
}

.sequence-selection .linker {
	background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="569 560 32 16"> <defs> <style>.cls-1{fill: #0caea4;}</style> </defs> <path id="go_icon" data-name="go icon" class="cls-1" d="M32,8l-8,8-1.4-1.4L28.2,9H0V7H28.2L22.6,1.4,24,0Z" transform="translate(569 560)"/></svg>');
	background-position: 95% center;
	background-repeat: no-repeat;
	background-size: auto 16px;
	background-color: #E6F8F7;
	height: 55px;
	width: 100%;
	padding: 15px 20px;
	color: #0CAEA4;
	text-transform: uppercase;
	font-weight: 800;
	font-family: "Open Sans", sans-serif;
}

.sequence-selection .linker:hover {
	cursor: pointer;
}

footer {
	background-color: #2A3340;
	height: 97px;
	width: 100%;
	padding: 20px 0px;
}

.copyright {
	color: #abadb1;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	text-align: right;
}

.terms, .terms a {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-align: right;
}

#custom-search-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: #34495E;
	height: 100%;
	width: 100%;

	display: none;
}

#search_sequence {
	color: #fff;
	font-family: "PoppinsBold", sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#search_sequence:focus {
	outline: none;
}

#close_search {
	width: 44px; height: 44px; margin-top: -45px;
}

#close_search:hover {
	cursor: pointer;
}

#btn-download {
	background-color: #ED8562 !important;
	border-color: #ED8562 !important;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	font-size: 16px;
	width: 170px;

	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    margin: auto 36px auto auto;
    padding: 10px;
}

#btn-download:hover {
	background-color: #f49a7c !important;
	border-color: #f49a7c !important;
	cursor: pointer;
}

.emailseq-container {
	margin-bottom: 40px;
}

.emailseq-container .title {
	border: 1px solid #E0E1E5;
	min-width: 200px;
	width: fit-content;
	margin: auto;
	padding: 10px;
	border-radius: 24px;
}

.emailseq-container .title::after {
	content: " ";
    position: absolute;
    border-left: 1px solid #E0E1E5;
    height: 24px;
    width: 1px;
    left: 50%;
    margin-top: 10px;
}

.emailseq-container .title .text {
	color: #34495E;
	font-size: 16px;
	font-family: "Open Sans",sans-serif;
	font-weight: bold;
	text-align: center;
}

.emailseq-container .email-content {
	max-width: 970px;
	width: 100%;
	/*min-height: 408px;*/
	/*min-height: 190px;*/
	min-height: 130px;
	margin: 24px auto;

-webkit-box-shadow: 0px 5px 25px 3px rgba(230,230,230,1);
-moz-box-shadow: 0px 5px 25px 3px rgba(230,230,230,1);
box-shadow: 0px 5px 25px 3px rgba(230,230,230,1);
/*	-webkit-box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.21);
	box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.21);*/
}

.emailseq-container.next-day .title::before {
	content: " ";
    position: absolute;
    border-left: 1px solid #E0E1E5;
    height: 40px;
    width: 1px;
    left: 50%;
    margin-top: -50px;
}


.emailseq-container .email-content .e-row {
	display: table; width: 100%;
}

.emailseq-container .email-content .e-row .col1{
	display: table-cell; width: 120px; background-color: #FCFCFC; padding: 20px; color: #637180;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}

.emailseq-container .email-content .e-row .col2{
	display: table-cell; padding: 20px;
}

.emailseq-container .email-content .e-row p {
	color: #637180;
}

.subject-title {
	font-size: 24px;
	font-family: "PoppinsBold", sans-serif;
	color: #34495E;
	border-bottom: 1px solid #E0E1E5;
	padding-bottom: 20px;
}

.var_edit {
	color: #0CAEA4;
	background-color: rgba(12, 174, 164, 0.05);
}

.var_edit:hover {
	cursor: pointer;
}

.overlay-title {
    width: 95%;
    float: left;
    margin-top: -60px;
    color: #fff;
    font-size: 80px;
}

.fontwhite {
	color: #fff !important;
}

.font14px {
	font-size: 14px !important;
}

.font20px {
	font-size: 20px !important;
}

.font22px {
	font-size: 22px !important;
}

.font24px {
	font-size: 24px !important;
}


.fontbold {
	font-weight: bold !important;
}

.fontw700 {
	font-weight: 700 !important;
}

.fontw800 {
	font-weight: 800 !important;
}

.opensans {
	font-family: 'Open Sans', sans-serif !important;
}

.poppins {
	font-family: 'Poppins', sans-serif !important;
}

.text-upper {
	text-transform: uppercase !important;
}

#btn-save {
	background-color: #ED8562 !important;
	border-color: #ED8562 !important;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	font-size: 16px;
	width: 170px;
	height: 48px;
    color: #fff;
}

#btn-save:hover {
	background-color: #f49a7c !important;
	border-color: #f49a7c !important;
	cursor: pointer;
}

#btn-cancel {
	background-color: transparent !important;
	border-color: #fff !important;
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	font-size: 16px;
	width: 170px;
	height: 48px;
    color: #fff;
}

#btn-cancel:hover {
	background-color: rgba(255,255,255, 0.1) !important;
	border-color: #fff !important;
	cursor: pointer;
}

.custom_vars {
	background-color: rgba(255,255,255,0.16); border: none;
}

.custom_vars:focus{
	background-color: rgba(255,255,255,0.16) !important;
}

.custom_vars::placeholder {
    color: #fefefe;
    opacity: 1; /* Firefox */
}

.custom_vars:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fefefe;
}

.custom_vars::-ms-input-placeholder { /* Microsoft Edge */
   color: #fefefe;
}

.text-green {
	color: #0CAEA4 !important;
}
