/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.nav-menu,
.contact-list,
.buttons-gallery .pagination-holder ul,
.filter-list,
.pagination,
.footer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #637180;
	background: #fff;
	font: 14px/1.5 "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: "Poppins", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	line-height: 1.333;
	font-weight: 700;
	margin: 0 0 .55em;
	color: #34495e;
	letter-spacing: .5px;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.h a {
	color: inherit;
	text-decoration: none;
}

h1,
.h1 {
	font-size: 28px;
	margin: 0 0 .75em;
}

h2,
.h2 {
	font-size: 22px;
}

h3,
.h3 {
	font-size: 18px;
	margin: 0 0 .7em;
}

h4,
.h4 {
	font-size: 17px;
}

h5,
.h5 {
	font-size: 16px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	-webkit-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out, opacity .3s ease-in-out;
	transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out, opacity .3s ease-in-out;
	color: #0caea4;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #097e77;
}

mark {
	background: none;
	color: #0caea4;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	display: block;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #e0e1e5;
	padding: .7em .7em .8em;
	color: #637180;
	font-size: 16px;
	border-width: 0 0 1px;
	height: 45px;
	width: 100%;
	margin: 0 0 15px;
	outline: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #34495e;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #98afc6;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #98afc6;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #98afc6;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #98afc6;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #98afc6;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	outline: none;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?p2uike");
	src: url("../fonts/icomoon.eot?p2uike#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?p2uike") format("truetype"), url("../fonts/icomoon.woff?p2uike") format("woff"), url("../fonts/icomoon.svg?p2uike#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_right:before {
	content: "\e902";
}

.icon-arrow_left:before {
	content: "\e904";
}

.icon-email:before {
	content: "\e903";
}

.icon-link:before {
	content: "\e905";
}

.icon-location:before {
	content: "\e906";
}

.icon-phone:before {
	content: "\e907";
}

.icon-price:before {
	content: "\e908";
}

.icon-search:before {
	content: "\e909";
}

.icon-star:before {
	content: "\e90a";
}

/* custom select styles */

.jcf-select {
	display: block;
	position: relative;
	border: solid #e0e1e5;
	border-width: 0 0 1px;
	background: #fff;
	margin: 0 0 15px;
	min-width: 150px;
	height: 45px;
}

.jcf-select.jcf-select-small {
	width: 130px;
	min-width: 0;
	height: 24px;
	border: 0;
}

.jcf-select.jcf-select-small .jcf-select-text {
	font-size: 16px;
	line-height: 24px;
	height: 24px;
	color: #0caea4;
	margin: 0 35px 0 0;
}

.jcf-select.jcf-select-small .jcf-select-opener {
	width: 30px;
}

.jcf-select.jcf-select-small .jcf-select-opener:after {
	border-color: #0caea4 transparent transparent;
	tranform: translate(0, -50%);
	left: 5px;
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 16px;
	line-height: 45px;
	margin: 0 55px 0 21px;
	color: #637180;
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	width: 50px;
	bottom: 0;
	right: 0;
	top: 0;
}

.jcf-select .jcf-select-opener:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #637180 transparent transparent;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #e0e1e5;
}

/* multiple select styles */

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}

/* select options styles */

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 16px;
	font-size: 14px;
	width: 100%;
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.jcf-list ul li {
	overflow: hidden;
	display: block;
}

.jcf-list .jcf-overflow {
	overflow: auto;
}

.jcf-list .jcf-option {
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	height: 1%;
}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e0e1e5;
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

/* common custom form elements styles */

.jcf-disabled {
	background: #ddd !important;
}

/* .jcf-focus,
.jcf-focus * {
    border-color: #f00 !important;
} */

#header {
	border-bottom: 1px solid #e0e1e5;
	padding: 20px 0;
	position: relative;
}

#header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo {
	width: 98px;
	margin: 0 10px 0 0;
}

.nav-opener {
	width: 35px;
	height: 26px;
	float: right;
	position: relative;
	margin: -16px 0;
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
	background: #0caea4;
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	height: 4px;
	border-radius: 5px;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 0;
}

.nav-opener:after {
	top: 24px;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 12px;
	left: 0;
	right: 0;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-drop {
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-active .nav-drop {
	opacity: 1;
	visibility: visible;
}

.nav-menu {
	font-size: 14px;
	margin: 0 0 10px;
}

.nav-menu li.active > a {
	color: #0caea4;
}

.nav-menu a {
	display: block;
	text-decoration: none;
	color: #637180;
	position: relative;
}

.nav-menu a:hover {
	color: #0caea4;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main-holder {
	padding: 30px 0 0;
}

.main-holder #content {
	padding: 0 0 2rem;
}

.main-holder #content:only-child {
	padding-right: 0;
}

.main-holder #sidebar {
	margin: 0 0 2rem;
	position: relative;
}

.text-holder {
	padding: 0 0 .7em;
}

.full-img {
	border-radius: 14px;
	overflow: hidden;
	margin: 0 0 1.5em;
}

.full-img img {
	width: 100%;
	display: block;
}

.heading {
	padding: 0 0 1.9em;
}

.heading .heading-frame:only-child h1 {
	margin: 0 0 .75em;
}

.logo-box {
	background: #fafafa;
	width: 170px;
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 14px 14px 0 0;
	padding: 10px;
}

.logo-box .logo-box-holder {
	width: 100%;
	text-align: center;
}

hr {
	height: 1px;
	border: none;
	color: #e0e1e5;
	background: #e0e1e5;
	margin: 0 0 24px;
}

.text-heading {
	text-align: center;
	line-height: 1.6;
	max-width: 840px;
	margin: 0 auto;
	font-size: 16px;
	padding: 0 0 20px;
}

.text-heading h1 {
	margin: 0 0 .35em;
}

.inline-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.inline-box .link {
	margin: 0 8px 0 0;
	font-size: 14px;
}

.btn {
	-webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
	transition: color .3s ease-in-out, background .3s ease-in-out;
	display: inline-block;
	vertical-align: top;
	background: #0caea4;
	color: #fff;
	padding: .7em .7em .8em;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 24px;
	min-width: 240px;
	text-align: center;
	text-decoration: none;
}

.btn:hover {
	background: #097e77;
	color: #fff;
}

.btn.btn-info {
	background: #fff;
	color: #0caea4;
	box-shadow: 0 32px 32px rgba(0, 0, 0, .08);
}

.btn.btn-info:hover {
	background: #0caea4;
	color: #fff;
}

.btn.btn-lg {
	padding: .9em .7em 1em;
	border-radius: 32px;
}

.btn.btn-sm {
	padding: .37em .7em;
	font-weight: 400;
	font-size: 14px;
	min-width: 80px;
}

button.btn {
	border: 0;
}

.link {
	display: inline-block;
	vertical-align: top;
	color: #637180;
	text-decoration: none;
}

.link:hover {
	color: #0caea4;
}

.list {
	list-style-type: disc;
	list-style: none;
	padding: 0;
	margin: 0 0 .5em;
}

.list > li {
	position: relative;
	padding: 0 0 8px 1.8em;
}

.list > li:after {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #637180;
	position: absolute;
	top: 8px;
	left: 10px;
}

.contact-list {
	padding: 11px 0 0;
}

.sidebar-box .contact-list {
	padding-bottom: 18px;
}

.contact-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 0 16px;
}

.contact-list a {
	text-decoration: none;
}

.contact-list a.tel-link {
	color: inherit;
}

.contact-list a.tel-link:hover {
	color: #0caea4;
}

.contact-list address {
	font-style: normal;
}

.contact-list i {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	margin: 0 4px 0 0;
	font-size: 23px;
}

.contact-list i.icon-email {
	font-size: 20px;
}

.contact-list i.icon-link,
.contact-list i.icon-price {
	font-size: 22px;
}

.contact-list .contact-holder {
	-webkit-box-flex: 1;
	-ms-flex: 1 0;
	flex: 1 0;
}

.rating {
	font-size: 16px;
	color: #e0e1e5;
}

.rating[data-state="disabled"] {
	pointer-events: none;
}

.rating .rating-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-flow: row-reverse nowrap;
	flex-flow: row-reverse nowrap;
	margin: 0 -.1em;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.rating:hover input:checked + label i,
.rating:hover input:checked ~ label i {
	content: "\e90a";
	color: #fec923;
}

.rating:hover input + label:hover i,
.rating:hover input + label:hover ~ label i {
	content: "\e90a";
	color: #fec923;
}

.rating input {
	display: none;
}

.rating input:checked + label i,
.rating input:checked ~ label i {
	content: "\e90a";
	color: #fec923;
}

.rating label {
	padding: 0 1px;
}

.rating label i {
	content: "\e90a";
}

.rating.w-halves label:nth-of-type(even) {
	position: absolute;
	width: .37em;
	overflow: hidden;
}

.progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 20px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 4px;
}

.progress .progress-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #34495e;
	white-space: nowrap;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	padding: 0 5px;
}

.custom-gallery {
	padding: 0 0 6.3em;
}

.custom-gallery .fade-gallery {
	-webkit-box-flex: 1;
	-ms-flex: 1 0;
	flex: 1 0;
}

.custom-gallery .anim-gallery {
	margin-left: -150px;
	width: 316px;
}

.anim-gallery {
	display: block;
	position: relative;
}

.anim-gallery .slideset {
	position: relative;
	padding: 0 0 0 28px;
	margin: 0 auto;
	width: 300px;
	overflow: visible !important;
}

.anim-gallery .js-slide {
	position: absolute;
	top: 50%;
	left: 0;
	width: 284px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, -50%, 0) scale(.76) rotate(0deg);
	transform: translate3d(0, -50%, 0) scale(.76) rotate(0deg);
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.anim-gallery .js-slide:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 50%;
	left: -16px;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 25px;
	-webkit-transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
	transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	box-shadow: 0 8px 32px rgba(0, 0, 0, .05);
}

.anim-gallery .js-slide.slide-current {
	left: 16px;
	z-index: 10;
	-webkit-transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
	transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
}

.anim-gallery .js-slide.slide-current:before {
	visibility: hidden;
}

.anim-gallery .js-slide.slide-current .slide-holder {
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, .12);
}

.anim-gallery .js-slide.slide-ontop {
	z-index: 11;
}

.anim-gallery .slide-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 8px 32px rgba(0, 0, 0, .05);
	border-radius: 20px;
	padding: 20px;
	height: 200px;
}

.anim-gallery .slide-frame {
	width: 100%;
	text-align: center;
}

.fade-gallery {
	position: relative;
	background: #2eb963;
	border-radius: 16px;
	color: #fff;
	padding: 0 0 30px;
}

.fade-gallery .slideset {
	position: relative;
}

.fade-gallery .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	visibility: hidden;
	opacity: 1;
	padding: 20px 20px 38px;
}

.fade-gallery .slide.slide-current {
	z-index: 10;
	visibility: visible;
	opacity: 1;
}

.fade-gallery .slide.slide-ontop {
	z-index: 11;
}

.fade-gallery h1 {
	color: inherit;
	margin: 0 0 2px;
}

.fade-gallery h1 a:hover {
	color: inherit;
	opacity: .7;
}

.fade-gallery .title {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 2.8px;
	margin: 0 0 8px;
}

.fade-gallery .inline-box {
	margin: 0 0 27px;
}

.fade-gallery .link {
	color: #fff;
}

.fade-gallery .link:hover {
	opacity: .7;
}

.fade-gallery .link mark {
	color: inherit;
}

.fade-gallery .buttons-gallery {
	padding: 0 20px;
}

.fade-gallery .btn.btn-info {
	box-shadow: 0 25px 20px rgba(0, 0, 0, .08);
}

.buttons-gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.buttons-gallery .btn-prev,
.buttons-gallery .btn-next {
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #fff;
	background: transparent;
	font-size: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.buttons-gallery .btn-prev:hover,
.buttons-gallery .btn-next:hover {
	opacity: .7;
}

.buttons-gallery .btn-prev.disabled,
.buttons-gallery .btn-next.disabled {
	display: none;
}

.buttons-gallery .pagination-holder ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 8px;
}

.buttons-gallery .pagination-holder ul li {
	padding: 0 8px;
}

.buttons-gallery .pagination-holder ul li.active a {
	background: #fff;
}

.buttons-gallery .pagination-holder ul a {
	display: block;
	color: #fff;
	text-decoration: none;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .4);
	text-indent: -9999px;
	overflow: hidden;
}

.buttons-gallery .pagination-holder ul a:hover {
	background: #fff;
}

/* animation sets */

.slide-fadeOutLeft {
	-webkit-animation: fadeOut .7s linear both;
	animation: fadeOut .7s linear both;
}

.slide-fadeInLeft {
	-webkit-animation: fadeIn .7s linear both;
	animation: fadeIn .7s linear both;
}

.slide-fadeOutRight {
	-webkit-animation: fadeOut .7s linear both;
	animation: fadeOut .7s linear both;
}

.slide-fadeInRight {
	-webkit-animation: fadeIn 1s linear both;
	animation: fadeIn 1s linear both;
}

/* move from / to  */

.slide-moveToLeftEasing {
	-webkit-animation: moveToRightEasing .5s ease both;
	animation: moveToRightEasing .5s ease both;
}

.slide-moveToRightEasing {
	-webkit-animation: moveToRightEasing .5s ease both;
	animation: moveToRightEasing .5s ease both;
}

.slide-moveFromLeftEasing {
	-webkit-animation: moveBounceEasing 1s ease both;
	animation: moveBounceEasing 1s ease both;
}

.slide-moveFromRightEasing {
	-webkit-animation: moveBounceEasing 1s ease both;
	animation: moveBounceEasing 1s ease both;
}

.gallery-animating.anim-gallery .js-slide:not(.slide-current),
.gallery-animating.anim-gallery .js-slide:before {
	-webkit-animation: moveBounceEasingSmall .7s .2s ease both;
	animation: moveBounceEasingSmall .7s .2s ease both;
}

/* current slide goes to right and left */

/* next slide goes to right and left */

.cards-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 -12px;
}

.cards-list .card {
	width: calc(50% - 24px);
	margin: 0 12px 24px;
}

.cards-list .card:nth-child(5n + 2) {
	border-color: #1d99d7;
}

.cards-list .card:nth-child(5n + 3) {
	border-color: #a48ad4;
}

.cards-list .card:nth-child(5n + 4) {
	border-color: #ed8562;
}

.cards-list .card:nth-child(5n + 5) {
	border-color: #fec923;
}

.card {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	border-radius: 16px;
	min-height: 168px;
	padding: 17px;
	border: 2px solid #0caea4;
	background: #fff;
	box-shadow: 0 0 24px rgba(0, 0, 0, .08);
}

.card .img-holder {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: -38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 102px;
	width: 100%;
}

.card-number {
	display: block;
	text-transform: uppercase;
	color: #34495e;
	font: 700 36px/1 "Poppins", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	margin: 0 0 7px;
}

.card-title {
	display: block;
	font-size: 14px;
	line-height: 1.1428;
	font-weight: 600;
	text-transform: uppercase;
}

.filter-box {
	border-bottom: 1px solid #e0e1e5;
	margin: 0 0 20px;
}

.filter-row {
	padding: 0 0 49px;
}

.filter-row .text {
	text-align: center;
	font-size: 16px;
	padding: 0 0 18px;
	width: 10%;
}

.filter-row .jcf-select {
	width: 100%;
}

.search-holder {
	position: relative;
}

.search-holder button[type="submit"] {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
	background: 0;
	border: 0;
	margin: 0;
	padding: 0;
	color: #0caea4;
	position: absolute;
	left: 19px;
	font-size: 24px;
}

.search-holder button[type="submit"]:hover {
	color: #097e77;
}

.search-holder input[type="search"] {
	padding-left: 54px;
}

.sort-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #34495e;
}

.sort-box .sort-title {
	margin: 0 4px 0 0;
}

.sort-title {
	font-size: 16px;
	line-height: 24px;
}

.filter-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 -4px 5px;
	font-size: 16px;
}

.filter-list li {
	padding: 0 4px 8px;
}

.filter-list li.active a {
	background: #0caea4;
	color: #fff;
}

.filter-list a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #637180;
	background: #fff;
	border-radius: 16px;
	min-width: 80px;
	padding: 4px 15px;
	text-decoration: none;
}

.filter-list a:hover {
	background: #0caea4;
	color: #fff;
}

.agency-block {
	padding: 0 0 1.5em;
}

.agency-block .pagination {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.agency-block .filter-box {
	border-bottom: 0;
	padding: 0 0 18px;
	margin: 0;
}

.agency-grid {
	margin: 0 -10px;
	padding: 0 0 2em;
}

.agency-grid .agency-box {
	margin: 0 10px 32px;
}

.agency-box {
	-webkit-transition: box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out;
	margin: 0 0 32px;
	border-radius: 16px;
	background: #fff;
}

.agency-box.hover {
	box-shadow: 0 8px 32px rgba(0, 0, 0, .12);
}

.agency-box.hover .logo-box {
	border-radius: 0;
}

.agency-box .logo-box {
	width: 100%;
	border-radius: 16px;
	height: 150px;
	padding: 15px;
}

.agency-box .agency-text {
	padding: 9px 19px;
}

.agency-box h2 {
	letter-spacing: 0;
	margin: 0 0 4px;
}

.partner-block {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 35px 20px;
	color: #fff;
	text-align: center;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: 0 0 2em;
}

.partner-block:after {
	position: absolute;
	content: "";
	background: #0caea4;
	opacity: .88;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.partner-block h1 {
	color: inherit;
	margin: 0 0 27px;
}

.reviews-block {
	padding: 20px 0 0;
}

.reviews-block h2 {
	margin: 0 0 1.5em;
}

.reviews-list {
	padding: 0 0 2.5em;
}

.reviews-list .review-box:last-child {
	border: 0;
}

.reviews-list .review-box:first-child {
	padding-top: 0;
}

.review-box {
	padding: 20px 0 3px;
	border-bottom: 1px solid #e0e1e5;
}

.review-box .rating {
	padding: 0 0 16px;
}

.review-heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 16px;
}

.review-heading .autor {
	max-width: 70%;
}

.review-heading time {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 0;
	flex: 1 0;
	padding: 0 0 0 17px;
}

.review-heading time:after {
	content: "";
	background: #637180;
	width: 4px;
	height: 4px;
	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 50%;
}

.autor {
	display: block;
	font-weight: 700;
	color: #34495e;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 -4px 2em;
}

.pagination li {
	padding: 0 4px 8px;
}

.pagination li.active .page-link {
	background: #0caea4;
	color: #fff;
}

.pagination .page-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #fff;
	color: #637180;
}

.pagination .page-link:hover {
	background: #0caea4;
	color: #fff;
}

.sidebar-box {
	box-shadow: 0 0 48px rgba(0, 0, 0, .08);
	border-radius: 16px;
	background: #fff;
	padding: 31px;
}

.sidebar-box h2 {
	margin: 0 0 .8em;
	letter-spacing: .5px;
}

.sidebar-box .btn {
	display: block;
	width: 100%;
	min-width: 0;
	margin: 0 0 8px;
}

.sidebar-box .btn:last-child {
	margin: 0;
}

.sidebar-box .btn.btn-info {
	box-shadow: none;
}

.sidebar-box .rating {
	margin: 0 0 4px;
}

.amount {
	display: block;
	color: #34495e;
	font: 700 64px/.8 "Poppins", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	margin: 0 0 11px;
}

.bordered-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -16px 12px;
}

.bordered-columns .col {
	width: 52.7%;
	padding: 0 16px;
	position: relative;
}

.bordered-columns .col:after {
	content: "";
	border-left: 1px solid #e0e1e5;
	position: absolute;
	top: -7px;
	bottom: -1px;
	left: 0;
}

.bordered-columns .col:first-child {
	width: 47.3%;
}

.bordered-columns .col:first-child:after {
	display: none;
}

#footer {
	background: #2a3340;
	font-size: 12px;
	padding: 32px 0;
	color: #abadb1;
}

.logo-footer {
	margin: 0 0 15px;
}

.footer-text .footer-list {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.copyright {
	display: block;
	margin: 0 0 6px;
}

.footer-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 -5px;
}

.footer-list li {
	padding: 0 5px;
	position: relative;
}

.footer-list li:after {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	content: "-";
	left: 0;
}

.footer-list li:first-child:after {
	display: none;
}

.footer-list a {
	color: #fff;
	text-decoration: none;
}

.footer-list a:hover {
	color: #0caea4;
}

@media (min-width: 480px) {
	.cards-list .card {
		width: calc(33.33% - 24px);
	}

	.filter-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.filter-row .filter-col {
		width: 96%;
		overflow: hidden;
	}

	.agency-grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.agency-grid .agency-box {
		width: calc(50% - 20px);
		margin: 0 10px 32px;
	}
}

@media (min-width: 768px) {
	.nav-opener {
		display: none;
	}

	.main-nav .btn {
		margin: 0 0 0 32px;
	}

	.nav-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		margin: 0 -10px;
		font-size: 13px;
	}

	.nav-menu li {
		margin: 0 10px;
	}

	.nav-menu li.active > a {
		color: #637180;
	}

	.nav-menu li.active > a:after {
		right: 0;
		left: 0;
		height: 2px;
	}

	.nav-menu a:after {
		-webkit-transition: right .3s ease-in-out, left .3s ease-in-out;
		transition: right .3s ease-in-out, left .3s ease-in-out;
		position: absolute;
		content: "";
		background: #0caea4;
		left: 50%;
		right: 50%;
		bottom: -27px;
	}

	.nav-menu a:hover {
		color: #637180;
	}

	.nav-menu a:hover:after {
		right: 0;
		left: 0;
		height: 2px;
	}

	.main-holder {
		padding: 47px 0 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.main-holder #content {
		padding: 0 2em 2em 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 0;
		flex: 1 0;
	}

	.main-holder #sidebar {
		width: 300px;
	}

	.heading .heading-holder {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-flow: row-reverse nowrap;
		flex-flow: row-reverse nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.heading .heading-frame {
		padding: 0 0 0 15px;
		-webkit-box-flex: 1;
		-ms-flex: 1 0;
		flex: 1 0;
	}

	.heading .heading-frame h1 {
		margin: 0;
	}

	.custom-gallery {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.fade-gallery {
		padding: 0 0 65px;
	}

	.fade-gallery .slide {
		padding: 50px 160px 38px 20px;
	}

	.filter-holder {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.filter-holder .sort-box {
		width: 220px;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding: 4px 0 0;
	}

	.filter-holder .filter-list {
		-webkit-box-flex: 1;
		-ms-flex: 1 0;
		flex: 1 0;
		padding-right: 20px;
	}

	.filter-list a {
		padding: 4px 20px;
	}

	.agency-grid .agency-box {
		width: calc(33.33% - 30px);
		margin: 0 15px 32px;
	}

	.agency-box .logo-box {
		height: 180px;
	}

	.partner-block {
		padding: 54px 20px 64px;
		margin: 0 0 3em;
	}

	.reviews-block {
		padding: 33px 0 0;
	}

	.reviews-block h2 {
		margin: 0 0 2.4em;
	}

	#footer .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.logo-footer {
		margin: 0 30px 0 0;
	}

	.footer-text {
		text-align: right;
	}

	.footer-text .footer-list {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

@media (min-width: 1024px) {
	h1,
	.h1 {
		font-size: 36px;
		letter-spacing: 1px;
	}

	h2,
	.h2 {
		font-size: 24px;
		letter-spacing: 1px;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea {
		font-size: 20px;
		height: 56px;
	}

	.jcf-select {
		height: 56px;
	}

	.jcf-select .jcf-select-text {
		font-size: 20px;
		line-height: 56px;
		height: 56px;
	}

	.jcf-list {
		font-size: 16px;
		line-height: 18px;
	}

	.nav-menu {
		font-size: 14px;
		margin: 0 -16px;
	}

	.nav-menu li {
		margin: 0 16px;
	}

	#wrapper {
		font-size: 16px;
	}

	.main-holder #content {
		padding: 0 4em 2em 0;
	}

	.main-holder #sidebar {
		width: 370px;
	}

	.heading .heading-frame {
		padding: 0 0 0 30px;
	}

	.logo-box {
		width: 240px;
		height: 135px;
	}

	.text-heading {
		font-size: 20px;
		padding: 0 0 34px;
	}

	.btn {
		font-size: 16px;
	}

	.list > li:after {
		top: 11px;
	}

	.custom-gallery .anim-gallery {
		width: 496px;
		margin-left: -196px;
	}

	.anim-gallery .slideset {
		width: 496px;
	}

	.anim-gallery .js-slide {
		width: 480px;
	}

	.anim-gallery .slide-holder {
		height: 270px;
	}

	.fade-gallery .slide {
		padding: 75px 212px 38px 81px;
	}

	.fade-gallery .buttons-gallery {
		padding: 0 81px;
	}

	.cards-list .card {
		width: calc(25% - 24px);
	}

	.filter-row .text {
		font-size: 20px;
		padding: 0 5px 18px;
	}

	.agency-box .logo-box {
		height: 208px;
	}

	.review-heading time:after {
		top: 11px;
	}
}

@media (min-width: 1200px) {
	.main-holder #content {
		padding: 0 8.1em 2em 0;
	}
}

@media (max-width: 767px) {
	.nav-drop {
		display: block;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		position: absolute;
		top: 73px;
		left: 0;
		right: 0;
		z-index: 999;
		padding: 30px 15px 40px;
		background: #fff;
		text-align: center;
	}

	.nav-menu a {
		padding: 10px;
	}

	.custom-gallery .anim-gallery {
		display: none !important;
	}

	.agency-box h2 {
		font-size: 20px;
	}

	#footer {
		text-align: center;
	}
}

@media (max-width: 479px) {
	.filter-row .text {
		display: none;
	}
}

@-webkit-keyframes moveToRightEasing {
	0% {
		-webkit-transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translate3d(100%, -70%, 0) scale(1) rotate(10deg);
		transform: translate3d(100%, -70%, 0) scale(1) rotate(10deg);
		opacity: 0;
	}
}

@keyframes moveToRightEasing {
	0% {
		-webkit-transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translate3d(100%, -70%, 0) scale(1) rotate(10deg);
		transform: translate3d(100%, -70%, 0) scale(1) rotate(10deg);
		opacity: 0;
	}
}

@-webkit-keyframes moveBounceEasing {
	0% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.76) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(.76) rotate(0deg);
	}

	20% {
		-webkit-transform: translate3d(10px, -60%, 0) scale(.76) rotate(5deg);
		transform: translate3d(10px, -60%, 0) scale(.76) rotate(5deg);
	}

	40% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.76) rotate(-2deg);
		transform: translate3d(0, -50%, 0) scale(.76) rotate(-2deg);
	}

	100% {
		-webkit-transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
	}
}

@keyframes moveBounceEasing {
	0% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.76) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(.76) rotate(0deg);
	}

	20% {
		-webkit-transform: translate3d(10px, -60%, 0) scale(.76) rotate(5deg);
		transform: translate3d(10px, -60%, 0) scale(.76) rotate(5deg);
	}

	40% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.76) rotate(-2deg);
		transform: translate3d(0, -50%, 0) scale(.76) rotate(-2deg);
	}

	100% {
		-webkit-transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(1) rotate(0deg);
	}
}

@-webkit-keyframes moveBounceEasingSmall {
	0% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
	}

	30% {
		-webkit-transform: translate3d(10px, -50%, 0) scale(.65) rotate(5deg);
		transform: translate3d(10px, -50%, 0) scale(.65) rotate(5deg);
	}

	70% {
		-webkit-transform: translate3d(5px, -50%, 0) scale(.65) rotate(-2deg);
		transform: translate3d(5px, -50%, 0) scale(.65) rotate(-2deg);
	}

	100% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
	}
}

@keyframes moveBounceEasingSmall {
	0% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
	}

	30% {
		-webkit-transform: translate3d(10px, -50%, 0) scale(.65) rotate(5deg);
		transform: translate3d(10px, -50%, 0) scale(.65) rotate(5deg);
	}

	70% {
		-webkit-transform: translate3d(5px, -50%, 0) scale(.65) rotate(-2deg);
		transform: translate3d(5px, -50%, 0) scale(.65) rotate(-2deg);
	}

	100% {
		-webkit-transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
		transform: translate3d(0, -50%, 0) scale(.65) rotate(0deg);
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInDelay {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInDelay {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
