/*

Theme Name: X - Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/

@import url(../x/style.css);

/*header h1.visually-hidden {
    display: none !important;
}

header .x-container {
    margin: 0 auto !important;
}

.x-nav {
    list-style: none !important;
    margin-top: 28px !important;
}*/

/*** Works on common browsers ***/
::selection {
    background-color: #352e7e;      
    color: #fff;   
}       
/*** Mozilla based browsers ***/  
::-moz-selection {       
    background-color: #352e7e;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #352e7e;
    color: #fff;
}

::-ms-selection {
    background-color: #352e7e;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #352e7e;
    color: #fff;
}

.green {
    color: #16a085 !important;
}

.x-navbar-inner {
    min-height: 70px !important;
}

/* SET/ADJUST THE HEIGHT OF THE TOP MENU HERE */
.x-navbar .desktop .x-nav > li > a {
	/*height: 92px !important;*/
    height: 60px !important;
    /*height: 45px !important;*/
	/*padding-top: 40px !important;*/
    padding-top: 25px !important;
    /*padding-top: 20px !important;*/
}

.x-navbar .x-nav-wrap .x-nav > li > a {
	text-transform: none !important;
	/*color: #707070 !important;*/
}


.x-navbar, .x-navbar-fixed-top {
    /*top: 16px !important;*/
	border-bottom: 1px solid #ccc !important;
    /*height: 80px !important;*/
}

/*.x-navbar-fixed-top {
    top:-15px !important;
}*/

.x-navbar .desktop .x-nav > li:last-child.current-menu-item > a > span {
    color: #fff !important;    
}

.x-nav > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px !important;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff ;    
    text-transform: uppercase;
    margin-top: -10px !important; 
}


a.x-btn-navbar.collapsed {
    margin-top: 8px !important;
}

.x-nav-wrap.mobile  ul li a {
    border: none !important;
}

.sub-menu li {
    border: none !important;   
}

.x-nav > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff ;    
}

#menu-x-demo-menu > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff;	
}

#menu-x-demo-menu > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff;	
}

#menu-main-menu > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff;    
}

#menu-main-menu > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff;    
}

.x-text-type > span {
    font-weight: normal !important;
}


/*.x-nav > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff;    
}

.x-nav > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff;    
}*/

.btn-normal {
    color: #fff;
    background-color: #ea6d44;
    border: 1px solid #ea6d44;
    border-radius: 5px;
    padding:10px 40px;
    margin: 10px 0px;
}

.btn-normal:hover {
    background-color: #ea6d44;
    color: #fff;
}

.h-custom-headline > span {
	font-size: 42px;
	font-weight: normal;
}



.x-navbar .desktop .x-nav > li.current-menu-item {
    box-shadow: 0 3px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li.current-menu-item:hover {
    box-shadow: 0 3px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li:hover {
    box-shadow: 0 3px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li:last-child:hover {
    box-shadow: 0 0px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li.current-menu-item > a > span{
    box-shadow: 0 0px 0 0 #444444 !important; 
    color: #0CAEA4 !important;
}

.x-navbar .desktop .x-nav > li > a:hover > span {
	box-shadow: 0 0px 0 0 #444444 !important; 
}

.x-navbar .desktop .x-nav > li.current-menu-item > a:hover > span{
    box-shadow: 0 0px 0 0 #444444 !important; 
}

#x-section-1 .x-img {
  margin-bottom: 0px !important;
}


/*header.x-header-landmark {
    display: none;
}*/

/*.x-li-icon > i {
    font-size: 32px;
}*/


/*===footer===*/

/*
.x-colophon.top {
    background-color: #384354;
}

.x-colophon.bottom {
    background-color: #2a3340;
    padding: 20px 0;
}
*/
.x-colophon.top .h-widget {
    color: #fff;
    font-size: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

.x-colophon.top > div > div {
    color: #fff;
    font-size: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

/*.x-colophon.top .widget {
    
}*/

.widget_nav_menu .current-menu-item > a::after {
    content: " " !important;
}


.x-colophon.top .widget_nav_menu ul {
    border-bottom: 0px solid #f2f2f2;
}

.x-colophon.top .last .widget ul li {
    background-color: transparent;
    border-top: 0px solid #F2F2F2;
    line-height: 1.5;
}

.x-colophon.top .widget ul li {
    background-color: transparent;
    border-top: 0px solid #f2f2f2;
    line-height: 0.5;

}

.x-colophon.top .widget ul li a {
    color: #abadb1;
}

.x-colophon.top .widget ul li a:hover {
    color: #707070;
}

#footer-logo {
    width: 49%;
    text-align: left;
    float: left;
}

#footer-terms {
    width: 49%;
    text-align: right;
    float: left;
    color: #abadb1;
    font-size: 14px;
}

#footer-terms a {
    color: #fff;
    font-weight: 400;
}

/* BLOG */
.blog header .entry-title {
    font-weight: 700 !important;
    padding: 0px 5px;
    font-size: 32px;
}

.entry-title:before {
    /*color: #ed8562;*/
    content: "" !important;
}

.blog .entry-content.excerpt p, .blog .entry-content p {
    padding: 0px 5px;
    margin-bottom: 20px;
    color: #637180 !important;
}

/* CATEGORY */
/* added by markramos - 04-04-2017 */
.category header .entry-title {
    font-weight: 700 !important;
    padding: 0px 5px;
    font-size: 32px;
}

.category .entry-title:before {
    /*color: #ed8562;*/
    content: "" !important;
}

.category .entry-content.excerpt p, .category .entry-content p {
    padding: 0px 5px;
    margin-bottom: 20px;
    color: #637180 !important;
}




.single .site {
   background-color: #fbfbfc; 
}

.single header .entry-title {
    font-weight: 700 !important;
    padding: 0px 5px;
}


.single .entry-content p, .single .entry-content h1, .single .entry-content h2, .single .entry-content h3, .single .entry-content h4 {
    padding: 0px 5px;
    /* added by markramos */
    color: #000 !important;
}

.single .entry-content ul li {
    font-size: 20px;
}

.p-meta {
    margin-left: 8px;
}

.p-meta>span:after {
    content: " - ";
    padding: 0 0.45em;
}

.h-custom-headline > span {
    font-size: 42px;
    font-weight: 300;
}

.entry-featured {
    margin-top: 15px;
/*	margin-top: 0px;
	padding: 0px;*/
}

h2 > span {
    font-size: 50px !important;
}



h3 > span {
    font-size: 40px !important;
}

h4 > span {
    font-size: 32px !important;
}

h5 > span {
    font-size: 22px !important;
}

header.x-header-landmark {
    /*display:none;*/
    display:block;
    /*background: url(//upviral.com/wp-content/uploads/2015/09/header-bg.jpg) #374354;*/
    background: url(images/header-bg.jpg) #374354;*
    /*background: url(images/blog-header-bg.jpg) #374354;*/
    /* repeat-x;*/
}

.blog header.x-header-landmark{
    display: none !important;
}

.blog .x-landmark, .single .x-landmark {
	padding-right: 0px !important;
	text-align: center !important;
}

.blog .x-landmark > h1.h-landmark {
    /*line-height: 1.85 !important;*/
    line-height: 1 !important;
    height: 160px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* added by mark 01-11-2016 */
.blog .entry-featured {
	margin-top: 0px;
	padding: 0px;
}

/* .blog .entry-wrap .entry-content */
/*==========================*/


.single header h1, .blog header h2 {
    /* added by markramos */
    color: #000 !important;
}

 

/* added by mark 01-11-2016 */
.single .x-header-landmark {
	display: none !important;
}

.blog .x-container.max,.single .x-container.max {
	max-width: 1200px !important;
}
/*==========================*/


.single .x-landmark > h1.h-landmark{
    /*line-height: 3 !important;*/
    line-height: 1.3 !important;
    min-height: 160px;
    padding-top: 25px;
    padding-bottom: 25px;
}

header.x-header-landmark h1{
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0;
    /*line-height: 3 !important;*/
}


/*
article.post[id*='post-'] {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
}
*/
article.post[id*='post-'] {
/*     border: 1px solid #ccc; */
    /* padding: 20px; */
    /* modified by mark 01-11-2016 */
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    
}

article.post[id*='post-'] > .entry-wrap {
/* 	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);	 */
	box-shadow: 0 0 0.35em 0 rgba(0,0,0,0.135);	
}



.single article.post[id*='post-'] {
	padding: 0px !important;
}

.single article.post[id*='post-'] > .entry-wrap > .entry-featured {
	margin-top: 0px !important;
	padding: 0px;
}

.single article.post[id*='post-'] > .entry-wrap > .entry-header {
/*
    display: none !important;
	padding: 5px 20px; 
*/
    padding: 40px 20px 5px; 
}

/* added by mark 01-11-2016 */
.single article.post[id*='post-'] > .entry-wrap > .entry-header > p.p-meta {
	display: none !important;
}
/*===========================*/

.single article.post[id*='post-'] > .entry-wrap > .entry-content.content {
    /*font-family: 'Times New Roman' !important;*/
	padding: 0px 20px 20px;
    /*color: #637180 !important;*/
    /* added by markramos */
    color: #000 !important;
}

.single article.post[id*='post-'] > .entry-wrap > .entry-content.content h4 { 
    /*font-family: 'Times New Roman' !important;*/
    /*color: #384354 !important;*/
    /* added by markramos */
    color: #000 !important;
}

.single article.post[id*='post-'] > .entry-wrap > .entry-content.content p,
.single article.post[id*='post-'] > .entry-wrap > .entry-content.content li {
/*     font-size: 16px !important; */
    font-size: 18px !important;
    font-weight: 400;
    /*color: #637180 !important;*/
    /* added by markramos */
    color: #000 !important;
}

/* added by markramos */
.single article.post[id*='post-'] > .entry-wrap > .entry-content.content  em {
/*    font-weight: 500 !important;
    text-shadow: -1px 0px 0px rgba(150, 150, 150, 1);*/
}
/*=========================*/

.blog article.post[id*='post-'] > .entry-wrap > .entry-header > h2.entry-title {
	padding: 20px 20px 0px 20px;	
}

.blog article.post[id*='post-'] > .entry-wrap > .entry-header > p.p-meta {
	padding: 0px 20px;	
    display: none;

}

/*
.blog article.post[id*='post-'] > .entry-wrap > .entry-header > h2.entry-title,
.blog article.post[id*='post-'] > .entry-wrap > .entry-header > p.p-meta,
.blog article.post[id*='post-'] > .entry-wrap > .entry-header > p.p-meta > span {
*/
    /*font-family: 'Bitter' !important;*/
/* } */

.blog article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt {
    /*font-family: 'Times New Roman' !important;*/
    /* added 01-11-2016 */
    padding: 0px 20px;
}
.blog article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt p,
.blog article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt li{
/*     font-size: 16px !important; */
    font-size: 18px !important;
    font-weight: 400;
    /*color: #637180 !important;*/
    /* added by markramos */
    color: #000 !important;
}

/* added by markramos */
.blog article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt em {
    font-weight: 500 !important;
    text-shadow: -1px 0px 0px rgba(150, 150, 150, 1);
}
/*=========================*/

.blog .x-container.offset {
    margin: 1.75em auto !important;
}

.blog .hentry {
    margin-top: 40px !important;
}

.blog .hentry:first-child {
    margin-top: 0px !important;
}


input#om-full-page-takeover-entrance-optin-email {
    font-size: 20px !important;
    margin-bottom: 9px !important;
}

#om-full-page-takeover-entrance-optin-submit {
    border: 1px solid #f0591d !important;
    font-size: 20px !important;
}

#om-full-page-takeover-entrance-no-button {
    font-size: 16px !important;
}

.om-post-postal {
    margin-bottom: 30px !important;
}

.x-sidebar {
/*     border: 1px solid #ccc; */
    padding: 20px;
    border-radius: 3px;   
    background-color: #fff;
    width: 29.50% !important;
}

/* added by mark 01-12-2016 */
.blog .x-sidebar, .single .x-sidebar {
	box-shadow: 0 0 0.35em 0 rgba(0,0,0,0.135);	
}


/* CATEGORY */
/* added by markramos - 04-04-2017 */

.category header.x-header-landmark{
    display: none !important;
}

.category .x-landmark, .single .x-landmark {
    padding-right: 0px !important;
    text-align: center !important;
}

.category .x-landmark > h1.h-landmark {
    /*line-height: 1.85 !important;*/
    line-height: 1 !important;
    height: 160px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.category .entry-featured {
    margin-top: 0px;
    padding: 0px;
}

.category .x-container.max,.single .x-container.max {
    max-width: 1200px !important;
}

.category article.post[id*='post-'] > .entry-wrap > .entry-header > h2.entry-title {
    padding: 20px 20px 0px 20px;    
}

.category article.post[id*='post-'] > .entry-wrap > .entry-header > p.p-meta {
    padding: 0px 20px;  
    display: none;
}



.category article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt {
    /*font-family: 'Times New Roman' !important;*/
    /* added 01-11-2016 */
    padding: 0px 20px;
}
.category article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt p,
.category article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt li{
/*     font-size: 16px !important; */
    font-size: 18px !important;
    font-weight: 400;
    color: #637180 !important;
}

/* added by markramos */
.category article.post[id*='post-'] > .entry-wrap > .entry-content.excerpt em {
    font-weight: 500 !important;
    text-shadow: -1px 0px 0px rgba(150, 150, 150, 1);
}
/*=========================*/

.category .x-container.offset {
    margin: 1.75em auto !important;
}

.category .hentry {
    margin-top: 40px !important;
}

.category .hentry:first-child {
    margin-top: 0px !important;
}

.category .x-sidebar, .single .x-sidebar {
    box-shadow: 0 0 0.35em 0 rgba(0,0,0,0.135); 
}

/*==========================*/


aside.x-sidebar > div > h4 {
    font-weight: 400;
    font-size: 30px;
}
aside.x-sidebar > div > ul > li {
    border-bottom: 0px solid #f2f2f2; 
    list-style-image: url(images/arrow-right.png);
    margin-left: 15px;
}

aside.x-sidebar > div > ul > li > a {
    font-size: 15px;
    font-weight: 200;
}

/* added by markramos 04-05-2017 */

aside.x-sidebar > div > div > ul > li {
    border-bottom: 0px solid #f2f2f2; 
    list-style-image: url(images/arrow-right.png);
    margin-left: 15px;
}

aside.x-sidebar > div > div > ul > li > a {
    font-size: 15px;
    font-weight: 200 !important;
}

aside.x-sidebar > div > div > ul > li > span > a > span {
    font-size: 15px;
    font-weight: 200 !important;
}
/*aside.x-sidebar > div > ul > li:before {
    content: ">";
    font-size: 15px;
    color: #0caea4;
}*/

header .entry-title {
    font-weight: 400;
    font-size: 30px;    
    margin-left: 5px;
}

header.masthead {
    border-bottom: 1px solid #ddd;
}
    

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

/* BUTTONS */
.x-btn {
    text-transform: uppercase;
    font-weight: 400;
    border: 3px solid;
}

.x-btn.x-btn-regular {
    padding-top: 0.8em !important;
    margin: 0px 5px;
}

.x-btn-primary {
    color: #ffffff;
    border-color: #0caea4 !important;
    background-color: #0caea4 !important;
}

.x-btn-primary:hover {
    color: #ffffff;
    border-color: #0a8e86 !important;
    background-color: #0a8e86 !important;
}

.x-btn:hover {
    background-color: #039691 !important;
}

.x-btn.x-btn-transparent.x-btn-x-large:hover {
    color: #fff !important;
}

.more-link {
    font-family: 'Lato' !important;
    clear: both;
    padding: 10px 50px;
    border: 1px solid;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.more-link:hover {
    text-decoration: none;
}

.x-btn-primary-less, .more-link {
    color: #0caea4 !important;
    border-color: #0caea4 !important;
    background-color: #ffffff !important;
    text-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.x-btn-primary-less:hover, .more-link:hover {
    color: #ffffff !important;
    border-color: #0caea4 !important;
    background-color: #0caea4 !important;
}

.x-btn-danger-less {
    color: #ee5747 !important;
    border-color: #ee5747 !important;
    background-color: #ffffff !important;
    text-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.x-btn-danger-less:hover {
    color: #ffffff !important;
    border-color: #ee5747 !important;
    background-color: #ee5747 !important;
}

/* INPUT */
input {
    border-radius: 3px;
    border: 1px solid #ddd !important;
    font-size: 14px !important;
    font-weight: 300;
    margin-bottom: 0px !important;
}

input[type="text"]:focus {
    border: 1px solid #0caea4 !important;
}

.alert {
    border: 1px solid #ee5747 !important;   
}

select {
   /*color: #0caea4 !important; */
   box-shadow: none !important;
   min-width: 200px;
}

select[multiple] {
    min-width: 200px;
}

select[multiple]:focus {
    outline: none !important;

}

select[multiple]:selected {
    color: #0caea4 !important;
    outline: none !important;
}

/* TABS */
.x-nav-tabs {
    margin-bottom: 0;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}

.x-nav-tabs.top>.active>a {
    border-top: 6px solid #0caea4;
    padding-top: 8px;
    background-color: #fff;
    border-bottom: 0px solid #fff !important;
    margin-right: 0;
}

.x-nav-tabs-item > a{
    /*text-align: left;*/
}

.x-nav-tabs-item > a > span{
    font-weight: 800;
    font-size: 18px;
}

/*  */

.tagline {
    font-size: 22px;
}

/* checkbox */
.xbtncheckbox {
    width: 25px;    
    /*margin: 20px auto;*/
    position: relative;
    float: left;
}



.xbtncheckbox > input[type=checkbox] {
    margin-left: 4px;
    margin-top: -2px;
}

.xbtncheckbox label{
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #dfe2e7;


/*    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );*/
}

.xbtncheckbox label:after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5.5px;
    left: 5.5px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.xbtncheckbox label:hover {
    border: 1px solid #c2c8d1;
}

.xbtncheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    
}

.xbtncheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    background: #0caea4;
}

.xbtncheckbox input[type=checkbox]:checked + label {
    background: #0caea4;
    border:1px solid #0caea4;
}

.xchklabel, .xbtnradio {
    float: left;
    margin-left: 15px;
}


input[type=radio]{
    zoom: 2;
}

.h-comments-title > span {
	font-size: 22px !important;
}

/* H TAG */
h1 > span{ 
    /*display: block;*/
    font-size: 52px !important;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 > span {
    /*display: block;*/
    font-size: 42px !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 > span { 
    /*display: block;*/
    font-size: 36px !important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 > span { 
    font-size: 30px !important;
    /*display: block;*/
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 > span { 
    /*display: block;*/
    font-size: .83em !important;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 > span { 
    /*display: block;*/
    font-size: .67em !important;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/*
#313797
https://theme.co/community/forums/topic/different-menu-per-page/#post-313797
*/

/*  INTEGRATIONS */
.tagline-new {
    padding:0px 5em;
}

.steps-icon {
    margin-top: -19px;
}


.step-content {
    font-size: 20px;
    color: #717d8a;    
    /*padding: 0px 3em;*/
    padding: 0px 5.5em;
}

.small-title {
    font-size: 22px;
    color: #717d8a;
    font-weight: 500;
}

.medium-title {

}

.faq_title {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: .5em !important;
}

.faq_content {
    font-size: 16px !important;
}

/*#x-section-3 > .x-container > .x-column {
    border-radius: 5px;
}*/

.integ-steps {
    border-radius: 5px;
}

.integ-works-with {
    background-color: #fff;
}

.integ-works-with:hover {
    background-color: #fbfbfc !important;
    cursor: pointer;;
    /*background-color: #ccc !important;*/
}

.step-num-container {
    width: 50px;
    text-align: center;
    margin: 0 auto;
    padding:0px 5px;
}

.step-number {
    background-color: #0CAEA4;
    color: #fff;
    font-size: 17px;
    border: 1px solid #0CAEA4;
    border-radius: 61px;
    width: 39px;
    font-weight: 400;
    margin: 0 auto;
    position: absolute;
    top: -19px;
    /*top: -25px;*/
    height: 39px;
    line-height: 2;
}

.txtwhite_p > p {
    color: #fff !important;
}


/*added by mark*/
#tve_gr_one_set .thrv_lead_generation.thrv_lead_generation_vertical .tve_lg_submit {
    margin-top: 20px;
}

#tve_gr_one_set .thrv_content_container_shortcode {
    margin-top: -20px;
}

.tve_lg_input_container.tve_submit_container.tve_lg_submit.tve_lg_2{
    margin-top: 10px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .tagline-new {
        padding:0px 0em;
    }

    .step-content {
        padding: 0px 1.5em;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .tagline-new {
        padding:0px 0em;
    }

    .step-content {
        padding: 0px .5em;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

 #om-full-page-takeover-entrance-optin-title {
    font-size: 40px !important;
    margin-bottom: 15px !important;
 }
 #om-full-page-takeover-entrance-optin-tagline {
    font-size: 20px !important;
    margin-bottom: 15px !important;
 }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}