/*

Theme Name: X - Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/

@import url(../x/style.css);

.green {
    color: #16a085 !important;
}

.x-navbar-inner {
    min-height: 94px !important;
}

.x-navbar .desktop .x-nav > li > a {
	height: 92px !important;
	padding-top: 40px !important;
}

.x-navbar .x-nav-wrap .x-nav > li > a {
	text-transform: none !important;
	/*color: #707070 !important;*/
}

.x-navbar-fixed-top {
	border-bottom: 1px solid #ccc !important;
}

#menu-x-demo-menu > li:last-child > a > span {
    border: 1px solid #0CAEA4;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0CAEA4;
    color: #fff;	
}

#menu-x-demo-menu > li:last-child > a > span:hover {
    border: 1px solid #0a8e86;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #0a8e86;
    color: #fff;	
}

.btn-normal {
    color: #fff;
    background-color: #ea6d44;
    border: 1px solid #ea6d44;
    border-radius: 5px;
    padding:10px 40px;
    margin: 10px 0px;
}

.btn-normal:hover {
    background-color: #ea6d44;
    color: #fff;
}

.h-custom-headline > span {
	font-size: 42px;
	font-weight: normal;
}



.x-navbar .desktop .x-nav > li.current-menu-item {
    box-shadow: 0 3px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li.current-menu-item:hover {
    box-shadow: 0 3px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li:hover {
    box-shadow: 0 3px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li:last-child:hover {
    box-shadow: 0 0px 0 0 #0CAEA4 !important; 
}

.x-navbar .desktop .x-nav > li.current-menu-item > a > span{
    box-shadow: 0 0px 0 0 #444444 !important; 
    color: #0CAEA4 !important;
}

.x-navbar .desktop .x-nav > li > a:hover > span {
	box-shadow: 0 0px 0 0 #444444 !important; 
}

.x-navbar .desktop .x-nav > li.current-menu-item > a:hover > span{
    box-shadow: 0 0px 0 0 #444444 !important; 
}

#x-section-1 .x-img {
  margin-bottom: 0px !important;
}

/*.x-li-icon > i {
    font-size: 32px;
}*/


/*===footer===*/

/*
.x-colophon.top {
    background-color: #384354;
}

.x-colophon.bottom {
    background-color: #2a3340;
    padding: 20px 0;
}
*/
.x-colophon.top .h-widget {
    color: #fff;
    font-size: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

.x-colophon.top > div > div {
    color: #fff;
    font-size: 130%;
    letter-spacing: 0px;
    font-weight: 500;
}

/*.x-colophon.top .widget {
    
}*/

.x-colophon.top .widget_nav_menu ul {
    border-bottom: 0px solid #f2f2f2;
}

.x-colophon.top .widget ul li {
    background-color: transparent;
    border-top: 0px solid #f2f2f2;
    line-height: 0.5;

}

.x-colophon.top .widget ul li a {
    color: #abadb1;
}

.x-colophon.top .widget ul li a:hover {
    color: #707070;
}

#footer-logo {
    width: 49%;
    text-align: left;
    float: left;
}

#footer-terms {
    width: 49%;
    text-align: right;
    float: left;
    color: #abadb1;
    font-size: 14px;
}

/* BLOG */
.entry-title:before {
    /*color: #ed8562;*/
    content: "" !important;
}

.h-custom-headline > span {
    font-size: 42px;
    font-weight: 300;
}

h2 > span {
    font-size: 50px !important;
}



h3 > span {
    font-size: 40px !important;
}

h4 > span {
    font-size: 32px !important;
}

h5 > span {
    font-size: 22px !important;
}

header.x-header-landmark {
    background: url(images/blog-header-bg.jpg) #374354 repeat-x;
}

header.x-header-landmark h1{
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0;
}

article.post[id*='post-'] {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}

.x-sidebar {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;   
}

aside.x-sidebar > div > h4 {
    font-weight: 400;
    font-size: 30px;
}
aside.x-sidebar > div > ul > li {
    border-bottom: 0px solid #f2f2f2; 
    list-style-image: url(images/arrow-right.png);
    margin-left: 15px;
}

aside.x-sidebar > div > ul > li > a {
    font-size: 15px;
    font-weight: 200;
}

/*aside.x-sidebar > div > ul > li:before {
    content: ">";
    font-size: 15px;
    color: #0caea4;
}*/

header .entry-title {
    font-weight: 400;
    font-size: 30px;    
}

header.masthead {
    border-bottom: 1px solid #ddd;
}
    

/* BUTTONS */
.x-btn {
    text-transform: uppercase;
    font-weight: 400;
}

.x-btn-primary {
    color: #ffffff;
    border-color: #0caea4 !important;
    background-color: #0caea4 !important;
}

.x-btn-primary:hover {
    color: #ffffff;
    border-color: #0a8e86 !important;
    background-color: #0a8e86 !important;
}

.more-link {
    clear: both;
    padding: 10px 50px;
    border: 1px solid;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.more-link:hover {
    text-decoration: none;
}

.x-btn-primary-less, .more-link {
    color: #0caea4 !important;
    border-color: #0caea4 !important;
    background-color: #ffffff !important;
    text-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.x-btn-primary-less:hover, .more-link:hover {
    color: #ffffff !important;
    border-color: #0caea4 !important;
    background-color: #0caea4 !important;
}

.x-btn-danger-less {
    color: #ee5747 !important;
    border-color: #ee5747 !important;
    background-color: #ffffff !important;
    text-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.x-btn-danger-less:hover {
    color: #ffffff !important;
    border-color: #ee5747 !important;
    background-color: #ee5747 !important;
}

/* INPUT */
input {
    border-radius: 3px;
    border: 1px solid #ddd !important;
    font-size: 14px !important;
    font-weight: 300;
}

input[type="text"]:focus {
    border: 1px solid #0caea4 !important;
}

.alert {
    border: 1px solid #ee5747 !important;   
}

select:selected {
    color: #0caea4 !important;
}

/* TABS */
.x-nav-tabs {
    margin-bottom: 0;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}

.x-nav-tabs.top>.active>a {
    border-top: 6px solid #0caea4;
    padding-top: 8px;
    background-color: #fff;
    border-bottom: 0px solid #fff !important;
    margin-right: 0;
}

.x-nav-tabs-item > a{
    /*text-align: left;*/
}

.x-nav-tabs-item > a > span{
    font-weight: 800;
    font-size: 18px;
}

/*  */

.tagline {
    font-size: 22px;
}
