<div class="widget-image-container center-div">
  <div class="float_left">
    <div class="c100 p80 small default">
        <span><strong>40</strong><span class="font14px">/60</span></span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
  </div>
  <div class="giveaway-url float_left">
      <div class="reward-icon-container">
        <div class="reward-icon" style="background-color: #3BA4F1; background-image : url(icons/downloadable-icon.svg);"></div>
        <div class="reward-lock-status unlocked" style="background-color: #fff;"></div>
      </div>
      <!-- <img src="../images/coupon-code-unlocked-blue.png" class="img-responsive center-block"> -->
  </div>
</div>

<link rel="stylesheet" href="css/circle.css">
<style>
.reward-icon-container {
  padding: 5px;
  position: relative;
}

.reward-icon {
  height: 88px;
  width: 88px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.reward-lock-status {
  height: 32px;
  width: 32px;
  position:absolute;
  border-radius: 100%;
  bottom: 5px;
  right:0px;
  background-position: 45%;
  background-repeat: no-repeat;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(204,204,204,0.66);
  -moz-box-shadow: 0px 3px 0px 0px rgba(204,204,204,0.66);
  box-shadow: 0px 3px 0px 0px rgba(204,204,204,0.66);
}


/*
  reference for background image color
  https://stackoverflow.com/questions/13367868/modify-svg-fill-color-when-being-served-as-background-image

  later if you want to change the lock icon color, I think we can put the background-image into variable
  and "fill" attribute can be change to what color hex value that the user will select.
  for now I just put it into class so we'll have the reference of what background-image value as SVG.
*/

.unlocked {
  background-image: url('data:image/svg+xml;utf8, <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" height="17px" width="13px" ><path fill="#3BA4F1" d="M0.997,16.999 L0.997,7.999 L1.995,7.999 C1.996,7.999 1.997,7.998 1.998,7.998 L1.998,5.999 C1.998,3.23699999999999 4.23699999999999,0.999 6.997,0.999 C9.417,0.999 11.434,2.717 11.897,4.999 L9.81399999999999,4.999 C9.401,3.836 8.303,2.998 6.997,2.998 C5.34099999999999,2.998 3.998,4.342 3.998,5.999 L3.998,7.998 L12.998,7.999 L12.998,16.999 L0.997,16.999 ZM10.998,9.999 L2.998,9.999 L2.998,14.999 L10.998,14.999 L10.998,9.999 Z "/></svg>');
}

.locked {
  background-image: url('data:image/svg+xml;urf-8, <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" height="17px" width="13px" ><path fill="#ffffff" d="M0.998,16.999 L0.998,7.999 L1.995,7.999 C1.996,7.999 1.998,7.999 1.998,7.999 L1.998,5.999 C1.998,3.23699999999999 4.23699999999999,0.999 6.999,0.999 C9.76000000000001,0.999 11.998,3.23699999999999 11.998,5.999 L11.998,7.999 C12,7.999 12.001,7.999 12.002,7.999 L12.999,7.999 L12.999,16.999 L0.998,16.999 ZM9.998,5.999 C9.998,4.342 8.65600000000001,2.998 6.999,2.998 C5.342,2.998 3.998,4.342 3.998,5.999 L3.998,7.999 L9.998,7.999 L9.998,5.999 ZM10.998,9.999 L2.998,9.999 L2.998,14.999 L10.998,14.999 L10.998,9.999 Z "/></svg>');
}
/*============================================================================================================*/

.font14px {
  font-size: 14px !important;
}

.font16px{
  font-size: 16px !important;
}

.font18px {
  font-size: 18px !important;
}

.center-div {
  margin: auto !important;
}

.float_left {
  float: left;
}

/* START AWARDS*/
.widget-image-container {
    margin: 0 auto;
    width: 190px;
    /*background-color: #ccc;*/
    height: 115px;
    padding: 10px 0px;
}

.widget-image-container strong{ 
  color: #fff !important;
}

.c100 {
  background-color: #c6e6ff !important;
}

.c100:after {
  background-color: #015390 !important;
  border: 1px solid #fff;
  top: 0.065em;
  left: 0.07em;
}

.c100.small {
  margin-top: 7px;
  margin-right: 0px !important;
  font-size: 88px !important;
}

.c100.default .bar,
.c100.default .fill {
  border-color: #3ba4f1 !important;
  /*border-color: #00B4FF !important;*/
}

.c100.default > span, .c100.default:hover > span {
  color: #fff;
}
.c100.default.dark .bar,
.c100.default.dark .fill {
  border-color: #FFF !important;
}
.c100.default.dark:hover > span {
  color: #5fd400;
}

.c100:hover:after {
    top: 0.02em;
    left: 0.03em;
    width: 0.92em;
    height: 0.92em;
}
/* END AWARDS */
</style>