.mcwidget-checkbox {
  margin: 0 auto !important;
  width: fit-content;
  width: -moz-fit-content;
}

.list_check {
  max-width: 500px;
  width: 100%;
  margin:0 auto;
  text-align: left;
}

.list_check li {
  margin-left: 20px;
}

#div_disclaimer p {
  font-size: 12px !important;
}

.marginlr10px {
  margin: 0px 10px 0px;
}

.me_grey img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.me_grey:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

#gclock {
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
#gclock > div {
  width: 320px;
  margin: 0px auto;
}

#gclock > div > div {
  float:left;
  text-align: center;
  margin:20px 4px ;
  line-height: 3;
  text-transform: uppercase;
  font-size: 12px;
}

#gclock span {
  border: 3px solid rgb(255, 128, 0);
  padding: 20px;
  margin: 30px 0px;
  border-radius: 100%;
  font-size: 22px;
  color: rgb(255, 128, 0);
}

#gclock2 {
  margin: 0px auto;
  width: 100%;
  text-align: center;
}
#gclock2 > div {
  width: 320px;
  margin: 0px auto;
}

#gclock2 > div > div {
  float:left;
  text-align: center;
  margin:20px 4px ;
  line-height: 3;
  text-transform: uppercase;
  font-size: 12px;
}

#gclock2 span {
  border: 3px solid rgb(255, 128, 0);
  padding: 20px;
  margin: 30px 0px;
  border-radius: 100%;
  font-size: 22px;
  color: rgb(255, 128, 0);
}

#btnWebinarRegister {
  display: none;
}

/*convertbox */
.cc-window { display: none !important; }

.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important;height:34px;font-size: 20px;}
.w3-light-grey { height: 34px; }
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-container,.w3-panel{padding:0.01em 16px}
.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.btn-orange { background-color: rgb(255, 128, 0); color: #fff; text-transform: normal !important; }
.btn-orange:hover { background-color: rgba(255, 86, 0, 0.89); color: #fff; text-transform: normal !important; }

.x-btn.x-btn-large { border-color: rgb(255, 128, 0); background-color: rgb(255, 128, 0); color: #fff; text-transform: none !important; font-size: 2.26em; text-shadow: none !important; padding: 20px 35px; border-radius: 14px;}
.x-btn.x-btn-large:hover { border-color: rgba(255, 86, 0, 0.89) !important; background-color: rgba(255, 86, 0, 0.89) !important; color: #fff;  }

#webinar_dt { font-size: 20px; width: 100%; display: none !important; }

.font18, .font18 p {
  font-size: 18px !important;
}

.required_field {
  border: 1px solid red !important;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 568px) {
  h1 {
    font-size: 2.5rem !important;
  }
  
  h2 {
    font-size: 1.75rem !important;
  }
  
  .list_check li {
    font-size: 1.35rem !important;
  }
  
  .e5435-10.x-anchor, .e5435-66.x-anchor {
    font-size: 1.35em !important;
  }

  .x-container.offset {
    margin: 1em auto !important;
  }
  
  .entry-content p, .x-li-icon {
    font-size: 14px !important;
  }
  
  .e5435-4.x-text {
    margin: 0.63em 0em 0.3em 0em !important;
  }
  
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}