<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=653863461413697&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 

<script type='text/javascript' src='https://upviral.com/js/moment.js'></script>  
<script type='text/javascript' src='https://upviral.com/js/moment-timezone-all.js'></script>   
<script type='text/javascript' src='https://upviral.com/js/jquery.countdown.js'></script>     
<script type='text/javascript' src='https://upviral.com/jam-scripts/timezone-detect.js'></script>   
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<!-- Facebook Pixel Code -->
<script>
setTimeout(function(){
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '323756101117134');
fbq('track', 'PageView');
  }, 3000);
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=323756101117134&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->      