#btn-new-campaign {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 19px;
}

#giveaway_panel {
	background-color: #fff; padding: 20px 30px; border-radius: 5px;
}

#create_campaign {
	background-color: #fff; padding: 20px 20px; border-radius: 5px;
}

#campaign_setting_nav {
  border: 1px solid #ccc;
  border-radius: 5px;
}

#campaign_setting_nav > ul > li > a {
	color: #b2b2b2;
}

#campaign_setting_nav > ul > li.active > a {
	color: #000;
	font-weight: bold;
	background-color: #fff;
}

#campaign_setting_nav > ul > li.active > a > i {
	/*color: #4db3a4;*/
	color: #b2b2b2;
	font-weight: bold;
	background-color: #fff;
}

#campaign_setting_nav > ul > li.done > a {
	color: #000;
	font-weight: bold;
	background-color: #fff;
}

#campaign_setting_nav > ul > li.done > a > i {
	color: #4db3a4;
	/*color: #FF9900;*/
	font-weight: bold;
	background-color: #fff;
}

#lp_maincontainer {
    min-height: 500px;
}

#lp_maincontainer > h3{
	font-weight: 500;
}

#ct_tabs {
	padding-left: 35.5%;
}

#btn-add-lead-page:hover > div {
	border-color: #FF9900;	
}

#btn-add-lead-page:hover > div > h4{
	color: #FF9900;
}

.nav-pill-header {
	padding: 20px 20px 20px 0px;
}

.nav>li>a {
  padding: 5px 15px;
}

.border-right {
	border-right: 2px solid #ccc;
}

.height-80 {
	height: 80px;
}

.padding-20 {
	padding: 20px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.remove-pad-left {
	padding-left: 0px !important;
}

.remove-pad-right {
	padding-right: 0px !important;
}

.remove-active-border-radius {
	border-radius: 0px !important;
}

.remove-active-border-radius > a {
	border-radius: 0px !important;
}


.form-control-green {
  color: #4DB3A4;
  border: 1px solid #4DB3A4;
}

.nav-tabs > li > a {
	color: #4DB3A4;
}

.text-info {
	color: #3996dd;
}

.border {
	border-color: #000;
}

.leadpage_info {
	margin-top: 0px;
	padding-left: 30px;
}

.leadpage_info > h3 {
	margin-top: 0px;
	font-weight: 500;
	color: #4db3a4;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-45 {
	margin-top: 45px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-55 {
	margin-top: 55px;
}

.btn-success-invert {
	background-color: #fff;
	color: #4db3a4;
	border:1px solid #4db3a4;
}

.btn-new-success {
	background-color: #fff;
	color: #4db3a4;
	border:1px solid #4db3a4;
	width: 85px;
}

.btn-new-danger {
	background-color: #fff;
	color: #ff0000;
	border:1px solid #ff0000;
	width: 85px;
}

.btn-danger-invert {
	background-color: #fff;
	color: #ff0000;
	border:1px solid #ff0000;
}

.lp_plus {
	width: 210px;
	height: 140px;
	color: #4db3a4;
	background-image: url(../../images/plus.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.border-success-dashed {
	border: 2px dashed #4db3a4;
	border-radius: 5px;
}

.newleadpage_info {
	padding-left: 30px;
}

.newleadpage_info_actions > p > a {
	width: 200px;
}

.newleadpage_info_hint {
	/*background-image: url(../../images/bulb.png);*/
	background-repeat: no-repeat;
}

.newleadpage_info_hint > p {
	padding-left: 10px;
	font-style: italic;
	color: #FF9900;
}
.whitebox {
	background-color: #fff;
	border-radius: 5px;
}
.green-link, .green-text {
	/*color: #4db3a4 !important;*/
    color: #3B9C96 !important;
}

.orange-text {
	color: #FF9900;
}

.green-link:hover{
	color: #4db3a4;
}

.removehover-dec:hover {
	text-decoration: none;
	color: #FF9900;
}

.pad-20-tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-20-lr {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-30-lr {
    padding-left: 30px;
    padding-right: 30px;
}

.pad-40-lr {
	padding-left: 40px;
	padding-right: 40px;
}

.pad-45-lr {
	padding-left: 45px;
	padding-right: 45px;
}

.border-1px {
	border: 1px solid #ccc;
}

.btn-default[disabled] {
	color: #ccc;
}

.sel-template {
	width: 262px;
}

/*.page-title > h1 {
	padding-left: 15px;
}

.page-logo {
	padding-left: 15px;
}*/

.nav-center {  
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline
      a {
        float: left
      }
    }
  }
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.arrow_prev {
width: 0;
height: 0;
border-style: solid;
border-width: 35px 15px 35px 0;
border-color: transparent #cccccc transparent transparent;
cursor: pointer;
}

.arrow_next {
width: 0;
height: 0;
border-style: solid;
border-width: 35px 0 35px 15px;
border-color: transparent transparent transparent #cccccc;
cursor: pointer;
}

.margin-top-13p {
	margin-top: 13%;
} 

/* -- */
.facebook_preview_container {
/*    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;*/
}

.right-side {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    width: 496px;
    display: inline-flex;
}

.post-container-div {
    color: black;
    margin-bottom: 10px;
}

.post-container {
    -webkit-border-radius: 3px;
    padding: 12px;
}

.img-size {
    width: 40px;
    height: 40px;
    border: 1px solid #cecece;
}
.img-profile {
    margin-right: 8px;
    float: left;
}

.post-container .fa-angle-down {
    font-size: 22px;
    color: #ddd;
    display: flex;
    float: right;
}


.date-profile {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
}

.date-profile div {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.date-profile-up h5 {
    color: #141823;
    margin: 0;
    padding: 0;
}

.date-profile-up a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.date-profile div {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.date-profile-down {
    color: #9197a3;
}
.fb_globe {
    display: inline-block;
}
.img-container {
    border: 1px solid #ddd;
    margin-top: 10px;
}
.desc {
    height: auto;
    margin: 10px 12px;
}
.desc-fb-title {
    font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
}
.desc-fb-title a {
    color: #141823;
    text-decoration: none;
    -webkit-transition: color .1s ease-in-out;
}
.desc-fb-mid {
    font-family: helvetica, arial, 'lucida grande', sans-serif;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
}
.desc-fb-last {
    padding-top: 9px;
    position: relative;
}
.color-gray {
    color: gray;
}
.img-width {
  width: 468px;
  height: 250px;
}
.twitter_preview_container {
    width: 588px;
    /*width : 496px;*/
    background: #fff;
    border: 1px solid #e1e8ed;
    /* border-right: 1px solid #e1e8ed; */
    background-clip: padding-box;
    /* border-bottom: 1px solid #e1e8ed; */
    border-radius: 6px;
}

.tweet-post {
    /* border-bottom: 1px solid #e1e8ed; */
    cursor: pointer;
    position: relative;
    min-height: 51px;
    padding: 9px 12px;
}

.tweet-post-content {
    margin-left: 58px;
}

.stream-item-header {
    color: #292f33;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.twitter-profile-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.stream-item-header .fullname {
    font-weight: bold;
    color: #292f33;
}
.stream-item-header .username {
    direction: ltr;
    unicode-bidi: embed;
    font-size: 13px;
    color: #8899a6;
}
#twt_date_post {
    font-size: 13px;
    color: #8899a6;
}
.expanded-content {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.1858em;
}
.card2 {
    font-size: 14px;
    line-height: 1.2858;
    margin-top: 10px;
    padding-bottom: 2px;
    margin: 10px 0 0;
}
.twitter-app-content {
    /* font-weight: 700; */
    font-size: 1em;
    vertical-align: middle;
    color: black !important;
    line-height: 1.1858em;
    text-align: left;
}
#TwitterCard {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.1858em;
}

.twit1 {
    margin-bottom: 10px;
}

.twit2 {
    float: left;
    width: 100%;
    clear: both;
    margin-top: .32333em;
    margin-bottom: .32333em;
    font-size: 12px;
    border: 1px solid #E1E8ED;
    border-radius: .42857em;
}
.combine-twt {
    width: 504px;
    float: left;
    padding: 15px;
}
.TwitterCard-title {
    font-size: 1em !important;
    margin: 0 0 .15em;
    text-align: left;
}
.twitter-image img {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}
.TwitterCard-title a {
    font-weight: bold;
    font-family: sans-serif !important;
}

.TwitterCard-Desc {
    margin: 0px;
    text-decoration: none;
}
.twitter-app-content a {
    color: #292F33 !important;
}

.expanded-content .openLink {
    font-size: 12px;
    color: #0084b4 !important;
    text-decoration: none;
}

.client-and-actions {
    clear: both;
    margin-top: 10px;
}

.client-and-actions .metadata {
    line-height: 24px;
    font-size: 13px;
    color: #8899a6;
}

.client-and-actions .metadata a {
    font-size: 13px;
    color: #8899a6;
}


.panel-default > .panel-heading {
	background-color: #fff !important;
}

.panel-title > a{
	color: #4db3a4 !important;
	font-size: 13px;
	font-weight: bold;
}

h4.panel-title_1 {
   margin-top: 10px; 
   margin-bottom: 15px; 
   font-size: 22px; 
   font-weight: 400; 
   text-align: left; 
}

.panel-title_1 > input[checkbox] , .panel-title > input[checkbox], .panel-title_1 > i{
	color: #4db3a4 !important;
}

.panel-title_1 > a > div.checker {
    margin-left: 15px;
    padding-right: 25px;
}
.panel-title_1 > a > i{
    margin-left: 25px;
    padding-right: 5px;
}


.panel-title_1 > a {
	color: #000 !important;
	font-size: 14px;
}

.panel-title_1 > .checker, .panel-title_1 > i, .panel-title > i {
	display: inline-block;
	margin-left: 20px;
}

/*.accordion .panel .panel-title_1 .accordion-toggle.accordion-toggle-styled_1 {

}*/

/*.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed {
    display: inline-block ;
    width: 92% ;
}*/

.accordion-toggle-styled_1 {
    background-image: url("../global/img/portlet-expand-icon.png");
    background-repeat: no-repeat;
    background-position: right 0px;
    margin-right: 15px;
    display: inline-block !important;
    width: 98% !important;
}

/*.accordion-toggle-styled.collapsed {
	background: url("../global/img/portlet-collapse-icon.png") no-repeat !important;
}*/

.accordion-toggle-styled_1.collapsed {
    background-image: url("../global/img/portlet-collapse-icon.png");
    background-repeat: no-repeat;
    background-position: right 0px;
    margin-right: 15px;
    display: inline-block !important;
    /*width: 92% !important;*/
    width: 98% !important;
}


.table.table-light > tbody > tr:last-child > td {
        border-bottom: 1px solid #F2F5F8;
}

.rpoints {
    width: 50px;
    /*border-color: #000;*/
}

.rpoints[disabled] {
 /*   border-color: #ccc !important;*/
}

.current > a {
    font-weight: bolder !important;
}

.open > a {
    color: #384354 !important;
}

.modal-header  {
    background-color: #424C58 !important;
    color: #fff;
}
.modal-header > .close {
    color: #fff;   
}

.hostbox {
    background-color:#F9FAFC; padding: 20px 5px; border-radius: 5px; border:1px solid #e3eaf7;
}

div.checker span, div.checker span:hover {
    background-image: url(../../images/unchecked.png) !important;
    background-position: -2px -2px;
}

div.checker span.checked, div.checker.active span.checked, div.checker span.checked:hover, div.checker.active span.checked:hover {
    background-image: url(../../images/checked.png) !important;
    background-position: -2px -2px;
}
div.checker.hover span.checked, div.checker.focus span.checked, div.checker.hover span, div.checker.focus span
{
      background-position: -2px -2px !important;
}


div.checker span {
    width: 25px !important;
    height: 25px !important;
}

/*#campaign_subnav li:last-child > a:hover {
    text-decoration: underline;
}*/

.notif-title {
    font-size: 17px;
}

.btn-secondary-less-danger {
    color: #cb5a5e;
    background-color: #fff;
    border: 1px solid #cb5a5e;
}

.btn-secondary-less-danger:hover, .btn-secondary-less-danger:focus, .btn-secondary-less-danger:active {
    color: #fff;
    background-color: #cb5a5e;
}

.campaigntype {
    text-align: left;
}
.twitter_preview_container  .combine-twt a {text-decoration: none;display: -webkit-box;max-width: 506px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;line-height: 1.5;text-overflow: ellipsis;}
.twitter_preview_container  p.TwitterCard-Desc {line-height: 18px;}
#lp_maincontainer .twitter_preview_container p {margin-bottom: 0 !important;}
.combine-twt {font-size: 14px;}
p.TwitterCardsGrid-col{text-transform: lowercase;color: #8899A6;}
/* -- */

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		.leadpage_info {
			padding-left: 60px;
		}
		.newleadpage_info {
			padding-left: 60px;
		}

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}

		.accordion-toggle-styled_1 {
		    display: inline-block !important;
		    width: 90% !important;
		}
        .sel-template {
            display: block;
            margin: 0 auto;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	#ct_tabs {
    		padding-left: 31.5%;
    	}
		.leadpage_info {
			text-align: center;
			padding: 0px;
		}

		.newleadpage_info > div{
		    margin: 0 auto;
		    width: 238px;
		}


		.container {
			padding-left: 15px;
			padding-right: 15px;
		}

        .page-header .page-header-menu .hor-menu .navbar-nav > li.active > a {
            color: #fff !important;
        }

/*		.newleadpage_info_hint { 
		    background-position: 20em 0px;
		}*/

        #lp_maincontainer {
            min-height: 200px;
        }
		
        .campaigntype {
            text-align: center;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	#ct_tabs {
    		padding-left: 31.5%;
    	}

/*		.newleadpage_info_hint { 
		    background-position: 37% 0px;
		}*/

		.accordion-toggle-styled_1 {
		    display: inline-block !important;
		    width: 83% !important;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	#ct_tabs {
    		padding-left: 0px;
    	}

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}

		.nav>li>a {
		    padding: 5px 5px;
		}

/*	    .nav-tabs > li {
	        float:none;
	    }*/
/*		.newleadpage_info_hint { 
		    background-position: 35% 0px;
		}*/

		.page-toolbar {
			margin-top: -25px;
		}

		.accordion-toggle-styled_1 {
		    display: inline-block !important;
		    width: 92% !important;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    	#ct_tabs {
    		padding-left: 0px;
    	}
		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
/*	    .nav-tabs > li {
	        float:none;
	    }*/
		.nav>li>a {
		    padding: 5px 5px;
		}

		.page-toolbar {
			margin-top: -25px;
		}
/*	    .page-header .page-header-top .menu-toggler {
	    	 margin: 10px 3px 0 13px !important;
	    }*/
    }