<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>UpViral Test Leads</title>
    <link rel="shortcut icon" href="https://static.upviral.com/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
    <link href='https://fonts.googleapis.com/css?family=Verdana|Geneva|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Impact|Charcoal|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arial|Helvetica|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Tahoma|Geneva|sans-serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Times New Roman|Times|serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Georgia|serif' rel='stylesheet' type='text/css'>
    <link href='https://app.upviral.com/lead/thanks.css/call/ajax/user_id/350/pageid/54769/tmp/thankyoupage7' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://static.upviral.com/assets/thanks_page/em_popup7.css"/>
        <script>

        window.JsConfig = {
                camp: '46444',
                is_found : '',
                user_id : '',
                thanks_cookie_set : 'no',
                ref_url : '',
                ty : '54769',
                ty_type : 'hosted',
                template_type : '7',
                givaway_complete : 0,
                thankyoupage : 'thankyoupage7',
                download_btn : '<div class="counter">{{total_points}}</div>                            <div class="counter-text">Your entries</div>',
                app_id : '653863461413697',
                templatetype: 'thankyoupage',
                reward_tot_point : '0',
                share_enable1 : 'no',
                share_enable2 : 'no',
            }

    </script>
    <script src="https://static.upviral.com/assets/js/all_js.js" type="text/javascript"></script>
</head>

<body class="right_thankyou ty-main">
  <header class="optin-webinar-header-2 fontfamRoboto share-webinar-contest-header">
      <div class="container" id="extra_field_2">
          <h2>Congrats, You're <strong>Booked</strong> For The Webinar</h2>      </div>
    </header>
    <div class="optin-webinar-banner-2">
      <div class="container">
        <div class="row" id="top_point_text">
             <div class="col-md-4">
              <div class="schedule_holder">
                <div class="img f_editor">
                    <img src="https://static.upviral.com/assets/thanks_page/thankspage7/images/circle-calendar.png" class="img-reponsive">
                </div>
                <div class="info">
                    <div class="date font18px text-bold text-white fontfamRoboto f_editor">August 15, 2019</div>
                    <span class="font18px text-cyanblue text-white fontfamRoboto f_editor">Duration: 120 minutes</span>
                </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="speakers_holder">
                <div class="img f_editor">
                    <img src="https://static.upviral.com/assets/thanks_page/thankspage7/images/sample1-o.png" class="img-reponsive">
                </div>
                <div class="info">
                    <div class="name font18px text-bold text-white fontfamRoboto f_editor">Robin A. Ward</div>
                    <span class=" font18px text-white fontfamRoboto text-cyanblue f_editor">Company Co-founder</span>
                </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="speakers_holder">
                <div class="img f_editor">
                    <img src="https://static.upviral.com/assets/thanks_page/thankspage7/images/sample2-o.png" class="img-reponsive">
                </div>
                <div class="info">
                    <div class="name font18px text-bold text-white fontfamRoboto f_editor">Pamela Green</div>
                    <span class=" font18px text-white fontfamRoboto text-cyanblue f_editor">Company Co-founder</span>
                </div>
              </div>
          </div>         </div>
      </div>
    </div>
    <div class="share-webinar-body">
      <div class="container">
        <div class="row">
            <div class="col-md-8 otherfield f_editor" id="extra_field_3">
                <h1 class="blue-decor"><strong>The Program</strong> (heading 1)</h1>
            <p>In this webinar, Robin A. Ward and Pamela Green, co-founders of Company, will reveal discoveries from a recent experiment to answer some key conversion questions:</p>
             <ul>
              <li><span>What is a well-designed landing page?</span></li>
              <li><span>Can a well-designed landing page increase visitor conversion?</span></li>
              <li><span>When should marketers leverage design beauty?</span></li>
             </ul>

              <h3>Our <strong>Speakers</strong> (heading 3)</h3>
              <p>Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Sed vel lectus.</p>
              <h2 class="blue-decor"><strong>Tick List</strong> (heading 2)</h2>
              <p>In this webinar, Author and Author, co-founders of Company, will reveal discoveries from a recent experiment to answer some key conversion questions:</p>
              
              <h4><strong>Topics</strong> covered will include (Heading 4):</h4>

              <ul class="check-list">
                <li>Overview session</li>
                <li>PowerPint presentation</li>
                <li>Q&A session</li>
              </ul>
              <p>This is a paragraph to show off some basic inline styles. For example here’s some <strong>strong text</strong> and here’s some <em>emphasized text</em>. For sure, we’ll need to show <a href="#">links</a> too.</p>

              <h2 class="blue-decor"><strong>Optional</strong> Video (heading 2)</h2>
              <p>Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae.</p>

              <img src="https://static.upviral.com/assets/thanks_page/thankspage7/images/gift-sample.png" class="img-responsive center-block">

              <h2 class="blue-decor"><strong>Basic Paragraph</strong> (heading 2)</h2>
              <p>This is a paragraph to show off some basic inline styles. For example here’s some <strong>strong text</strong> and here’s some <em>emphasized text</em>. For sure, we’ll need to show <a href="#">links</a> too.</p> 

              <div class="spacer10"></div>            </div>
          <div class="col-md-4">
                <!-- widget 2 light -->
                  <div class="widget-contest-1 widget-giveaway-1 widget-giveaway-1-top-red">
            <div class="widget-header">
                <div class="enable_header hide">
                    <div class="widget-col-2 bg-bluegreen round-border-tl border-r-wl" id="tab_1_title">
                      <div class="counter">0</div>
                            <div class="counter-text">Your entries</div>                    </div>
                    <div class="widget-col-2 bg-bluegreen round-border-tr" id="tab_2_title">
                      <div class="counter">0</div>
                            <div class="counter-text">Days left</div>                    </div>
                </div>    
            </div>
            <div class="widget-body">
                <div id="tab_1_description">
                <h3>Want to skip waiting and get <strong>instant free access</strong>?</h3><p>Get 5 of your frieds to sign up with this unique URL:</p>                </div>
                               <div class="spacer25"></div>
     <!--                <div id="slider_data">
                     <div id="myCarousel1" class="carousel slide widget-carousel widget-carousel-named" data-ride="carousel" data-interval="false">
      -->                       <!-- Indicators -->
<!--                                 <ol class="carousel-indicators hide_me">
                                    
                                  <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                                                  </ol> -->
                            <!-- Wrapper for slides -->
<!--                             <div class="carousel-inner" role="listbox">
                                                          <div class="item active">
                                <h5 class="slider-head">uv lead page test</h5>
                                <div class="cleafix"></div>
                                <div class="widget-image-container">
                                    <div class="float_left">
                                        
                                    <div class="c100 p0 small default">
                                        <span><strong>0</strong><span class="font14px">/5</span></span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                  </div>
                                   <div class="giveaway-url float_left">
                                    <a><div class="reward-icon-container">
                                                    <div class="reward-icon reward-icon-url"></div>
                                                    <div class="reward-lock-status locked"></div>
                                                  </div></a>                                    </div>
                                    
                                 </div>
                                                                 </div>
                                                            </div>
                                                    </div>
                    </div> -->

                   <div class="spacer25"></div>
                            <div  id="tab_2_description">
              <p>You’ll get 10 entries in our sweepstake for every friend who signed up through your link!</p>            </div>
            </div>
            <div class="widget-footer round-border-bl round-border-br">
                <div class="form-group">
                    <form class="thankspage7">
                    <div class="clipboard_msg" style="display: none;">
                        Ref Link is successfully copied to clipboard.                    </div>
                      <div class="input-group">
                        <input type="text" id="copyText" class="form-control" value="" name="ref_link" readonly>
                        <div id="copyDynamicText" class="input-group-addon btn-orange f_editor socialicon copybtn" data-clipboard-text="">Copy</div>
                      </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                    <div id="left_content">
                        <p>WAYS TO ENTER</p>                    </div> 
                <div class="social_button_group"> 
                                                                                                <a href="/cdn-cgi/l/email-protection#cff0bcbaada5aaacbbf2e9ada0abb6f2" class="emailshare">
                <div class="upviral_email">
                    <div class="icon "><i class="fa fa-envelope-o fa-lg"></i></div>
                    <div class="social_text">
                      Send by Email                    </div>
                </div>
                </a>
                                                                <div class="text-center otherfield f_editor" id="terms_and_conditions_link">
                    <a href="#stack1" id="main-rules" class="fr-view-ignore-a tour-step-three main-rules" contenteditable="true" data-toggle="modal" style="display:none;">Terms and Conditions</a>                </div>
                            </div>
            </div>


                            <!-- START added new widget By: MarkRamos -->
                            <div class="spacer25"></div>
                            <div class="reward-block">
                                <div class="row">
                                    <div class="col-md-12">

                                       <!-- START CAROUSEL -->
                                        <div class="owl-carousel owl-theme" id="reward-carousel">

                                            <div>
                                            <div class="upviral-reward-container ">
                                              <div class="upviral-rewards unlocked shadow">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-url upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-unlock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                <div class="upviral-rewards-stats-container">
                                                   <button type="button" class="btn-common-popup" >Visit link</button>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards unlocked shadow">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-download upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-unlock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                   <button type="button" class="btn-download" id="btnPopup1">Download</button>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards unlocked shadow">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-download upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-unlock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                   <button type="button" class="btn-download" id="btnPopup2">Download</button>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards unlocked shadow">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-coupon upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-unlock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                  <div class="upviral-coupon-code">
                                                    <div class="up-flip">
                                                      <div class="up-flip-tsmall">
                                                        <div class="up-flip-small"></div>
                                                      </div>
                                                    </div>
                                                    XYZFFFSFD
                                                  </div>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards unlocked shadow">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-reward upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-unlock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                   <button type="button" >Action</button>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-url upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-lock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                  <span class="upviral-rewards-stats-counter"><strong>5</strong> / 12</span>
                                                  <div class="upviral-rewards-progress" data-progress="45" data-barcolor="#24AEF2"></div>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-download upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-lock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                  <span class="upviral-rewards-stats-counter"><strong>5</strong> / 12</span>
                                                  <div class="upviral-rewards-progress" data-progress="60" data-barcolor="#24AEF2"></div>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-coupon upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-lock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                  <span class="upviral-rewards-stats-counter"><strong>5</strong> / 12</span>
                                                  <div class="upviral-rewards-progress" data-progress="45" data-barcolor="#24AEF2"></div>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>

                                            <div>
                                            <div class="upviral-reward-container">
                                              <div class="upviral-rewards">
                                                <div class="upviral-icon-set">
                                                  <div class="upviral-rewards-icon upviral-rewards-icon-reward upviral-rewards-lock-bg"></div>
                                                  <div class="upviral-rewards-icon-tiny upviral-rewards-icon-tiny-lock upviral-rewards-lock-bg"></div>
                                                </div>
                                                <div class="upviral-rewards-title">Reward name goes here</div>
                                                <div class="upviral-rewards-text">This is example of locked URL reward. Optional description goes here.</div>
                                                
                                                <div class="upviral-rewards-stats-container">
                                                  <span class="upviral-rewards-stats-counter"><strong>5</strong> / 12</span>
                                                  <div class="upviral-rewards-progress" data-progress="45" data-barcolor="#24AEF2"></div>
                                                </div>
                                              </div>  
                                            </div>
                                            </div>


                                        </div>
                                  <!-- END CAROUSEL -->

               
                                    </div>
                                  </div>
                                  <!-- <hr> -->
                                  <div class="spacer10"></div>
                            </div>

                            <div class="leaderboard-block">

                              <!-- #START LEADERBOARD CONTAINER-->
                                <div class="row" id="leaderboard-title">
                                  <div class="col-md-12">
                                    LEADERBOARD
                                  </div>
                                </div>

                              <div id="leaderboard-container">

                                  <div class="leaderboard-nav">
                                      <div class="left">
                                        <div class="nav prev-nav inactive"></div>
                                      </div>
                                      <div class="center">001-005</div>
                                      <div class="right">
                                        <div class="nav next-nav"></div>
                                      </div>
                                  </div>


                                  <!-- #START LEADERBOARD -->
                                  <div class="new-leaderboard-cont" data-page="1" data-seq="001-005">
                                      <div class="new-leaderboard" style="background-color: #FFFBEE;">
                                        <div class="pic64" style="background-image: url(assets/images/mark1280.jpg); background-size: cover;">
                                          <span class="yellow">001</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star yellow" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="">
                                          <span class="grey">002</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="background-color: #FCF8F3;">
                                        <div class="pic64" style="background-image: url(assets/images/mark1280.jpg); background-size: cover;">
                                          <span class="brown">003</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star brown" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard active" style="">
                                        <div class="pic64" style="">
                                          <span class="">004</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="">
                                          <span class="">005</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="new-leaderboard-cont" data-page="2" data-seq="006-010">
                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="background-image: url(assets/images/mark1280.jpg); background-size: cover;">
                                          <span class="">006</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="">
                                          <span class="">007</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="background-image: url(assets/images/mark1280.jpg); background-size: cover;">
                                          <span class="">008</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="">
                                          <span class="">009</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>

                                      <div class="new-leaderboard" style="">
                                        <div class="pic64" style="">
                                          <span class="">010</span>
                                        </div>
                                        <div class="name" style="">Marcus</div>
                                        <div class="points" style="">
                                          <div class="star" style="">
                                          102 803
                                          </div>
                                        </div>
                                      </div>
                                  </div>



                                  <div class="leaderboard-nav">
                                      <div class="left">
                                        <div class="nav prev-nav inactive"></div>
                                      </div>
                                      <div class="center">001-005</div>
                                      <div class="right">
                                        <div class="nav next-nav"></div>
                                      </div>
                                  </div>

                              </div>
                              <!-- #END LEADERBOARD CONTAINER-->

                              <!-- <div class="spacer20"></div> -->
                            </div>
                            <!-- END added new widget By: MarkRamos -->

        </div>
                <!-- /widget 2 light -->
          </div>
        </div>  
      </div>
    </div>

    <div class="optin-webinar-footer">
        <div class="container f_editor otherfield" id="extra_field_4">
        <p><p>Footer text goes here.</p></p>
      </div>
    </div>  
    <div class='powered'><a href='http://upviral.com/?utm_source=widget&utm_medium=widget&utm_campaign=widget' target="_blank"><img src="https://upviral.s3.amazonaws.com/images/1437371574powered.png"></a></div>
    <div class="pindesc" style="display:none"></div>
    <div class="pintitle" style="display:none">Hey Check it out!</div>
    <div class="pinimg" style="display:none"></div>
    <div class="s_img" style="display:none"></div>
    
    <div id="coupon1" style="display:none;">
        <div style="background: black;opacity: 0.6;width: 100%;height: 100%;position: fixed;top: 0%;left: 0%;z-index: 9999;"></div>
        <div style="position: fixed;top: 50%;left: 40%;z-index: 9999;width: 320px;height:190px;margin-left: -50px;margin-top: -50px;background: white;overflow-y: auto;overflow-x: hidden;border: 0px solid black;border: 0px solid rgba(000, 0, 0, .5);-webkit-background-clip: padding-box;background-clip: padding-box;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; padding: 5px;">
            <h2></h2>
            <a href="#" class="close_fancy copybtn">OK</a>
        </div>
    </div>
    <div class="modal fade custom_fullmodal" tabindex="-1" role="dialog" id="stack1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
                  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    <div class="stack2_lod" style="display:none;background: black;opacity: 0.6;width: 100%;height: 100%;position: fixed;top: 0%;left: 0%;z-index: 999;"></div>
    <div id="stack2" style="display:none;position: fixed;left: 50%;top: 50%;z-index: 9999;background: white;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width:90%;max-width:600px;">
        <div class="modalbody"></div>
    </div>
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

  <!-- START Added By: MarkRamos -->

  <link rel="stylesheet" href="assets/js/owl-carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/js/owl-carousel/dist/assets/owl.theme.default.min.css">
  <script src="assets/js/owl-carousel/dist/owl.carousel.min.js"></script>
    <script>
      $('input.effect-17').blur(function(){
        var v = $(this).val();
        if(v != ''){
          $(this).parent().find('label').addClass('lblFocus');
        }else{
          $(this).parent().find('label').removeClass('lblFocus');
        }
      });

      $(document).ready(function(){
        $('.owl-carousel').owlCarousel('destroy');

        $("#reward-carousel").owlCarousel({
          items : 1,
          nav: false,
          dots: true,
          loop: false,
          responsiveClass:true,
          responsive:{
              0:{
                  items:1,
                  nav:false
              },
              768:{
                  items:1,
                  nav:false
              },
              860:{
                  items:1,
                  nav:false
              },
              1024:{
                  items:1,
                  nav: false,
              }
          }
        });

        // $('#reward-carousel-action').owlCarousel({
        //   items : 1,
        //   nav: false,
        //   dots: true,
        //   loop: false
        // });
      });

      /* hover function for rewards */
      $('.reward-icon-container').hover(function(){
          var id = $(this).data('value');
          $('.reward-coupon#'+ id).show();
      },function(){
          // var id = $(this).data('value');
          // $('.reward-coupon#'+ id).hide();
      });

      $('.reward-coupon').hover(function(){
          $(this).show();
      },function(){
          $(this).hide();
      });

    </script>
    <script src="assets/js/resize.window.js?v=0.0.3"></script>


    <link rel="stylesheet" href="assets/css/new-rewards.css?v=0.1.3" >
    <link rel="stylesheet" href="assets/css/animate.css?v=0.1.0" >
    <script src="assets/js/widgetized.js?v=0.1"></script>
    <script src="assets/js/widget-pager.js?v=0.1"></script>

    <script>
    $(document).ready(function(){
      $('.btn-common-popup').click(function(){
        $('#krakow-popup').modal('show');
      });

      $('#btnPopup1').click(function(){
        $('#krakow-popup-action').modal('show');
      });

      $('#btnPopup2').click(function(){
        $('#krakow-popup-action2').modal('show');
      });

      
    });
    </script>

<div class="modal fade kp-terms" tabindex="-1" role="dialog" id="krakow-popup">
  <div class="modal-dialog modal-ku" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">&nbsp;</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="PoppinsBold font36px">Rules - Heading 1</div>
            <p class="fontOpenSans">This is a paragraph to show off some basic inline styles. For example here’s some <strong>strong</strong> text and here’s some <em>emphasized</em> text. Occasionally we may need show <a href="#">links</a>.</p>
            <div class="PoppinsBold font24px">Bullet List - Heading 2</div>
            <p class="fontOpenSans">This is example bullet list:</p>
            <ul class="fontOpenSans bullet">
              <li>List item 1</li>
              <li>List item 2</li>
              <li>List item 3</li>
            </ul>
            <div class="PoppinsBold font18px">Bullet List - Heading 3</div>
            <p class="fontOpenSans">Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.</p>
            <div class="PoppinsBold font16px">Bullet List - Heading 4</div>
            <p class="fontOpenSans">Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.</p>
            <div class="PoppinsBold font16px">Bullet List - Heading 5</div>
            <p class="fontOpenSans">Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.</p>

          </div>
        </div>
      </div>
      <div class="modal-footer">
<!--         <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade kp-action" tabindex="-1" role="dialog" id="krakow-popup-action">
  <div class="modal-dialog modal-ku" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">&nbsp;</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="">
        <div class="modalsteps">
            <div class="modalsteps-inner modalsteps-inner-step1">
              <div class="numbered-marker numbered-marker-1">1</div>
              <div class="numbered-marker numbered-marker-2">2</div>
              <!-- <div class="numbered-marker numbered-marker-3">3</div> -->
            </div>
            <div class="curve"></div>

        </div>
        <!-- START CONTENT ACTION -->
        <div class="row popup-action">
          <div class="col-md-12 text-center">
            <div id="section1" class="sections" style="">
              <h2>Follow me on YouTube</h2>
              <!-- <button type="button" class="btn btn-primary btnNextSlide" >Next</button> -->
              <div class="btn-share btnNextSlide">
                <div class="btn-share-icon"></div>
                <div class="btn-share-text">Follow me on Youtube</div>
                <div class="btn-share-score">+10</div>
              </div>
            </div>
            <div id="section2" class="sections" style="">
              <h2>What is my YouTube account?</h2>
              <!-- <button type="button" class="btn btn-primary btnPrevSlide" ><i class="fa fa-arrow-right"></i></button> -->
              <input type="text" class="input-action">
              <div class="btn-move btnPrevSlide">
                <div class="btn-move-icon"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT ACTION -->

        <!-- <div style="overflow: hidden;"> -->

        <!-- </div> -->
      </div>
      <div class="modal-footer">
<!--         <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade kp-action" tabindex="-1" role="dialog" id="krakow-popup-action2">
  <div class="modal-dialog modal-ku" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">&nbsp;</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="">
        <div class="row step1" style="position: relative; ">
        <div class="modalsteps">
            <div class="modalsteps-inner modalsteps-inner-step1">
              <div class="numbered-marker numbered-marker-1">1</div>
              <!-- <div class="numbered-marker numbered-marker-2">2</div> -->
              <!-- <div class="numbered-marker numbered-marker-3">3</div> -->
            </div>
            <div class="curve" style="height: 100px; border-radius: 0px;"></div>
        </div>
        <!-- START CONTENT ACTION -->
        <div class="row popup-action">
          <div class="col-md-12 text-center">
            <div id="section1a" class="sections" style="">
              <h2>Follow me on YouTube</h2>
              <!-- <button type="button" class="btn btn-primary btnNextSlide" >Next</button> -->
              <div class="btn-share btnNextSlideInline">
                <div class="btn-share-icon"></div>
                <div class="btn-share-text">Follow me on Youtube</div>
                <div class="btn-share-score">+10</div>
              </div>
            </div>

          </div>
        </div>
        <!-- END CONTENT ACTION -->
        </div>

        <div class="row step2" style="position: relative;">
        <div class="modalsteps">
            <div class="modalsteps-inner modalsteps-inner-step2">
              <!-- <div class="numbered-marker numbered-marker-1">1</div> -->
              <div class="numbered-marker numbered-marker-2 numbered-inactive">2</div>
              <!-- <div class="numbered-marker numbered-marker-3">3</div> -->
            </div>
            <div class="curve" style="height: 100px; border-radius: 0px;"></div>

        </div>
        <!-- START CONTENT ACTION -->
        <div class="row popup-action">
          <div class="col-md-12 text-center">
            <div id="section2a" class="sections" style="">
              <h2>What is my YouTube account?</h2>
              <!-- <button type="button" class="btn btn-primary btnPrevSlide" ><i class="fa fa-arrow-right"></i></button> -->
              <input type="text" class="input-action">
              <div class="btn-move btnPrevSlideInline">
                <div class="btn-move-icon"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT ACTION -->
        </div>

        <!-- <div style="overflow: hidden;"> -->

        <!-- </div> -->
      </div>
      <div class="modal-footer">
<!--         <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<script>
// $('#section2').hide();
function openWindow( url ){
    var viewportwidth = document.documentElement.clientWidth;
    var viewportheight = document.documentElement.clientHeight;
    window.open(url, '_blank', "height=500,width=400,left=0,top=0");
    window.focus();
}

function openNewBackgroundTab(){
    var a = document.createElement("a");
    a.href = "http://www.youtube.com/";
    var evt = document.createEvent("MouseEvents");
    //the tenth parameter of initMouseEvent sets ctrl key
    evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0,
                                true, false, false, false, 0, null);
    a.dispatchEvent(evt);
}

$('.btnNextSlide').click(function(){
  // openNewBackgroundTab();
  openWindow('http://youtube.com');
  $(this).parent().removeClass("diagonalRightUp").removeClass("diagonalLeftUp").addClass("diagonalLeftDown");
  $('.popup-action #section2').removeClass("diagonalLeftDown").addClass('diagonalLeftUp');
  $('#krakow-popup-action .modalsteps-inner')
  .removeClass('modalsteps-inner-step1')
  .addClass('modalsteps-inner-step2');
});

$('.btnPrevSlide').click(function(){
  // Code below is in comment 
  // the code intends to go back to previous step (with animation)
  /*
  $(this).parent().removeClass("diagonalRightDown").removeClass("diagonalLeftUp").addClass("diagonalRightDown");
  $('.popup-action #section1').removeClass("diagonalLeftDown").addClass("diagonalRightUp");
  $('.modalsteps-inner')
    .removeClass('modalsteps-inner-step2')
    .addClass('modalsteps-inner-step1');
  */
  $('#krakow-popup-action').modal('hide');
});

$('#krakow-popup-action .numbered-marker-1').click(function(){
  $('#section2').removeClass("diagonalRightDown").removeClass("diagonalLeftUp").addClass("diagonalRightDown");
  $('.popup-action #section1').removeClass("diagonalLeftDown").addClass("diagonalRightUp");
  $('.modalsteps-inner')
    .removeClass('modalsteps-inner-step2')
    .addClass('modalsteps-inner-step1');
  // $('#section1').removeClass("diagonalRightUp").removeClass("diagonalLeftUp").addClass("diagonalLeftDown");
  // $('.popup-action #section2').removeClass("diagonalLeftDown").addClass('diagonalLeftUp');
  // $('.modalsteps-inner')
  // .removeClass('modalsteps-inner-step1')
  // .addClass('modalsteps-inner-step2');
});

$('.numbered-marker-2').click(function(){
  $('#section1').removeClass("diagonalRightUp").removeClass("diagonalLeftUp").addClass("diagonalLeftDown");
  $('.popup-action #section2').removeClass("diagonalLeftDown").addClass('diagonalLeftUp');
  $('#krakow-popup-action .modalsteps-inner')
  .removeClass('modalsteps-inner-step1')
  .addClass('modalsteps-inner-step2');
  // $('#section2').removeClass("diagonalRightDown").removeClass("diagonalLeftUp").addClass("diagonalRightDown");
  // $('.popup-action #section1').removeClass("diagonalLeftDown").addClass("diagonalRightUp");
  // $('.modalsteps-inner')
  //   .removeClass('modalsteps-inner-step2')
  //   .addClass('modalsteps-inner-step1');
});

$('.btnNextSlideInline').click(function(){
  // openWindow('http://youtube.com');
  $('.numbered-marker-2').removeClass('numbered-inactive');
});

$('.btnPrevSlideInline').click(function(){
  $('#krakow-popup-action2').modal('hide');
});

$(document).ready(function(){
  /* remove previous bottom border */
  $('.new-leaderboard.active').prev().css({ "border-bottom":"none"});
});
</script>
<style>
#section2 {
  /*transform: translate(-400px, 400px);*/
  transform: translate(600px, 50px);
}

</style>

  <!-- END Added By: MarkRamos -->



  <!-- START Added By: MarkRamos -->
  <!-- THIS IS A PATCH FIX FOR WIDGETS ONLY APPLIES ON THIS TEMPLATE -->
  <style type="text/css">
    .new-leaderboard .pic64 span { margin-left: -40px !important; }
    .new-leaderboard .name { text-align: left; }

    .widget-footer {
      border-bottom: 1px solid #DFE2E7; padding: 20px 20px;
    }
    #krakow-popup button.close ,#krakow-popup-action  button.close, #krakow-popup-action2 button.close { 
      margin-top: -22px;
      opacity: 1;
    }
    @media only screen and (max-width : 768px) {

      .leaderboard-block { padding: 0px 15px; }
      #krakow-popup, #krakow-popup-action { padding-right: 0px !important; }
      .modal-ku {
        max-width: ;
        margin: auto;
      }
    }

    @media only screen and (max-width : 600px) {
      .leaderboard-block { padding: 0px 0px; }
    }
  </style>
  <!-- END Added By: MarkRamos -->


</body>
</html>